In [1]:
import pandas as pd
import numpy as np

In [2]:
datalake = pd.read_csv('./datalake/datalake.csv', encoding='utf-8', header=0, low_memory=False)

In [3]:
original_data = datalake.copy(deep=True)
print(datalake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850013 entries, 0 to 850012
Data columns (total 42 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   COMISARIA           850013 non-null  object
 1   CUADRA              53118 non-null   object
 2   DERIVADA_FISCALIA   715460 non-null  object
 3   DIRECCION           850013 non-null  object
 4   DIST_CIA            850013 non-null  object
 5   DIST_HECHO          850013 non-null  object
 6   DPTO_CIA            850013 non-null  object
 7   DPTO_HECHO          850013 non-null  object
 8   EDAD                847713 non-null  object
 9   ESTADO_DEN          850013 non-null  object
 10  EST_CIVIL           849957 non-null  object
 11  FECHA_HORA_HECHO    850013 non-null  object
 12  ID_COMISARIA        850013 non-null  int64
 13  ID_EST_CIVIL        849962 non-null  object
 14  ID_LIBRO            850013 non-null  object
 15  ID_MATERIA          850013 non-null  int64
 16  ID_MODALIDAD        850013 non-null  int64
 17  ID_NIVEL_EDUCATIVO  90162 non-null   object
 18  ID_REGION           850013 non-null  int64
 19  ID_SIT_PERSONA      850013 non-null  object
 20  ID_SUBTIPO          850013 non-null  int64
 21  ID_TIPO             850013 non-null  int64
 22  ID_TIPO_DENUNCIA    850013 non-null  object
 23  LIBRO               850013 non-null  object
 24  MATERIA             850013 non-null  object
 25  MODALIDAD           850013 non-null  object
 26  NIVEL_EDUCATIVO     55764 non-null   object
 27  OCUPACION           353046 non-null  object
 28  PROV_CIA            850013 non-null  object
 29  PROV_HECHO          850013 non-null  object
 30  REGION              850013 non-null  object
 31  SEXO                849347 non-null  object
 32  SIT_PERSONA         850013 non-null  object
 33  SUB_TIPO            850013 non-null  object
 34  TIPO                850013 non-null  object
 35  TIPO_DENUNCIA       850013 non-null  object
 36  UBICACION           850013 non-null  object
 37  UBIGEO_CIA          850013 non-null  int64
 38  UBIGEO_HECHO        850013 non-null  int64
 39  VIA                 850013 non-null  object
 40  fec_registro        850013 non-null  object
 41  pais_natal          850013 non-null  object
dtypes: int64(8), object(34)
memory usage: 272.4+ MB
None

In [4]:
# Idenficando las columnas por tipo de dato
object_columns = []
int64_columns = []

def update_types():
    global object_columns, int64_columns
    object_columns = datalake.select_dtypes(['object']).columns.to_list()
    int64_columns = datalake.select_dtypes(['int64']).columns.to_list()
    print(f'object ({len(object_columns)})\n {object_columns} ')
    print(f'int64 ({len(int64_columns)})\n {int64_columns} ')

update_types()

object (34)
 ['COMISARIA', 'CUADRA', 'DERIVADA_FISCALIA', 'DIRECCION', 'DIST_CIA', 'DIST_HECHO', 'DPTO_CIA', 'DPTO_HECHO', 'EDAD', 'ESTADO_DEN', 'EST_CIVIL', 'FECHA_HORA_HECHO', 'ID_EST_CIVIL', 'ID_LIBRO', 'ID_NIVEL_EDUCATIVO', 'ID_SIT_PERSONA', 'ID_TIPO_DENUNCIA', 'LIBRO', 'MATERIA', 'MODALIDAD', 'NIVEL_EDUCATIVO', 'OCUPACION', 'PROV_CIA', 'PROV_HECHO', 'REGION', 'SEXO', 'SIT_PERSONA', 'SUB_TIPO', 'TIPO', 'TIPO_DENUNCIA', 'UBICACION', 'VIA', 'fec_registro', 'pais_natal']
int64 (8)
 ['ID_COMISARIA', 'ID_MATERIA', 'ID_MODALIDAD', 'ID_REGION', 'ID_SUBTIPO', 'ID_TIPO', 'UBIGEO_CIA', 'UBIGEO_HECHO']

In [5]:
#Se están clasificando columnas de id's (incluyendo UBIGEOs) como int64.
#Estos datos no son propiamente numéricos, de hecho, la única categoría numérica sería 'EDAD', pero ahora es de tipo object.
#Primero se convertirán todas las columnas id detectadas como int64 a object
for col in int64_columns:
    datalake[col] = datalake[col].astype(str)
update_types()

object (42)
 ['COMISARIA', 'CUADRA', 'DERIVADA_FISCALIA', 'DIRECCION', 'DIST_CIA', 'DIST_HECHO', 'DPTO_CIA', 'DPTO_HECHO', 'EDAD', 'ESTADO_DEN', 'EST_CIVIL', 'FECHA_HORA_HECHO', 'ID_COMISARIA', 'ID_EST_CIVIL', 'ID_LIBRO', 'ID_MATERIA', 'ID_MODALIDAD', 'ID_NIVEL_EDUCATIVO', 'ID_REGION', 'ID_SIT_PERSONA', 'ID_SUBTIPO', 'ID_TIPO', 'ID_TIPO_DENUNCIA', 'LIBRO', 'MATERIA', 'MODALIDAD', 'NIVEL_EDUCATIVO', 'OCUPACION', 'PROV_CIA', 'PROV_HECHO', 'REGION', 'SEXO', 'SIT_PERSONA', 'SUB_TIPO', 'TIPO', 'TIPO_DENUNCIA', 'UBICACION', 'UBIGEO_CIA', 'UBIGEO_HECHO', 'VIA', 'fec_registro', 'pais_natal']
int64 (0)
 []

#### Filtro inicial de atributos

In [6]:
# Las columnas ID no se considera necesarias para el análisis, por lo que se eliminan
datalake = datalake[datalake.columns.drop(list(datalake.filter(regex='ID_')))]
# Las columnas UBIGEO identifican el departamento, provincia y distrito de cada registro, por lo que se eliminan
datalake = datalake[datalake.columns.drop(list(datalake.filter(regex='UBIGEO')))]
# Para estandarizar los nombres de las columnas, se convertirán a mayúsculas
datalake.columns = datalake.columns.str.upper()

# La investigación busca predecir la modalidad de violencia familiar que efectua una persona
# Se limita los registros a los que poseen SIT_PERSONA == 'DENUNCIADO'
datalake = datalake[datalake['SIT_PERSONA'] == 'DENUNCIADO']
datalake = datalake.drop('SIT_PERSONA', axis=1)

update_types()
datalake.info()

object (28)
 ['COMISARIA', 'CUADRA', 'DERIVADA_FISCALIA', 'DIRECCION', 'DIST_CIA', 'DIST_HECHO', 'DPTO_CIA', 'DPTO_HECHO', 'EDAD', 'ESTADO_DEN', 'EST_CIVIL', 'FECHA_HORA_HECHO', 'LIBRO', 'MATERIA', 'MODALIDAD', 'NIVEL_EDUCATIVO', 'OCUPACION', 'PROV_CIA', 'PROV_HECHO', 'REGION', 'SEXO', 'SUB_TIPO', 'TIPO', 'TIPO_DENUNCIA', 'UBICACION', 'VIA', 'FEC_REGISTRO', 'PAIS_NATAL']
int64 (0)
 []
<class 'pandas.core.frame.DataFrame'>
Int64Index: 422522 entries, 0 to 850010
Data columns (total 28 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   COMISARIA          422522 non-null  object
 1   CUADRA             25064 non-null   object
 2   DERIVADA_FISCALIA  349558 non-null  object
 3   DIRECCION          422522 non-null  object
 4   DIST_CIA           422522 non-null  object
 5   DIST_HECHO         422522 non-null  object
 6   DPTO_CIA           422522 non-null  object
 7   DPTO_HECHO         422522 non-null  object
 8   EDAD               420901 non-null  object
 9   ESTADO_DEN         422522 non-null  object
 10  EST_CIVIL          422515 non-null  object
 11  FECHA_HORA_HECHO   422522 non-null  object
 12  LIBRO              422522 non-null  object
 13  MATERIA            422522 non-null  object
 14  MODALIDAD          422522 non-null  object
 15  NIVEL_EDUCATIVO    16630 non-null   object
 16  OCUPACION          166714 non-null  object
 17  PROV_CIA           422522 non-null  object
 18  PROV_HECHO         422522 non-null  object
 19  REGION             422522 non-null  object
 20  SEXO               422279 non-null  object
 21  SUB_TIPO           422522 non-null  object
 22  TIPO               422522 non-null  object
 23  TIPO_DENUNCIA      422522 non-null  object
 24  UBICACION          422522 non-null  object
 25  VIA                422522 non-null  object
 26  FEC_REGISTRO       422522 non-null  object
 27  PAIS_NATAL         422522 non-null  object
dtypes: object(28)
memory usage: 93.5+ MB

#### Exploración de datos

##### Valores perdidos

In [7]:
# Trimea los textos y si resulta vacio, se pone nan para luego aplicar el fillna
for col in object_columns:
    datalake[col] = datalake[col].str.strip()
datalake = datalake.replace('', np.nan)

In [8]:
# Resumen de valores perdidos
def missing_values():
    row_count = datalake.shape[0]
    print(f'Número total de registros: {row_count}')
    global_null_count = datalake.isnull().sum().sum()
    print(f'Número total de valores perdidos: {global_null_count}')
    print('Valores perdidos por columna:')
    for col in datalake.columns:
        null_count = datalake[col].isnull().sum()
        null_percent = null_count / row_count * 100
        if null_count > 0:
            print(f'{col}: {null_count} ({null_percent:.2f}%)')

missing_values()

Número total de registros: 422522
Número total de valores perdidos: 1365562
Valores perdidos por columna:
CUADRA: 397458 (94.07%)
DERIVADA_FISCALIA: 72967 (17.27%)
EDAD: 5808 (1.37%)
ESTADO_DEN: 172615 (40.85%)
EST_CIVIL: 7 (0.00%)
FECHA_HORA_HECHO: 16091 (3.81%)
NIVEL_EDUCATIVO: 405892 (96.06%)
OCUPACION: 278348 (65.88%)
SEXO: 243 (0.06%)
UBICACION: 13 (0.00%)
FEC_REGISTRO: 16091 (3.81%)
PAIS_NATAL: 29 (0.01%)

##### Valores únicos para cada atributo

In [9]:
def get_uniques(col):
    uniques = datalake[col].dropna().unique()
    print(f'{col} [{len(uniques)} unique values]')
    print(uniques)

In [10]:
for col in datalake.columns:
    get_uniques(col)

COMISARIA [1044 unique values]
['HUANCHACO' 'DULANTO' 'JICAMARCA' ... 'CORDOVA'
 'COMISARIA DE FAMILIA - HUARAZ' 'INCAHUASI']
CUADRA [902 unique values]
['1.0' '2.0' '7.0' '35.0' '12.0' '13.0' '10.0' '6.0' '4.0' '16.0' '17.0'
 '3.0' '15.0' '26.0' '18.0' '5.0' '14.0' '36.0' '8.0' '9.0' '27.0' '22.0'
 '50.0' '38.0' '32.0' '31.0' '11.0' '39.0' '28.0' '24.0' '33.0' '46.0'
 '62.0' '41.0' '23.0' '40.0' '20.0' '37.0' '19.0' '64.0' '30.0' '34.0'
 '70.0' '2732.0' '42.0' '21.0' '25.0' '72.0' '56.0' '356.0' '1532.0' '0.0'
 '154.0' '51.0' '821.0' '374.0' '178.0' '58.0' '501.0' '29.0' '760.0'
 '53.0' '128.0' '650.0' '231.0' '1086.0' '497.0' '227.0' '181.0' '855.0'
 '88.0' '74.0' '1057.0' '44.0' '911.0' '590.0' '830.0' '441.0' '739.0'
 '115.0' '400.0' '83.0' '499.0' '136.0' '979.0' '1379.0' '48.0' '668.0'
 '301.0' '67.0' '470.0' '63.0' '221.0' '126.0' '187.0' '54.0' '245.0'
 '270.0' '273.0' '59.0' '68.0' '1167.0' '3290.0' '466.0' '112.0' '106.0'
 '1034.0' '504.0' '65.0' '505.0' '135.0' '45.0' '385.0' '419.0' '78.0'
 '869.0' '697.0' '994.0' '584.0' '214.0' '176.0' '109.0' '310.0' '142.0'
 '97.0' '179.0' '429.0' '555.0' '287.0' '290.0' '731.0' '145.0' '755.0'
 '298.0' '140.0' '103.0' '569.0' '560.0' '89.0' '102.0' '345.0' '209.0'
 '640.0' '230.0' '297.0' '81.0' '225.0' '549.0' '210.0' '79.0' '503.0'
 '1620.0' '120.0' '486.0' '797.0' '455.0' '446.0' '1258.0' '835.0' '799.0'
 '149.0' '130.0' '163.0' '320.0' '73.0' '208.0' '325.0' '211.0' '1222.0'
 '384.0' '276.0' '111.0' '735.0' '556.0' '632.0' '256.0' '151.0' '107.0'
 '811.0' '127.0' '101.0' '47.0' '160.0' '300.0' '996.0' '803.0' '250.0'
 '85.0' '1160.0' '330.0' '538.0' '625.0' '495.0' '257.0' '240.0' '381.0'
 '969.0' '71.0' '427.0' '164.0' '3135.0' '189.0' '1623.0' '118.0' '600.0'
 '265.0' '212.0' '263.0' '425.0' '55.0' '577.0' '143.0' '141.0' '478.0'
 '763.0' '700.0' '507.0' '295.0' '690.0' '2135.0' '5352.0' '999.0' '117.0'
 '152.0' '306.0' '190.0' '251.0' '170.0' '195.0' '98.0' '974.0' '511.0'
 '192.0' '732.0' '520.0' '207.0' '1299.0' '146.0' '309.0' '514.0' '203.0'
 '305.0' '105.0' '157.0' '312.0' '129.0' '180' '2' '1' '9' '5' '8' '20'
 '4' '32' '7' '10' '21' '3' '6' '210' '23' '948' '38' '18' '40' '12' '11'
 '25' '317' '15' '45' '167' '139' '95' '182' '100' '16' '410' '33' '14'
 '489' '496' '155' '980' '22' '37' '24' '158' '36' '17' '0' '512' '13'
 '35' '19' '30' '177' '218' '130' '29' '560' '1286' '208' '26' '112' '145'
 '115' '116' '70' '31' '505' '34' '685' '39' '28' '42' '2873' '49' '47'
 '27' '161' '710' '585' '2093' '702' '78' '300' '63' '308' '54' '144'
 '463' '55' '111' '407' '320' '2098' '52' '550' '675' '113' '517' '804'
 '418' '2649' '41' '535' '312' '58' '604' '214' '357' '65' '303' '53'
 '274' '507' '267' '817' '59' '129' '201' '1128' '2652' '133' '813' '409'
 '638' '330' '348' '316' '151' '285' '191' '1632' '269' '361' '755' '551'
 '403' '433' '131' '277' '123' '888' '450' '1401' '261' '674' '120' '500'
 '102' '812' '251' '192' '3172' '80' '370' '556' '3069' '247' '643' '622'
 '64' '919' '476' '458' '265' '325' '60' '448' '873' '69' '57' '141' '44'
 '306' '503' '198' '122' '178' '473' '279' '143' '71' '51' '213' '176'
 '630' '796' '288' '302' '204' '892' '629' '109' '304' '200' '240' '590'
 '655' '172' '341' '402' '1500' '863' '775' '1600' '531' '56' '46' '106'
 '955' '276' '68' '289' '364' '952' '961' '340' '670' '163' '132' '621'
 '324' '173' '142' '849' '530' '101' '157' '264' '540' '250' '256' '190'
 '861' '332' '262' '249' '170' '159' '735' '701' '654' '940' '688' '400'
 '284' '168' '270' '613' '280' '640' '911' '229' '104' '99' '739' '72'
 '851' '857' '103' '456' '353' '135' '183' '995' '236' '105' '215' '197'
 '369' '528' '355' '971' '156' '219' '222' '715' '326' '128' '822' '255'
 '245' '179' '323' '504' '108' '780' '790' '686' '134' '77' '719' '393'
 '650' '380' '440' '107' '538' '816' '342' '271' '319' '751' '98' '713'
 '399' '174' '742' '209' '424' '597' '203' '858' '110' '442' '492' '510'
 '140' '337' '767' '608' '189' '217' '645.0' '607.0' '108.0' '705.0'
 '540.0' '339.0' '860.0' '49.0' '709.0' '388.0' '293.0' '147.0' '139.0'
 '707.0' '177.0' '269.0' '124.0' '901.0' '618.0' '751.0' '367.0' '232.0'
 '665.0' '168.0' '200.0' '218.0' '204.0' '249.0' '433.0' '380.0' '397.0'
 '353.0' '721.0' '338.0' '100.0' '134.0' '357.0' '289.0' '119.0' '162.0'
 '313.0' '530.0' '793.0' '790.0' '603.0' '720.0' '329.0' '348.0' '543.0'
 '161.0' '155.0' '448.0' '857.0' '745.0' '828.0' '303.0' '228.0' '104.0'
 '807.0' '186.0' '531.0' '521.0' '185.0' '703.0' '220.0' '285.0' '314.0'
 '371.0' '167.0' '456.0' '242.0' '318.0' '850.0' '606.0' '976.0' '795.0'
 '337.0' '323.0' '114.0' '535.0' '319.0' '238.0' '183.0' '198.0' '387.0'
 '123.0' '952.0' '216.0' '410.0' '926.0' '548.0' '430.0' '150.0' '335.0'
 '719.0' '286.0' '378.0' '76.0' '509.0' '382.0' '587.0' '366.0' '282.0'
 '920.0' '864.0' '110.0' '219.0' '866.0' '784.0' '361.0' '413.0' '364.0'
 '960.0' '373.0' '248.0' '747.0' '315.0' '475.0' '423.0' '605.0' '451.0'
 '307.0' '202.0' '800.0' '701.0' '562.0' '359.0' '715.0' '125.0' '847.0'
 '533.0' '399.0' '206.0' '197.0' '468.0' '936.0' '680.0' '592.0' '956.0'
 '544.0' '845.0' '534.0' '675.0' '271.0' '854.0' '133.0' '131.0' '132.0'
 '993.0' '591.0' '332.0' '648.0' '302.0' '424.0' '725.0' '802.0' '464.0'
 '840.0' '224.0' '631.0' '159.0' '765.0' '215.0' '724.0' '415.0' '409.0'
 '458.0' '116.0' '336.0' '542.0' '344.0' '743.0' '175.0' '411.0' '950.0'
 '169.0' '277.0' '165.0' '278.0' '767.0' '138.0' '333.0' '601.0' '408.0'
 '252.0' '327.0' '557.0' '222.0' '326.0' '247.0' '201.0' '684.0' '658.0'
 '376.0' '414.0' '281.0' '545.0' '515.0' '471.0' '153.0' '824.0' '390.0'
 '239.0' '962.0' '418.0' '401.0' '279.0' '137.0' '52.0' '935.0' '573.0'
 '681.0' '416.0' '479.0' '638.0' '343.0' '940.0' '316.0' '87.0' '340.0'
 '619.0' '595.0' '461.0' '500.0' '393.0' '266.0' '440.0' '539.0' '474.0'
 '465.0' '350.0' '733.0' '711.0' '785.0' '342.0' '259.0' '870.0' '525.0'
 '477.0' '490.0' '746.0' '405.0' '275.0' '652.0' '253.0' '775.0' '568.0'
 '572.0' '630.0' '492.0' '450.0' '532.0' '616.0' '426.0' '236.0' '99.0'
 '362.0' '406.0' '368.0' '113.0' '148.0' '180.0' '235.0' '280.0' '268.0'
 '953.0' '825.0' '660.0' '880.0' '404.0' '417.0' '643.0' '551.0' '753.0'
 '861.0' '487.0' '930.0' '454.0' '484.0' '895.0' '685.0' '552.0' '375.0'
 '217.0' '158.0' '292.0' '421.0' '205.0' '761.0' '553.0' '294.0' '121.0'
 '561.0' '437.0' '498.0' '394.0' '851.0' '589.0' '629.0' '261.0' '878.0'
 '321.0' '459.0' '144.0' '741.0' '938.0' '671.0' '496.0' '234.0' '722.0'
 '363.0' '355.0' '95.0' '57.0' '403.0' '156.0' '246.0' '519.0' '288.0'
 '644.0' '794.0' '567.0' '874.0' '485.0' '649.0' '272.0' '602.0' '547.0'
 '491.0' '992.0' '173.0' '512.0' '351.0' '453.0' '655.0']
DERIVADA_FISCALIA [9 unique values]
['JUZGADO DE FAMILIA' 'OTROS' 'JUZGADO DE PAZ' 'UNIDAD PNP'
 'FISCALÍA PENAL' 'FISCALÍA DE FAMILIA' 'JUZGADO PENAL'
 'FISCALIA DE MEDIO AM' 'FISCALIA DE MEDIO AMBIENTE']
DIRECCION [1642 unique values]
['AV. LA RIVERA PLAZA SAN MARTIN' 'CALLAO'
 'Mz. Q  S/N Ovalo Principal de Jicamarca' ... '44130' 'CASEREIA YAMANGO'
 'CALLE SUCRE MZ E LTE 3']
DIST_CIA [795 unique values]
['HUANCHACO' 'CALLAO' 'LURIGANCHO - CHOSICA' 'OCOÑA' 'PARCONA' 'PUCUSANA'
 'LA ESPERANZA' 'CHIMBOTE' 'VILLA EL SALVADOR' 'SAN MIGUEL'
 'JOSE LEONARDO ORTIZ' 'JULIACA' 'VILLA MARIA DEL TRIUNFO' 'HUAURA'
 'MAJES' 'SAMEGUA' 'JOSE LUIS BUSTAMANTE Y RIVERO' 'ATE'
 'SAN JUAN DE LURIGANCHO' 'CAYMA' 'BARRANCO' 'MIRAFLORES'
 'SAN MARTIN DE PORRES' 'VENTANILLA' 'EL AGUSTINO' 'LURIN' 'CHICLAYO'
 'ABANCAY' 'LAMBAYEQUE' 'ISLAY' 'SANTA ANITA' 'CUSCO' 'HUANCAVELICA'
 'CERRO COLORADO' 'NUEVO CHIMBOTE' 'SAN JUAN DE MIRAFLORES' 'SANTIAGO'
 'TAMBURCO' 'PUNO' 'INDEPENDENCIA' 'CAJAMARCA' 'SANTIAGO DE SURCO' 'PIURA'
 'LOS OLIVOS' 'LA MOLINA' 'SAN VICENTE DE CAÑETE' 'LA OROYA' 'LIMA'
 'PAUCARPATA' 'PARIÑAS' 'CARABAYLLO' 'ICA' 'HUARAZ' 'TRUJILLO' 'SURQUILLO'
 'ILO' 'SULLANA' 'MOQUEGUA' 'SAN BORJA' 'HUACHO' 'LOS BAÑOS DEL INCA'
 'TACNA' 'EL TAMBO' 'VICTOR LARCO HERRERA' 'SAN ISIDRO' 'COMAS' 'MORROPE'
 'UCHUMAYO' 'ZARUMILLA' 'ASCOPE' 'LA PERLA' 'ILAVE'
 'CORONEL GREGORIO ALBARRACIN LANCHIPA' 'CIENEGUILLA' 'LA VICTORIA'
 'RIMAC' 'SOCABAYA' 'WANCHAQ' 'CHACLACAYO' 'CALLERIA' 'AREQUIPA'
 '26 DE OCTUBRE' 'ALTO DE LA ALIANZA' 'SAYLLA' 'SECHURA' 'CHINCHA ALTA'
 'MOLLENDO' 'CATACAOS' 'PACHACUTEC' 'EL PORVENIR' 'SAMUEL PASTOR'
 'PUEBLO LIBRE' 'BELLAVISTA' 'LINCE' 'CHORRILLOS' 'CHULUCANAS'
 'ALTO SELVA ALEGRE' 'DESAGUADERO' 'IMPERIAL' 'JACOBO HUNTER' 'SUNAMPE'
 'YAUTAN' 'MAGDALENA DEL MAR' 'IQUITOS' 'PUENTE PIEDRA' 'CASMA' 'ANTA'
 'YARINACOCHA' 'PUNTA NEGRA' 'CORRALES' 'LA TINGUIÑA' 'SANTA'
 'VISTA ALEGRE' 'OLMOS' 'HUANCAYO' 'BELEN' 'TUMAN' 'FLORENCIA DE MORA'
 'MARIANO MELGAR' 'JAYANCA' 'PISCO' 'SARIN' 'TIABAYA' 'NAUTA' 'VILLA RICA'
 'BREÑA' 'PIMENTEL' 'PATIVILCA' 'SAN LUIS' 'SAN ANDRES' 'YUNGAY'
 'NUEVO IMPERIAL' 'CONCEPCION' 'SANTA ROSA' 'REQUE' 'LAREDO' 'ANCON'
 'JAUJA' 'CAJATAMBO' 'HUARMEY' 'HUALMAY' 'MOCHE' 'SANTA EULALIA'
 'SAN SEBASTIAN' 'MARCONA' 'POMALCA' 'PICSI' 'SALAVERRY' 'MOTUPE'
 'BUENOS AIRES' 'MALA' 'MOCHUMI' 'MATUCANA' 'PAITA' 'URCOS' 'TUMBES'
 'SUPE' 'HUMAY' 'LA JOYA' 'CHILCA' 'AGUAS VERDES' 'SAN ANTONIO'
 'PUEBLO NUEVO' 'HUARAL' 'ALTO LARAN' 'CARMEN DE LA LEGUA REYNOSO'
 'CAMANA' 'POCOLLAY' 'PUNTA DE BOMBON' 'PACHACAMAC' 'SACHACA' 'CALCA'
 'FERREÑAFE' 'COISHCO' 'SAN JUAN BAUTISTA' 'PALPA' 'MANANTAY' 'SAÑA'
 'LA BREA' 'PATAPO' 'PARAMONGA' 'SAN JOSE' 'DEAN VALDIVIA' 'LOS ORGANOS'
 'ETEN PUERTO' 'CAYALTI' 'HUANCABAMBA' 'CASTILLA' 'AIJA' 'EL ALTO'
 'INDIANA' 'JAEN' 'PUCALA' 'JULI' 'SAN IGNACIO' 'TARMA' 'SAN BARTOLO'
 'CASA GRANDE' 'CHARACATO' 'TUCUME' 'SAMANCO' 'CARHUAZ' 'PAIJAN' 'VICE'
 'MI PERU' 'SUPE PUERTO' 'SALAS' 'ETEN' 'SUBTANJALLA' 'SAYAN'
 'SAN AGUSTIN' 'HUAROCHIRI' 'CHANCAY' 'SAN JERONIMO' 'HUARO' 'CHOCOPE'
 'SANTA CRUZ' 'LA MATANZA' 'YARABAMBA' 'MACHUPICCHU' 'CERRO AZUL'
 'YUNGUYO' 'PACORA' 'CHICAMA' 'PEBAS' 'OTUZCO' 'CHIQUIAN' 'URUBAMBA'
 'SICAYA' 'PITIPO' 'MAZAN' 'QUILMANA' 'HUAYUCACHI' 'TAMBO DE MORA'
 'BERNAL' 'PUCARA' 'CHINCHA BAJA' 'BAGUA' 'IGNACIO ESCUDERO'
 'RICARDO PALMA' 'PUNTA HERMOSA' 'TUPAC AMARU INCA' 'MARCARA' 'ORCOTUNA'
 'SAN RAMON' 'MONSEFU' 'SAN JERONIMO DE TUNAN' 'TAYABAMBA' 'ACOBAMBA'
 'SABANDIA' 'HUANUCO' 'CHONGOYAPE' 'POMATA' 'CHUPACA' 'PAMPACOLCA'
 'SAPALLANGA' 'SAN PEDRO DE LLOC' 'PACAIPAMPA' 'NIEPOS' 'MEJIA'
 'JEQUETEPEQUE' 'MANCOS' 'PACANGA' 'CHEPEN' 'RECUAY' 'LOCUMBA' 'NEPEÑA'
 'MORALES' 'INCLAN' 'EL INGENIO' 'PARACAS' 'CALANGO' 'OYOTUN'
 'CHANCHAMAYO' 'LOS AQUIJES' 'LA PUNTA' 'COCACHACRA' 'MORROPON' 'MORO'
 'SAN NICOLAS' 'TINGO' 'BAGUA GRANDE' 'LUYA' 'LIMABAMBA' 'LAMUD' 'LA PECA'
 'SANTO TOMAS' 'CAJARURO' 'FLORIDA' 'CHACHAPOYAS' 'JAMALCA' 'CHIRINOS'
 'YAMBRASBAMBA' 'CHAVIN DE HUANTAR' 'LONGAR' 'HUARI' 'CHACAS' 'NIEVA'
 'NAZCA' 'POMABAMBA' 'SIHUAS' 'CORONGO' 'CABANA' 'PACHIA' 'CHIRIMOTO'
 'AMARILIS' 'MOLINOPAMPA' 'PISCOBAMBA' 'ARAMANGO' 'HUAMACHUCO' 'POROTO'
 'ANGASMARCA' 'VIRU' 'APATA' 'PATAZ' 'SANTIAGO DE CHUCO' 'OCALLI' 'JULCAN'
 'CASCAS' 'RAZURI' 'MOROCOCHA' 'OXAPAMPA' 'ILLIMO' 'LA ARENA' 'LANCONES'
 'PARCOY' 'SAN FRANCISCO DE DAGUAS' 'IMAZA' 'ASIA' 'PACASMAYO' 'CUMBA'
 'SAN MATEO' 'JUMBILLA' 'LA JALCA' 'ACOLLA' 'CHAO' 'SAMA' 'SAN PABLO'
 'ENCAÑADA' 'ZORRITOS' 'BAMBAMARCA' 'NAMORA' 'CHILETE'
 'EDUARDO VILLANUEVA' 'ICHOCAN' 'CACHACHI' 'CONTUMAZA' 'PEDRO GALVEZ'
 'CALQUIS' 'HUASMIN' 'HUAMBOS' 'CUTERVO' 'SITACOCHA' 'TARATA' 'MAGDALENA'
 'JESUS' 'CELENDIN' 'CAJABAMBA' 'CHOTA' 'GUADALUPE' 'EL PRADO' 'SUCRE'
 'ANDAHUAYLILLAS' 'COMBAPATA' 'CHINCHERO' 'PITUMARCA' 'SANTA ANA' 'POROY'
 'ANDAHUAYLAS' 'YANAOCA' 'ESPINAR' 'SICUANI' 'CHONGOS ALTO' 'OROPESA'
 'SAN JUAN' 'TACABAMBA' 'CANTA' 'CATAHUASI' 'CAMPORREDONDO' 'HUALGAYOC'
 'APLAO' 'YAUCA' 'CHALA' 'POCSI' 'ACARI' 'PARURO' 'NICOLAS DE PIEROLA'
 'CABANACONDE' 'CHIGUATA' 'JOSE MARIA QUIMPER' 'POLOBAYA' 'LOMAS' 'VIRACO'
 'MARIANO NICOLAS VALCARCEL' 'MADRIGAL' 'ANDARAY' 'CHAPARRA' 'CARAVELI'
 'YURA' 'ATICO' 'MARISCAL CACERES' 'CHIVAY' 'QUIRUVILCA' 'CHUQUIBAMBA'
 'MACATE' 'MARANGANI' 'ORCOPAMPA' 'QUINJALCA' 'BELLA UNION' 'YONAN'
 'HUAMBO' 'LLAMA' 'LA BANDA DE SHILCAYO' 'CURGOS' 'OYON' 'LIMATAMBO'
 'SAN JOSE DE LOURDES' 'TORATA' 'LUNAHUANA' 'AYACUCHO' 'PALMAPAMPA'
 'MARCABAMBA' 'NUEVO PROGRESO' 'AYNA' 'PICHARI' 'CORACORA' 'HUANCAPI'
 'PAUSA' 'HUANTA' 'PANGOA' 'CANCHAYLLO' 'PILCUYO' 'TAMBOPATA' 'SATIPO'
 'PICHANAQUI' 'RUPA-RUPA' 'SAN JUAN DE BIGOTE' 'POMAHUACA' 'CARMEN ALTO'
 'TAMBO' 'PERENE' 'CHICLA' 'CARHUAMAYO' 'BOLIVAR' 'JUANJUI' 'RIOJA'
 'SAPOSOA' 'CANCHAQUE' 'SORITOR' 'MOYOBAMBA' 'HAQUIRA' 'COTABAMBAS'
 'ANCO_HUALLO' 'RANRACANCHA' 'HUANIPACA' 'VILCABAMBA' 'PROGRESO' 'JUNIN'
 'PACUCHA' 'CURA MORI' 'TALAVERA' 'HUANCARANI' 'JOSE SABOGAL' 'TINTA'
 'PUQUIO' 'PUSI' 'ONGOY' 'PUCYURA' 'INAMBARI' 'YURIMAGUAS' 'OCROS'
 'HUEPETUHE' 'PARDO MIGUEL' 'GAMARRA' 'MARAS' 'AMBO' 'CHINCHEROS'
 'ANDARAPA' 'YANACA' 'COLAN' 'SAN PEDRO DE CACHORA' 'OXAMARCA'
 'QUERECOTILLO' 'HUAYLLABAMBA' 'SUYO' 'SAN HILARION' 'TOCACHE'
 'EL CARMEN DE LA FRONTERA' 'PACHACONAS' 'SANTIAGO DE CAO' 'CONTAMANA'
 'MIGUEL CHECA' 'TICLACAYAN' 'AYABACA' 'MARIANO DAMASO BERAUN' 'MONZON'
 'AMOTAPE' 'CANGALLO' 'HUARMACA' 'SINCOS' 'LAGUNAS' 'UCHIZA'
 'TAMBO GRANDE' 'DANIEL ALOMIAS ROBLES' 'COTARUSE' 'PANAO' 'SANTO DOMINGO'
 'TARACO' 'HUALLANCA' 'OCOBAMBA' 'CHINCHAO' 'TINYAHUARCO' 'HUARIACA'
 'MOHO' 'AUCARA' 'YANAHUANCA' 'PISUQUIA' 'SIMON BOLIVAR' 'CURAHUASI'
 'CHALHUANCA' 'TANTARICA' 'TAMARINDO' 'HUANCARAMA' 'HUACCANA'
 'NUEVA CAJAMARCA' 'ANDABAMBA' 'CAMPOVERDE' 'ALONSO DE ALVARADO'
 'HUAYLLAY' 'LAS PIRIAS' 'CHAUPIMARCA' 'GRANADA' 'PAJARILLO'
 'SAN ANTONIO DE CACHI' 'SONDORILLO' 'HUASAHUASI' 'HUAYOPATA' 'CABANILLAS'
 'ACOMAYO' 'TAPAIRIHUA' 'LAYO' 'YANTALO' 'HUACULLANI'
 'SANTA MARIA DEL MAR' 'SANTA ANA DE TUSI' 'SAN CLEMENTE' 'YANACANCHA'
 'FRIAS' 'PUNCHANA' 'KISHUARA' 'HUANCARAY' 'PILLCO MARCA' 'JESUS MARIA'
 'LABERINTO' 'PACOCHA' 'HUACHON' 'ANCAHUASI' 'SAN RAFAEL' 'LA UNION'
 'PISAC' 'SANTA ROSA DE QUIVES' 'SAN LUIS DE SHUARO' 'BARRANCA'
 'MARCAVELICA' 'PALCA' 'ORURILLO' 'CHUNGUI' 'SICCHEZ' 'LUCRE' 'MASISEA'
 'SANTA RITA DE SIGUAS' 'PAIMAS' 'RAMON CASTILLA' 'LOS MOROCHUCOS'
 'YAUYOS' 'LIRCAY' 'YAMANGO' 'PAMPACHIRI' 'CANARIA' 'LONYA GRANDE'
 'YANAHUARA' 'JOSE CRESPO Y CASTILLO' 'CHALLHUAHUACHO' 'MARANURA'
 'EL CARMEN' 'TAMBOBAMBA' 'CARAZ' 'ACOS VINCHOS' 'LEIMEBAMBA' 'UCO'
 'GROCIO PRADO' 'URACA' 'PAPAYAL' 'ACOS' 'MANCORA' 'ULCUMAYO' 'MAZAMARI'
 'QUIQUIJANA' 'MACHE' 'CIUDAD NUEVA' 'VEGUETA' 'URANMARCA' 'LAS LOMAS'
 'SAN JOSE DE LOS MOLINOS' 'SANTA TERESA' 'QUEROBAMBA' 'MOLLEBAYA'
 'PAUCARTAMBO' 'LAMAS' 'VICCO' 'LA PAMPA' 'MARISCAL CASTILLA'
 'MADRE DE DIOS' 'JILILI' 'CAJACAY' 'SALITRAL' 'SANTA CATALINA DE MOSSA'
 'HUACACHI' 'SANTA MARIA DE CHICMO' 'HUANCA' 'CCATCA' 'CHOLON' 'CHACOCHE'
 'HUANDO' 'CATACHE' 'GUADALUPITO' 'IBERIA' 'TARICA' 'COLCAMAR' 'SANDIA'
 'HUAYLAS' 'ZURITE' 'EL MUYO' 'SANTA MARIA DEL VALLE' 'IZCUCHACA'
 'SAN SALVADOR' 'VICHAYAL' 'COLQUIOC' 'PUTINA' 'LUYA VIEJO' 'HUABAL'
 'OLLANTAYTAMBO' 'YANATILE' 'CACHIMAYO' 'OMATE' 'TARAPOTO' 'RANRAHIRCA'
 'PALLASCA' 'JAZAN' 'CATAC' 'CHAZUTA' 'PAUCARBAMBA' 'CHAVINILLO'
 'HUAYTARA' 'SAN JACINTO' 'CONGALLA' 'TABACONAS' 'SAN JUAN DE TARUCANI'
 'LAS PIEDRAS' 'JAQUI' 'CAYLLOMA' 'PUERTO INCA' 'CAPACHICA' 'TINTAY'
 'SANCOS' 'TIQUILLACA' 'YANAMA' 'LAMPA' 'MASIN' 'PACHANGARA' 'VALERA'
 'LLAMELLIN' 'HUACAYBAMBA' 'PARIACOTO' 'YAUYA' 'GOYLLARISQUIZGA' 'PICOTA'
 'TUMAY HUARACA' 'EL MILAGRO' 'POMACANCHI' 'IÑAPARI' 'MAÑAZO' 'VELILLE'
 'PLATERIA' 'CARACOTO' 'OCONGATE' 'PICHACANI' 'CALZADA' 'AYAUCA' 'ACORA'
 'SHIPASBAMBA' 'IRAZOLA' 'PUERTO BERMUDEZ' 'SACANCHE' 'PADRE ABAD' 'HUATA'
 'SAN JOSE DE SISA' 'ALBERTO LEVEAU' 'COTAHUASI' 'RAYMONDI' 'TABALOSOS'
 'SHAPAJA' 'AZANGARO' 'PAMPAS DE HOSPITAL' 'HUANGASCAR' 'TAUCA'
 'HUACHOCOLPA' 'ILABAYA' 'MOSOC LLACTA' 'CHUCUITO' 'NESHUYA' 'ANANEA'
 'SAN MARCOS' 'ZEPITA' 'PAMPAS' 'MAGDALENA DE CAO' 'ASILLO'
 'SAN JUAN DE SIGUAS' 'AYAVIRI' 'SAN JUAN DE LA VIRGEN' 'SIVIA'
 'CHURUBAMBA' 'UNICACHI' 'SANTA LUCIA' 'QUINUA' 'PAUCARCOLLA' 'AGALLPAMPA'
 'HUAROCONDO' 'PACARAN' 'PAUCAR' 'JOSE DOMINGO CHOQUEHUANCA'
 'VILQUE CHICO' 'REQUENA' 'COPALLIN' 'LAJAS' 'SHILLA' 'SHUPLUY' 'SINSICAP'
 'VARGAS GUERRA' 'CUTURAPI' 'COPANI' 'QUILCA' 'CATILLUC' 'MACUSANI'
 'PAUCARA' 'CONIMA' 'HUANCANE' 'NUÑOA' 'BAJO BIAVO' 'CANOAS DE PUNTA SAL'
 'CASITAS' 'CHUQUIBAMBILLA' 'LLATA' 'SAN FRANCISCO DE ASIS DE YARUSYACAN'
 'A.VON.HUMBOLDT' 'CABANILLA' 'TURPO' 'POZUZO' 'CHUSCHI' 'MANU'
 'TINICACHI' 'ANTABAMBA' 'BALSAS' 'YAURISQUE' 'HUACRACHUCO' 'SAN ANTON'
 'LAMBRAMA' 'CORDOVA' 'YAMON' 'HUAMANGUILLA' 'POTONI' 'CURIBAYA'
 'ECHARATE' 'QUELLOUNO' 'AUCALLAMA' 'QUINISTAQUILLAS'
 'SAN MIGUEL DE EL FAIQUE' 'SAMAN' 'SIBAYO' 'SANTA ISABEL DE SIGUAS'
 'CASCAPARA' 'ARAPA' 'COCHARCAS' 'LA CRUZ' 'SOCOTA' 'INGUILPATA'
 'SAN ANTONIO DE CHUCA' 'RIO NEGRO' 'ZUÑIGA' 'OMIA' 'CHORAS' 'SALPO'
 'LALAQUIZ' 'INCAHUASI' 'ITE']
DIST_HECHO [1342 unique values]
['HUANCHACO' 'CALLAO' 'LURIGANCHO - CHOSICA' ...
 'SAN PEDRO DE PUTINA PUNCO' 'BALSAPUERTO' 'HUIMBAYOC']
DPTO_CIA [26 unique values]
['LA LIBERTAD' 'CALLAO' 'LIMA' 'AREQUIPA' 'ICA' 'ANCASH' 'LAMBAYEQUE'
 'PUNO' 'MOQUEGUA' 'APURIMAC' 'CUSCO' 'HUANCAVELICA' 'CAJAMARCA' 'PIURA'
 'JUNIN' 'TACNA' 'TUMBES' 'UCAYALI' 'LORETO' 'PASCO' 'AMAZONAS' 'HUANUCO'
 'SAN MARTIN' 'AYACUCHO' 'MADRE DE DIO' 'MADRE DE DIOS']
DPTO_HECHO [27 unique values]
['LA LIBERTAD' 'CALLAO' 'LIMA' 'AREQUIPA' 'ICA' 'ANCASH' 'LAMBAYEQUE'
 'PUNO' 'MOQUEGUA' 'APURIMAC' 'CUSCO' 'HUANCAVELICA' 'CAJAMARCA' 'PIURA'
 'JUNIN' 'TACNA' 'TUMBES' 'UCAYALI' 'LORETO' 'PASCO' 'AMAZONAS' 'HUANUCO'
 'SAN MARTIN' 'AYACUCHO' 'MADRE DE DIO' 'MADRE DE DIOS' 'NO INDICA']
EDAD [231 unique values]
['32' '40' '28' '55' '21' '30' '25' '46' '35' '34' '41' '50' '26' '29'
 '44' '47' '22' '37' '54' '51' '42' '49' '19' '38' '20' '39' '36' '65'
 '56' '27' '24' '61' '23' '60' '53' '62' '48' '43' '18' '33' '31' '59'
 '52' '17' '70' '64' '69' '45' '75' '58' '57' '63' '76' '67' '68' '74'
 '77' '66' '82' '71' '16' '14' '72' '15' '111' '13' '78' '73' '5' '79'
 '81' '84' '85' '87' '526' '12' '80' '10' '83' '11' '86' '120' '94' '516'
 '90' '0' '115' '180' '89' '332' '220' '91' '88' '354' '536' '125' '118'
 '339' '96' '104' '617' '728' '93' '1' '276' '116' '92' '6' '113' '439'
 '415' '335' '170' '98' '9' '410' '545' '448' '340' '400' '331' '226'
 '252' '434' '97' '114' '119' '74.0' '45.0' '41.0' '38.0' '22.0' '57.0'
 '42.0' '32.0' '24.0' '19.0' '31.0' '27.0' '26.0' '44.0' '34.0' '37.0'
 '47.0' '21.0' '29.0' '30.0' '62.0' '63.0' '35.0' '28.0' '36.0' '48.0'
 '33.0' '67.0' '25.0' '43.0' '61.0' '39.0' '40.0' '23.0' '20.0' '54.0'
 '56.0' '55.0' '51.0' '50.0' '46.0' '52.0' '58.0' '66.0' '65.0' '18.0'
 '15.0' '17.0' '71.0' '60.0' '53.0' '49.0' '16.0' '69.0' '59.0' '75.0'
 '73.0' '68.0' '77.0' '72.0' '64.0' '76.0' '70.0' '14.0' '80.0' '87.0'
 '81.0' '79.0' '78.0' '85.0' '84.0' '86.0' '13.0' '10.0' '90.0' '12.0'
 '82.0' '516.0' '83.0' '11.0' '98.0' '434.0' '97.0' '114.0' '116.0' '88.0'
 '132.0' '119.0' '398.0' '115.0' '617.0' '89.0' '96.0' '92.0' '171.0'
 '627.0' '95.0' '9.0' '5.0' '0.0' '4.0' '93.0' '91.0' '1.0']
ESTADO_DEN [3 unique values]
['RE' 'PE' 'pe']
EST_CIVIL [6 unique values]
['CONVIVIENTE' 'SOLTERO(A)' 'CASADO(A)' 'NO INDICA' 'DIVORCIADO(A)'
 'VIUDO(A)']
FECHA_HORA_HECHO [47542 unique values]
['1/1/2016' '1/2/2016' '12/26/2015' ... '43825.975' '43830.7604166667'
 '43794.8680555556']
LIBRO [43 unique values]
['[DEINPOL] ACTA DE DENUNCIA VERBAL' '[FAM] DENUNCIA VIOLENCIA FAMILIAR'
 '[FAM] DENUNCIA ABANDONO Y RETIRO DE HOGAR'
 '[FAM] ACTA DE DENUNCIA VERBAL' '[FAM] OCURRENCIA VIOLENCIA FAMILIAR'
 '[FAM] ACTA DE INTERVENCION' '[DEINPOL] DENUNCIA DIRECTA DELITO'
 '[FAM] OCURRENCIA DE CALLE - RESERVADA'
 '[FAM] OCURRENCIA DE CALLE - COMUN' '[FAM] OCURRENCIA MENORES'
 '[FAM] DENUNCIA VIOLENCIA FAMILIAR - RESERVADA'
 '[FAM] ACTA DE DENUNCIA VERBAL RESERVADA'
 '[DEINPOL] ACTA DE INTERVENCION' '[DEINPOL] OCURRENCIA DE CALLE - COMUN'
 '[FAM] DENUNCIA LIBRO DE MENORES'
 '[FAM] DENUNCIA REGIMEN VISITAS JUDICIAL Y/0 EXTRAJUDICIAL'
 '[FAM] ACTA DE INTERVENCION RESERVADA'
 '[DEINPOL] DENUNCIA INFRACCION A LA LEY PENAL'

In [11]:
for col in datalake.columns:
    if len(datalake[col].dropna().unique()) == 1:
        print(f'{col} es una columna de tipo único')

MATERIA es una columna de tipo único

In [12]:
# MATERIA contiene un solo valor, por lo que se elimina
datalake = datalake.drop('MATERIA', axis=1)

##### Imputación inicial de valores perdidos

###### Eliminar columnas con alta cantidad de valores nulos

In [13]:
# El porcentaje de cantidad de valores nulos aceptados por columna es 20%
# Se eliminan las columnas con más de 20% de valores nulos
for col in datalake.columns:
    if datalake[col].isnull().sum() / datalake.shape[0] * 100 > 20:
        datalake = datalake.drop(col, axis=1)

In [14]:
missing_values()

Número total de registros: 422522
Número total de valores perdidos: 111249
Valores perdidos por columna:
DERIVADA_FISCALIA: 72967 (17.27%)
EDAD: 5808 (1.37%)
EST_CIVIL: 7 (0.00%)
FECHA_HORA_HECHO: 16091 (3.81%)
SEXO: 243 (0.06%)
UBICACION: 13 (0.00%)
FEC_REGISTRO: 16091 (3.81%)
PAIS_NATAL: 29 (0.01%)

In [15]:
# A este punto todas la columnas son categóricas, incluso EDAD que será transformada después
# Acerca de la imputación de nulos faltante, se usará la moda de las columnas categóricas excepto en las fechas
# Primero se trabajará las columnas de fechas por su formato y luego se trabajarán las demás

##### Valores atípicos

###### Edad

In [16]:
# Llena los valores perdidos con 0
datalake['EDAD'] = datalake['EDAD'].fillna(0)
# Para convertir a int64 primero se convierte a float
datalake['EDAD'] = datalake['EDAD'].astype(float)
datalake['EDAD'] = datalake['EDAD'].astype(np.int64)

In [17]:
# Valores máximos y mínimos
print(datalake['EDAD'].min(), datalake['EDAD'].max())

0 728

In [18]:
# Vista ordenada de edades registradas
age_sorted = datalake.sort_values('EDAD')['EDAD']
print(age_sorted.head())
print(age_sorted.tail())
# Obtención de métricas
median = age_sorted.median()
mode = age_sorted.mode()[0]
print(f'Mediana: {median}')
print(f'Moda: {mode}')

790177    0
162763    0
63659     0
92007     0
323474    0
Name: EDAD, dtype: int64
408108    545
613740    617
176833    617
655314    627
179016    728
Name: EDAD, dtype: int64
Mediana: 34.0
Moda: 31

In [19]:
# Suplantamos los valores atípicos con la moda
# Se considerarán las edades entre 18 y 75 años
min_age = 18
max_age = 75
datalake.loc[(datalake['EDAD'] < min_age) | (datalake['EDAD'] > max_age) | (datalake['EDAD'] == 0), 'EDAD'] = mode
# La columna EDAD ya no tiene valores perdidos

In [20]:
missing_values()

Número total de registros: 422522
Número total de valores perdidos: 105441
Valores perdidos por columna:
DERIVADA_FISCALIA: 72967 (17.27%)
EST_CIVIL: 7 (0.00%)
FECHA_HORA_HECHO: 16091 (3.81%)
SEXO: 243 (0.06%)
UBICACION: 13 (0.00%)
FEC_REGISTRO: 16091 (3.81%)
PAIS_NATAL: 29 (0.01%)

###### Sexo

In [21]:
# SEXO contiene valores extraños
print(datalake['SEXO'].dropna().unique())
# Vemos la frecuencia de los valores
print(datalake['SEXO'].value_counts())
# Solo considerarán los valores M y F, los demás será suplantados por la moda incluyendo los valores extraños
print(f'SEXO: Moda -> {datalake["SEXO"].mode()[0]}')

['M' 'F']
M    340170
F     82109
Name: SEXO, dtype: int64
SEXO: Moda -> M

In [22]:
datalake.loc[(datalake['SEXO'] != 'M') & (datalake['SEXO'] != 'F'), 'SEXO'] = datalake['SEXO'].mode()[0]
print(datalake['SEXO'].value_counts())
# La columna SEXO ya no tiene valores perdidos
missing_values()

M    340413
F     82109
Name: SEXO, dtype: int64
Número total de registros: 422522
Número total de valores perdidos: 105198
Valores perdidos por columna:
DERIVADA_FISCALIA: 72967 (17.27%)
EST_CIVIL: 7 (0.00%)
FECHA_HORA_HECHO: 16091 (3.81%)
UBICACION: 13 (0.00%)
FEC_REGISTRO: 16091 (3.81%)
PAIS_NATAL: 29 (0.01%)

###### Fecha

In [23]:
# Contamos con diferentes formatos de fecha
# mm/dd/yyyy
# yyyy-mm-dd
# MONTH-dd-yyyy
# excel: float

In [24]:
import xlrd

# De fecha de excel (43677.4) a yyyy-mm-dd
def transformExcelDate(excelDate):
    dateISO = xlrd.xldate.xldate_as_datetime(float(excelDate), 0).date().isoformat()
    return dateISO

In [25]:
# RegExp de fecha de excel
import re
excelDate = r'\d+(\.\d+)?'

In [26]:
# Función para estandarizar las fechas de los registros
def transformDate(date):
    try:
        if not pd.isna(date):
            if re.fullmatch(excelDate, date):
                return transformExcelDate(date)
            else:
                return pd.to_datetime(date).date().isoformat()
    except Exception as e:
        print(e, date)

In [27]:
datalake['FEC_REGISTRO'] = datalake['FEC_REGISTRO'].apply(transformDate)
datalake['FECHA_HORA_HECHO'] = datalake['FECHA_HORA_HECHO'].apply(transformDate)

In [28]:
# Los valores perdidos de FEC_REGISTRO y FECHA_HORA_HECHO, oportunamente, comparten registros
# Es decir si en una columna de fecha hay un valor perdido, en la otra también lo hay
datalake = datalake.loc[datalake['FEC_REGISTRO'].isna() == False]
missing_values()

Número total de registros: 406431
Número total de valores perdidos: 68427
Valores perdidos por columna:
DERIVADA_FISCALIA: 68379 (16.82%)
EST_CIVIL: 7 (0.00%)
UBICACION: 12 (0.00%)
PAIS_NATAL: 29 (0.01%)

#### Completando valores perdidos en el resto de atributos categóricos

In [29]:
update_types()

object (22)
 ['COMISARIA', 'DERIVADA_FISCALIA', 'DIRECCION', 'DIST_CIA', 'DIST_HECHO', 'DPTO_CIA', 'DPTO_HECHO', 'EST_CIVIL', 'FECHA_HORA_HECHO', 'LIBRO', 'MODALIDAD', 'PROV_CIA', 'PROV_HECHO', 'REGION', 'SEXO', 'SUB_TIPO', 'TIPO', 'TIPO_DENUNCIA', 'UBICACION', 'VIA', 'FEC_REGISTRO', 'PAIS_NATAL']
int64 (1)
 ['EDAD']

In [30]:
# Se llena el resto de los valores perdidos con la moda
for c in object_columns:
    mode = datalake[c].mode()[0]
    datalake[c] = datalake[c].fillna(mode)

In [31]:
print(missing_values())

Número total de registros: 406431
Número total de valores perdidos: 0
Valores perdidos por columna:
None

In [32]:
# Reseteamos el index
datalake.reset_index(drop=True, inplace=True)
# Mostramos la tabla
print(datalake.head())
print(datalake.tail())

   COMISARIA   DERIVADA_FISCALIA                                DIRECCION  \
0  HUANCHACO  JUZGADO DE FAMILIA           AV. LA RIVERA PLAZA SAN MARTIN
1    DULANTO  JUZGADO DE FAMILIA                                   CALLAO
2  JICAMARCA               OTROS  Mz. Q  S/N Ovalo Principal de Jicamarca
3      OCOÑA               OTROS                    AV. PANAMERICA SUR SN
4    PARCONA  JUZGADO DE FAMILIA                             JJ ELIAS S/N

               DIST_CIA            DIST_HECHO     DPTO_CIA   DPTO_HECHO  EDAD  \
0             HUANCHACO             HUANCHACO  LA LIBERTAD  LA LIBERTAD    32
1                CALLAO                CALLAO       CALLAO       CALLAO    40
2  LURIGANCHO - CHOSICA  LURIGANCHO - CHOSICA         LIMA         LIMA    28
3                 OCOÑA                 OCOÑA     AREQUIPA     AREQUIPA    55
4               PARCONA               PARCONA          ICA          ICA    21

     EST_CIVIL FECHA_HORA_HECHO  ... PROV_HECHO                  REGION SEXO  \
0  CONVIVIENTE       2016-01-01  ...   TRUJILLO  REGPOL  -  LA LIBERTAD    M
1   SOLTERO(A)       2016-01-01  ...     CALLAO       REGPOL  -  CALLAO    M
2  CONVIVIENTE       2016-01-02  ...       LIMA         REGPOL  -  LIMA    F
3   SOLTERO(A)       2015-12-26  ...     CAMANA     REGPOL  -  AREQUIPA    M
4   SOLTERO(A)       2016-04-11  ...        ICA          REGPOL  -  ICA    F

                                            SUB_TIPO                TIPO  \
0  LEY DE PROTECCIÓN FRENTE A VIOLENCIA FAMILIAR ...  VIOLENCIA FAMILIAR
1  LEY DE PROTECCIÓN FRENTE A VIOLENCIA FAMILIAR ...  VIOLENCIA FAMILIAR
2  LEY DE PROTECCIÓN FRENTE A VIOLENCIA FAMILIAR ...  VIOLENCIA FAMILIAR
3  LEY PARA PREVENIR , SANCIONAR Y ERRADICAR LA V...  VIOLENCIA FAMILIAR
4  LEY PARA PREVENIR , SANCIONAR Y ERRADICAR LA V...  VIOLENCIA FAMILIAR

             TIPO_DENUNCIA                                          UBICACION  \
0  ACTA DE DENUNCIA VERBAL  SECTOR SANTA ROSA MZ. 11 LT. 36 - HUANCHAQUITO...
1                 DENUNCIA                                      MZ. 2 LOTE 31
2                 DENUNCIA                                         SANTA CRUZ
3                 DENUNCIA        AA. HH. Gilberto CARNERO Anexo de Planchada
4  ACTA DE DENUNCIA VERBAL                     EL PURGATORIO MZ- C  LT 8 AV 7

         VIA FEC_REGISTRO PAIS_NATAL
0      Otros   2016-01-01       PERU
1      Otros   2016-01-02       PERU
2      Otros   2016-01-03       PERU
3  Carretera   2016-01-03       PERU
4      Calle   2016-01-04       PERU

[5 rows x 23 columns]
                COMISARIA   DERIVADA_FISCALIA  \
406426  TACNA - NATIVIDAD  JUZGADO DE FAMILIA
406427  TACNA - NATIVIDAD               OTROS
406428  TACNA - NATIVIDAD  JUZGADO DE FAMILIA
406429  TACNA - NATIVIDAD               OTROS
406430             TARATA  JUZGADO DE FAMILIA

                                                DIRECCION DIST_CIA DIST_HECHO  \
406426  calle nuestra señora de natividad nro 1937 cpm...    TACNA      TACNA
406427  calle nuestra señora de natividad nro 1937 cpm...    TACNA      TACNA
406428  calle nuestra señora de natividad nro 1937 cpm...    TACNA      TACNA
406429  calle nuestra señora de natividad nro 1937 cpm...    TACNA      TACNA
406430              CALLE PRIMERO DE SETIEMBRE S/N TARATA   TARATA     TARATA

       DPTO_CIA DPTO_HECHO  EDAD   EST_CIVIL FECHA_HORA_HECHO  ... PROV_HECHO  \
406426    TACNA      TACNA    56  SOLTERO(A)       2019-07-31  ...      TACNA
406427    TACNA      TACNA    59  SOLTERO(A)       2019-12-25  ...      TACNA
406428    TACNA      TACNA    30  SOLTERO(A)       2019-12-26  ...      TACNA
406429    TACNA      TACNA    22  SOLTERO(A)       2019-12-31  ...      TACNA
406430    TACNA      TACNA    38  SOLTERO(A)       2019-11-25  ...     TARATA

                REGION SEXO  \
406426  REGPOL - TACNA    M
406427  REGPOL - TACNA    M
406428  REGPOL - TACNA    M
406429  REGPOL - TACNA    M
406430  REGPOL - TACNA    M

                                                 SUB_TIPO  \
406426  LEY PARA PREVENIR , SANCIONAR Y ERRADICAR LA V...
406427  LEY PARA PREVENIR , SANCIONAR Y ERRADICAR LA V...
406428  LEY PARA PREVENIR , SANCIONAR Y ERRADICAR LA V...
406429  LEY PARA PREVENIR , SANCIONAR Y ERRADICAR LA V...
406430  LEY PARA PREVENIR , SANCIONAR Y ERRADICAR LA V...

                                                     TIPO  \
406426  LEY DE VIOLENCIA CONTRA LA MUJER Y GRUPOS VULN...
406427  LEY DE VIOLENCIA CONTRA LA MUJER Y GRUPOS VULN...
406428  LEY DE VIOLENCIA CONTRA LA MUJER Y GRUPOS VULN...
406429  LEY DE VIOLENCIA CONTRA LA MUJER Y GRUPOS VULN...
406430  LEY DE VIOLENCIA CONTRA LA MUJER Y GRUPOS VULN...

                  TIPO_DENUNCIA  \
406426  ACTA DE DENUNCIA VERBAL
406427  ACTA DE DENUNCIA VERBAL
406428     ACTA DE INTERVENCION
406429  ACTA DE DENUNCIA VERBAL
406430  ACTA DE DENUNCIA VERBAL

                                                UBICACION    VIA FEC_REGISTRO  \
406426   CALLE CRISTINA VILDOSO NRO, 1799 - CP. NATIVIDAD  Otros   2019-12-22
406427  Alfonso Ugarte II Etapa Mz. C ? 01 Lote 03 ? G...  Otros   2019-12-26
406428  CALLE JUAN PABLO VIZCARDO Y GUZMAN NRO.1673 CP...  Otros   2019-12-30
406429                            Calle Moquegua Nro. 242  Otros   2019-12-31
406430                       Calle Bolognesi S/N - Tarata  Otros   2019-12-09

       PAIS_NATAL
406426       PERU
406427       PERU
406428       PERU
406429       PERU
406430       PERU

[5 rows x 23 columns]

##### Separando fecha en año, mes, día y día de la semana

In [33]:
def spread_out_date(col):
    datalake[f'{col}_ANIO'] = datalake[col].apply(lambda x: int(x[:4]))
    datalake[f'{col}_MES'] = datalake[col].apply(lambda x: int(x[5:7]))
    datalake[f'{col}_DIA'] = datalake[col].apply(lambda x: int(x[8:]))
    datalake[f'{col}_DIA_SEM'] = datalake[col].apply(lambda x: pd.to_datetime(x).weekday())

In [34]:
spread_out_date('FEC_REGISTRO')
spread_out_date('FECHA_HORA_HECHO')

In [35]:
print(datalake.head())
print(datalake.tail())

   COMISARIA   DERIVADA_FISCALIA                                DIRECCION  \
0  HUANCHACO  JUZGADO DE FAMILIA           AV. LA RIVERA PLAZA SAN MARTIN
1    DULANTO  JUZGADO DE FAMILIA                                   CALLAO
2  JICAMARCA               OTROS  Mz. Q  S/N Ovalo Principal de Jicamarca
3      OCOÑA               OTROS                    AV. PANAMERICA SUR SN
4    PARCONA  JUZGADO DE FAMILIA                             JJ ELIAS S/N

               DIST_CIA            DIST_HECHO     DPTO_CIA   DPTO_HECHO  EDAD  \
0             HUANCHACO             HUANCHACO  LA LIBERTAD  LA LIBERTAD    32
1                CALLAO                CALLAO       CALLAO       CALLAO    40
2  LURIGANCHO - CHOSICA  LURIGANCHO - CHOSICA         LIMA         LIMA    28
3                 OCOÑA                 OCOÑA     AREQUIPA     AREQUIPA    55
4               PARCONA               PARCONA          ICA          ICA    21

     EST_CIVIL FECHA_HORA_HECHO  ... FEC_REGISTRO PAIS_NATAL  \
0  CONVIVIENTE       2016-01-01  ...   2016-01-01       PERU
1   SOLTERO(A)       2016-01-01  ...   2016-01-02       PERU
2  CONVIVIENTE       2016-01-02  ...   2016-01-03       PERU
3   SOLTERO(A)       2015-12-26  ...   2016-01-03       PERU
4   SOLTERO(A)       2016-04-11  ...   2016-01-04       PERU

  FEC_REGISTRO_ANIO FEC_REGISTRO_MES FEC_REGISTRO_DIA FEC_REGISTRO_DIA_SEM  \
0              2016                1                1                    4
1              2016                1                2                    5
2              2016                1                3                    6
3              2016                1                3                    6
4              2016                1                4                    0

  FECHA_HORA_HECHO_ANIO FECHA_HORA_HECHO_MES FECHA_HORA_HECHO_DIA  \
0                  2016                    1                    1
1                  2016                    1                    1
2                  2016                    1                    2
3                  2015                   12                   26
4                  2016                    4                   11

  FECHA_HORA_HECHO_DIA_SEM
0                        4
1                        4
2                        5
3                        5
4                        0

[5 rows x 31 columns]
                COMISARIA   DERIVADA_FISCALIA  \
406426  TACNA - NATIVIDAD  JUZGADO DE FAMILIA
406427  TACNA - NATIVIDAD               OTROS
406428  TACNA - NATIVIDAD  JUZGADO DE FAMILIA
406429  TACNA - NATIVIDAD               OTROS
406430             TARATA  JUZGADO DE FAMILIA

                                                DIRECCION DIST_CIA DIST_HECHO  \
406426  calle nuestra señora de natividad nro 1937 cpm...    TACNA      TACNA
406427  calle nuestra señora de natividad nro 1937 cpm...    TACNA      TACNA
406428  calle nuestra señora de natividad nro 1937 cpm...    TACNA      TACNA
406429  calle nuestra señora de natividad nro 1937 cpm...    TACNA      TACNA
406430              CALLE PRIMERO DE SETIEMBRE S/N TARATA   TARATA     TARATA

       DPTO_CIA DPTO_HECHO  EDAD   EST_CIVIL FECHA_HORA_HECHO  ...  \
406426    TACNA      TACNA    56  SOLTERO(A)       2019-07-31  ...
406427    TACNA      TACNA    59  SOLTERO(A)       2019-12-25  ...
406428    TACNA      TACNA    30  SOLTERO(A)       2019-12-26  ...
406429    TACNA      TACNA    22  SOLTERO(A)       2019-12-31  ...
406430    TACNA      TACNA    38  SOLTERO(A)       2019-11-25  ...

       FEC_REGISTRO PAIS_NATAL FEC_REGISTRO_ANIO FEC_REGISTRO_MES  \
406426   2019-12-22       PERU              2019               12
406427   2019-12-26       PERU              2019               12
406428   2019-12-30       PERU              2019               12
406429   2019-12-31       PERU              2019               12
406430   2019-12-09       PERU              2019               12

       FEC_REGISTRO_DIA FEC_REGISTRO_DIA_SEM FECHA_HORA_HECHO_ANIO  \
406426               22                    6                  2019
406427               26                    3                  2019
406428               30                    0                  2019
406429               31                    1                  2019
406430                9                    0                  2019

       FECHA_HORA_HECHO_MES FECHA_HORA_HECHO_DIA FECHA_HORA_HECHO_DIA_SEM
406426                    7                   31                        2
406427                   12                   25                        2
406428                   12                   26                        3
406429                   12                   31                        1
406430                   11                   25                        0

[5 rows x 31 columns]

In [36]:
# Ya no se necesita la columna FEC_REGISTRO ni FECHA_HORA_HECHO
datalake = datalake.drop(['FEC_REGISTRO', 'FECHA_HORA_HECHO'], axis=1)
print(datalake.info())
print(update_types())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406431 entries, 0 to 406430
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   COMISARIA                 406431 non-null  object
 1   DERIVADA_FISCALIA         406431 non-null  object
 2   DIRECCION                 406431 non-null  object
 3   DIST_CIA                  406431 non-null  object
 4   DIST_HECHO                406431 non-null  object
 5   DPTO_CIA                  406431 non-null  object
 6   DPTO_HECHO                406431 non-null  object
 7   EDAD                      406431 non-null  int64
 8   EST_CIVIL                 406431 non-null  object
 9   LIBRO                     406431 non-null  object
 10  MODALIDAD                 406431 non-null  object
 11  PROV_CIA                  406431 non-null  object
 12  PROV_HECHO                406431 non-null  object
 13  REGION                    406431 non-null  object
 14  SEXO                      406431 non-null  object
 15  SUB_TIPO                  406431 non-null  object
 16  TIPO                      406431 non-null  object
 17  TIPO_DENUNCIA             406431 non-null  object
 18  UBICACION                 406431 non-null  object
 19  VIA                       406431 non-null  object
 20  PAIS_NATAL                406431 non-null  object
 21  FEC_REGISTRO_ANIO         406431 non-null  int64
 22  FEC_REGISTRO_MES          406431 non-null  int64
 23  FEC_REGISTRO_DIA          406431 non-null  int64
 24  FEC_REGISTRO_DIA_SEM      406431 non-null  int64
 25  FECHA_HORA_HECHO_ANIO     406431 non-null  int64
 26  FECHA_HORA_HECHO_MES      406431 non-null  int64
 27  FECHA_HORA_HECHO_DIA      406431 non-null  int64
 28  FECHA_HORA_HECHO_DIA_SEM  406431 non-null  int64
dtypes: int64(9), object(20)
memory usage: 89.9+ MB
None
object (20)
 ['COMISARIA', 'DERIVADA_FISCALIA', 'DIRECCION', 'DIST_CIA', 'DIST_HECHO', 'DPTO_CIA', 'DPTO_HECHO', 'EST_CIVIL', 'LIBRO', 'MODALIDAD', 'PROV_CIA', 'PROV_HECHO', 'REGION', 'SEXO', 'SUB_TIPO', 'TIPO', 'TIPO_DENUNCIA', 'UBICACION', 'VIA', 'PAIS_NATAL']
int64 (9)
 ['EDAD', 'FEC_REGISTRO_ANIO', 'FEC_REGISTRO_MES', 'FEC_REGISTRO_DIA', 'FEC_REGISTRO_DIA_SEM', 'FECHA_HORA_HECHO_ANIO', 'FECHA_HORA_HECHO_MES', 'FECHA_HORA_HECHO_DIA', 'FECHA_HORA_HECHO_DIA_SEM']
None

In [37]:
datalake.to_csv('./dataset/dataset_preprocessed.csv', index=False)

#### Transformación de atributos categóricos a numéricos

In [38]:
from sklearn.preprocessing import LabelEncoder

cat_columns_encoded = {}

def encode(col):
    cat_columns_encoded[col] = LabelEncoder()
    datalake[col] = cat_columns_encoded[col].fit_transform(datalake[col])

for col in object_columns:
    encode(col)

In [39]:
# Función para mostrar el encodificado de una columna
def show_encoded_column(col):
    classes = cat_columns_encoded[col].classes_
    for i, c in enumerate(classes):
        print(f'{i} -> {c}')

In [40]:
show_encoded_column('MODALIDAD')

0 -> AMENAZA GRAVE
1 -> COACCION GRAVE
2 -> MALTRATO SIN LESION
3 -> VIOLENCIA ECONOMICA O PATRIMONIAL
4 -> VIOLENCIA FISICA
5 -> VIOLENCIA FISICA Y PSICOLOGICA
6 -> VIOLENCIA PSICOLOGICA

In [41]:
print(datalake.head())
print(update_types())

   COMISARIA  DERIVADA_FISCALIA  DIRECCION  DIST_CIA  DIST_HECHO  DPTO_CIA  \
0        371                  4        283       252         453        12
1        311                  4        539        78         130         6
2        431                  7       1181       376         651        14
3        598                  7        330       450         772         3
4        664                  4        872       496         847        10

   DPTO_HECHO  EDAD  EST_CIVIL  LIBRO  ...  VIA  PAIS_NATAL  \
0          12    32          1      1  ...   10         106
1           6    40          4     25  ...   10         106
2          14    28          1     25  ...   10         106
3           3    55          4     22  ...    4         106
4          10    21          4     18  ...    3         106

   FEC_REGISTRO_ANIO  FEC_REGISTRO_MES  FEC_REGISTRO_DIA  \
0               2016                 1                 1
1               2016                 1                 2
2               2016                 1                 3
3               2016                 1                 3
4               2016                 1                 4

   FEC_REGISTRO_DIA_SEM  FECHA_HORA_HECHO_ANIO  FECHA_HORA_HECHO_MES  \
0                     4                   2016                     1
1                     5                   2016                     1
2                     6                   2016                     1
3                     6                   2015                    12
4                     0                   2016                     4

   FECHA_HORA_HECHO_DIA  FECHA_HORA_HECHO_DIA_SEM
0                     1                         4
1                     1                         4
2                     2                         5
3                    26                         5
4                    11                         0

[5 rows x 29 columns]
object (0)
 []
int64 (9)
 ['EDAD', 'FEC_REGISTRO_ANIO', 'FEC_REGISTRO_MES', 'FEC_REGISTRO_DIA', 'FEC_REGISTRO_DIA_SEM', 'FECHA_HORA_HECHO_ANIO', 'FECHA_HORA_HECHO_MES', 'FECHA_HORA_HECHO_DIA', 'FECHA_HORA_HECHO_DIA_SEM']
None

In [42]:
# LabelEncoder genera el tipo int32
print(datalake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406431 entries, 0 to 406430
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   COMISARIA                 406431 non-null  int32
 1   DERIVADA_FISCALIA         406431 non-null  int32
 2   DIRECCION                 406431 non-null  int32
 3   DIST_CIA                  406431 non-null  int32
 4   DIST_HECHO                406431 non-null  int32
 5   DPTO_CIA                  406431 non-null  int32
 6   DPTO_HECHO                406431 non-null  int32
 7   EDAD                      406431 non-null  int64
 8   EST_CIVIL                 406431 non-null  int32
 9   LIBRO                     406431 non-null  int32
 10  MODALIDAD                 406431 non-null  int32
 11  PROV_CIA                  406431 non-null  int32
 12  PROV_HECHO                406431 non-null  int32
 13  REGION                    406431 non-null  int32
 14  SEXO                      406431 non-null  int32
 15  SUB_TIPO                  406431 non-null  int32
 16  TIPO                      406431 non-null  int32
 17  TIPO_DENUNCIA             406431 non-null  int32
 18  UBICACION                 406431 non-null  int32
 19  VIA                       406431 non-null  int32
 20  PAIS_NATAL                406431 non-null  int32
 21  FEC_REGISTRO_ANIO         406431 non-null  int64
 22  FEC_REGISTRO_MES          406431 non-null  int64
 23  FEC_REGISTRO_DIA          406431 non-null  int64
 24  FEC_REGISTRO_DIA_SEM      406431 non-null  int64
 25  FECHA_HORA_HECHO_ANIO     406431 non-null  int64
 26  FECHA_HORA_HECHO_MES      406431 non-null  int64
 27  FECHA_HORA_HECHO_DIA      406431 non-null  int64
 28  FECHA_HORA_HECHO_DIA_SEM  406431 non-null  int64
dtypes: int32(20), int64(9)
memory usage: 58.9 MB
None

In [43]:
# Trasnformando columnas de tipo int32 a int64
for col in datalake.columns:
    if datalake[col].dtype == 'int32':
        datalake[col] = datalake[col].astype(np.int64)

In [44]:
print(update_types())
print(datalake.info())

object (0)
 []
int64 (29)
 ['COMISARIA', 'DERIVADA_FISCALIA', 'DIRECCION', 'DIST_CIA', 'DIST_HECHO', 'DPTO_CIA', 'DPTO_HECHO', 'EDAD', 'EST_CIVIL', 'LIBRO', 'MODALIDAD', 'PROV_CIA', 'PROV_HECHO', 'REGION', 'SEXO', 'SUB_TIPO', 'TIPO', 'TIPO_DENUNCIA', 'UBICACION', 'VIA', 'PAIS_NATAL', 'FEC_REGISTRO_ANIO', 'FEC_REGISTRO_MES', 'FEC_REGISTRO_DIA', 'FEC_REGISTRO_DIA_SEM', 'FECHA_HORA_HECHO_ANIO', 'FECHA_HORA_HECHO_MES', 'FECHA_HORA_HECHO_DIA', 'FECHA_HORA_HECHO_DIA_SEM']
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406431 entries, 0 to 406430
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   COMISARIA                 406431 non-null  int64
 1   DERIVADA_FISCALIA         406431 non-null  int64
 2   DIRECCION                 406431 non-null  int64
 3   DIST_CIA                  406431 non-null  int64
 4   DIST_HECHO                406431 non-null  int64
 5   DPTO_CIA                  406431 non-null  int64
 6   DPTO_HECHO                406431 non-null  int64
 7   EDAD                      406431 non-null  int64
 8   EST_CIVIL                 406431 non-null  int64
 9   LIBRO                     406431 non-null  int64
 10  MODALIDAD                 406431 non-null  int64
 11  PROV_CIA                  406431 non-null  int64
 12  PROV_HECHO                406431 non-null  int64
 13  REGION                    406431 non-null  int64
 14  SEXO                      406431 non-null  int64
 15  SUB_TIPO                  406431 non-null  int64
 16  TIPO                      406431 non-null  int64
 17  TIPO_DENUNCIA             406431 non-null  int64
 18  UBICACION                 406431 non-null  int64
 19  VIA                       406431 non-null  int64
 20  PAIS_NATAL                406431 non-null  int64
 21  FEC_REGISTRO_ANIO         406431 non-null  int64
 22  FEC_REGISTRO_MES          406431 non-null  int64
 23  FEC_REGISTRO_DIA          406431 non-null  int64
 24  FEC_REGISTRO_DIA_SEM      406431 non-null  int64
 25  FECHA_HORA_HECHO_ANIO     406431 non-null  int64
 26  FECHA_HORA_HECHO_MES      406431 non-null  int64
 27  FECHA_HORA_HECHO_DIA      406431 non-null  int64
 28  FECHA_HORA_HECHO_DIA_SEM  406431 non-null  int64
dtypes: int64(29)
memory usage: 89.9 MB
None

In [45]:
print(datalake.head())

   COMISARIA  DERIVADA_FISCALIA  DIRECCION  DIST_CIA  DIST_HECHO  DPTO_CIA  \
0        371                  4        283       252         453        12
1        311                  4        539        78         130         6
2        431                  7       1181       376         651        14
3        598                  7        330       450         772         3
4        664                  4        872       496         847        10

   DPTO_HECHO  EDAD  EST_CIVIL  LIBRO  ...  VIA  PAIS_NATAL  \
0          12    32          1      1  ...   10         106
1           6    40          4     25  ...   10         106
2          14    28          1     25  ...   10         106
3           3    55          4     22  ...    4         106
4          10    21          4     18  ...    3         106

   FEC_REGISTRO_ANIO  FEC_REGISTRO_MES  FEC_REGISTRO_DIA  \
0               2016                 1                 1
1               2016                 1                 2
2               2016                 1                 3
3               2016                 1                 3
4               2016                 1                 4

   FEC_REGISTRO_DIA_SEM  FECHA_HORA_HECHO_ANIO  FECHA_HORA_HECHO_MES  \
0                     4                   2016                     1
1                     5                   2016                     1
2                     6                   2016                     1
3                     6                   2015                    12
4                     0                   2016                     4

   FECHA_HORA_HECHO_DIA  FECHA_HORA_HECHO_DIA_SEM
0                     1                         4
1                     1                         4
2                     2                         5
3                    26                         5
4                    11                         0

[5 rows x 29 columns]

In [46]:
datalake.to_csv('./dataset/dataset_preprocessed_numeric.csv', index=False)