In [1]:
import pandas as pd
import numpy as np

In [2]:
datalake = pd.read_csv('./datalake/datalake.csv', encoding='utf-8', header=0, low_memory=False)

In [3]:
original_data = datalake.copy(deep=True)
print(datalake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850013 entries, 0 to 850012
Data columns (total 42 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   COMISARIA           850013 non-null  object
 1   CUADRA              53118 non-null   object
 2   DERIVADA_FISCALIA   715460 non-null  object
 3   DIRECCION           850013 non-null  object
 4   DIST_CIA            850013 non-null  object
 5   DIST_HECHO          850013 non-null  object
 6   DPTO_CIA            850013 non-null  object
 7   DPTO_HECHO          850013 non-null  object
 8   EDAD                847713 non-null  object
 9   ESTADO_DEN          850013 non-null  object
 10  EST_CIVIL           849957 non-null  object
 11  FECHA_HORA_HECHO    850013 non-null  object
 12  ID_COMISARIA        850013 non-null  int64
 13  ID_EST_CIVIL        849962 non-null  object
 14  ID_LIBRO            850013 non-null  object
 15  ID_MATERIA          850013 non-null  int64
 16  ID_MODALIDAD        850013 non-null  int64
 17  ID_NIVEL_EDUCATIVO  90162 non-null   object
 18  ID_REGION           850013 non-null  int64
 19  ID_SIT_PERSONA      850013 non-null  object
 20  ID_SUBTIPO          850013 non-null  int64
 21  ID_TIPO             850013 non-null  int64
 22  ID_TIPO_DENUNCIA    850013 non-null  object
 23  LIBRO               850013 non-null  object
 24  MATERIA             850013 non-null  object
 25  MODALIDAD           850013 non-null  object
 26  NIVEL_EDUCATIVO     55764 non-null   object
 27  OCUPACION           353046 non-null  object
 28  PROV_CIA            850013 non-null  object
 29  PROV_HECHO          850013 non-null  object
 30  REGION              850013 non-null  object
 31  SEXO                849347 non-null  object
 32  SIT_PERSONA         850013 non-null  object
 33  SUB_TIPO            850013 non-null  object
 34  TIPO                850013 non-null  object
 35  TIPO_DENUNCIA       850013 non-null  object
 36  UBICACION           850013 non-null  object
 37  UBIGEO_CIA          850013 non-null  int64
 38  UBIGEO_HECHO        850013 non-null  int64
 39  VIA                 850013 non-null  object
 40  fec_registro        850013 non-null  object
 41  pais_natal          850013 non-null  object
dtypes: int64(8), object(34)
memory usage: 272.4+ MB
None

In [4]:
# Idenficando las columnas por tipo de dato
object_columns = []
int64_columns = []

def update_types():
    global object_columns, int64_columns
    object_columns = datalake.select_dtypes(['object']).columns.to_list()
    int64_columns = datalake.select_dtypes(['int64']).columns.to_list()
    print(f'object ({len(object_columns)})\n {object_columns} ')
    print(f'int64 ({len(int64_columns)})\n {int64_columns} ')

update_types()

object (34)
 ['COMISARIA', 'CUADRA', 'DERIVADA_FISCALIA', 'DIRECCION', 'DIST_CIA', 'DIST_HECHO', 'DPTO_CIA', 'DPTO_HECHO', 'EDAD', 'ESTADO_DEN', 'EST_CIVIL', 'FECHA_HORA_HECHO', 'ID_EST_CIVIL', 'ID_LIBRO', 'ID_NIVEL_EDUCATIVO', 'ID_SIT_PERSONA', 'ID_TIPO_DENUNCIA', 'LIBRO', 'MATERIA', 'MODALIDAD', 'NIVEL_EDUCATIVO', 'OCUPACION', 'PROV_CIA', 'PROV_HECHO', 'REGION', 'SEXO', 'SIT_PERSONA', 'SUB_TIPO', 'TIPO', 'TIPO_DENUNCIA', 'UBICACION', 'VIA', 'fec_registro', 'pais_natal']
int64 (8)
 ['ID_COMISARIA', 'ID_MATERIA', 'ID_MODALIDAD', 'ID_REGION', 'ID_SUBTIPO', 'ID_TIPO', 'UBIGEO_CIA', 'UBIGEO_HECHO']

In [5]:
#Se están clasificando columnas de id's (incluyendo UBIGEOs) como int64.
#Estos datos no son propiamente numéricos, de hecho, la única categoría numérica sería 'EDAD', pero ahora es de tipo object.
#Primero se convertirán todas las columnas id detectadas como int64 a object
for col in int64_columns:
    datalake[col] = datalake[col].astype(str)
update_types()

object (42)
 ['COMISARIA', 'CUADRA', 'DERIVADA_FISCALIA', 'DIRECCION', 'DIST_CIA', 'DIST_HECHO', 'DPTO_CIA', 'DPTO_HECHO', 'EDAD', 'ESTADO_DEN', 'EST_CIVIL', 'FECHA_HORA_HECHO', 'ID_COMISARIA', 'ID_EST_CIVIL', 'ID_LIBRO', 'ID_MATERIA', 'ID_MODALIDAD', 'ID_NIVEL_EDUCATIVO', 'ID_REGION', 'ID_SIT_PERSONA', 'ID_SUBTIPO', 'ID_TIPO', 'ID_TIPO_DENUNCIA', 'LIBRO', 'MATERIA', 'MODALIDAD', 'NIVEL_EDUCATIVO', 'OCUPACION', 'PROV_CIA', 'PROV_HECHO', 'REGION', 'SEXO', 'SIT_PERSONA', 'SUB_TIPO', 'TIPO', 'TIPO_DENUNCIA', 'UBICACION', 'UBIGEO_CIA', 'UBIGEO_HECHO', 'VIA', 'fec_registro', 'pais_natal']
int64 (0)
 []

#### Filtro inicial de atributos

In [6]:
# Las columnas ID no se considera necesarias para el análisis, por lo que se eliminan
datalake = datalake[datalake.columns.drop(list(datalake.filter(regex='ID_')))]
# Las columnas UBIGEO identifican el departamento, provincia y distrito de cada registro, por lo que se eliminan
datalake = datalake[datalake.columns.drop(list(datalake.filter(regex='UBIGEO')))]
# Para estandarizar los nombres de las columnas, se convertirán a mayúsculas
datalake.columns = datalake.columns.str.upper()

update_types()
datalake.info()

object (29)
 ['COMISARIA', 'CUADRA', 'DERIVADA_FISCALIA', 'DIRECCION', 'DIST_CIA', 'DIST_HECHO', 'DPTO_CIA', 'DPTO_HECHO', 'EDAD', 'ESTADO_DEN', 'EST_CIVIL', 'FECHA_HORA_HECHO', 'LIBRO', 'MATERIA', 'MODALIDAD', 'NIVEL_EDUCATIVO', 'OCUPACION', 'PROV_CIA', 'PROV_HECHO', 'REGION', 'SEXO', 'SIT_PERSONA', 'SUB_TIPO', 'TIPO', 'TIPO_DENUNCIA', 'UBICACION', 'VIA', 'FEC_REGISTRO', 'PAIS_NATAL']
int64 (0)
 []
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850013 entries, 0 to 850012
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   COMISARIA          850013 non-null  object
 1   CUADRA             53118 non-null   object
 2   DERIVADA_FISCALIA  715460 non-null  object
 3   DIRECCION          850013 non-null  object
 4   DIST_CIA           850013 non-null  object
 5   DIST_HECHO         850013 non-null  object
 6   DPTO_CIA           850013 non-null  object
 7   DPTO_HECHO         850013 non-null  object
 8   EDAD               847713 non-null  object
 9   ESTADO_DEN         850013 non-null  object
 10  EST_CIVIL          849957 non-null  object
 11  FECHA_HORA_HECHO   850013 non-null  object
 12  LIBRO              850013 non-null  object
 13  MATERIA            850013 non-null  object
 14  MODALIDAD          850013 non-null  object
 15  NIVEL_EDUCATIVO    55764 non-null   object
 16  OCUPACION          353046 non-null  object
 17  PROV_CIA           850013 non-null  object
 18  PROV_HECHO         850013 non-null  object
 19  REGION             850013 non-null  object
 20  SEXO               849347 non-null  object
 21  SIT_PERSONA        850013 non-null  object
 22  SUB_TIPO           850013 non-null  object
 23  TIPO               850013 non-null  object
 24  TIPO_DENUNCIA      850013 non-null  object
 25  UBICACION          850013 non-null  object
 26  VIA                850013 non-null  object
 27  FEC_REGISTRO       850013 non-null  object
 28  PAIS_NATAL         850013 non-null  object
dtypes: object(29)
memory usage: 188.1+ MB

#### Exploración de datos

##### Valores perdidos

In [7]:
# Trimea los textos y si resulta vacio, se pone nan para luego aplicar el fillna
for col in object_columns:
    datalake[col] = datalake[col].str.strip()
datalake = datalake.replace('', np.nan)

In [8]:
# Resumen de valores perdidos
def missing_values():
    row_count = datalake.shape[0]
    print(f'Número total de registros: {row_count}')
    global_null_count = datalake.isnull().sum().sum()
    print(f'Número total de valores perdidos: {global_null_count}')
    print('Valores perdidos por columna:')
    for col in datalake.columns:
        null_count = datalake[col].isnull().sum()
        null_percent = null_count / row_count * 100
        if null_count > 0:
            print(f'{col}: {null_count} ({null_percent:.2f}%)')

missing_values()

Número total de registros: 850013
Número total de valores perdidos: 2620427
Valores perdidos por columna:
CUADRA: 796895 (93.75%)
DERIVADA_FISCALIA: 134560 (15.83%)
DIRECCION: 1 (0.00%)
EDAD: 9404 (1.11%)
ESTADO_DEN: 264066 (31.07%)
EST_CIVIL: 56 (0.01%)
FECHA_HORA_HECHO: 40302 (4.74%)
NIVEL_EDUCATIVO: 794249 (93.44%)
OCUPACION: 539855 (63.51%)
SEXO: 666 (0.08%)
UBICACION: 18 (0.00%)
FEC_REGISTRO: 40302 (4.74%)
PAIS_NATAL: 53 (0.01%)

##### Valores únicos para cada atributo

In [9]:
def get_uniques(col):
    uniques = datalake[col].dropna().unique()
    print(f'{col} [{len(uniques)} unique values]')
    print(uniques)

In [10]:
for col in datalake.columns:
    get_uniques(col)

COMISARIA [1110 unique values]
['HUANCHACO' 'ZAPALLAL' 'COMISARIA DE LA FAMILIA' ...
 'COMISARIA DE FAMILIA - HUARAZ' 'SILVA MERINO' 'INCAHUASI']
CUADRA [1309 unique values]
['11.0' '4.0' '2.0' ... '453.0' '655.0' '769.0']
DERIVADA_FISCALIA [10 unique values]
['JUZGADO DE FAMILIA' 'UNIDAD PNP' 'OTROS' 'JUZGADO DE PAZ'
 'FISCALÍA PENAL' 'FISCALÍA DE FAMILIA' 'JUZGADO PENAL' 'RE'
 'FISCALIA DE MEDIO AM' 'FISCALIA DE MEDIO AMBIENTE']
DIRECCION [1730 unique values]
['AV. LA RIVERA PLAZA SAN MARTIN' 'JR GALILEA S/N'
 'URB. CIUDAD DE DIOS MZA. Q LTE 1' ... '44130' 'PLAZA TOQUEPALA'
 'CALLE SUCRE MZ E LTE 3']
DIST_CIA [819 unique values]
['HUANCHACO' 'PUENTE PIEDRA' 'NUEVO CHIMBOTE' 'WANCHAQ'
 'SANTIAGO DE SURCO' 'CALLAO' 'SAN BORJA' 'LURIGANCHO - CHOSICA'
 'HUANCABAMBA' 'LOS OLIVOS' 'OCOÑA' 'PARCONA' 'LA PERLA' 'INDEPENDENCIA'
 'PUCUSANA' 'LA ESPERANZA' 'HUACHO' 'CHIMBOTE' 'VILLA EL SALVADOR'
 'SAN MIGUEL' 'SAN JUAN DE LURIGANCHO' 'PIURA' 'JOSE LEONARDO ORTIZ'
 'JULIACA' 'LURIN' 'VENTANILLA' 'SAN MARTIN DE PORRES'
 'VILLA MARIA DEL TRIUNFO' 'CORRALES' 'HUAURA' 'MAJES' 'CHORRILLOS'
 'SANTA ANITA' 'SAMEGUA' 'JOSE LUIS BUSTAMANTE Y RIVERO'
 'CARMEN DE LA LEGUA REYNOSO' 'ATE' 'CAYMA' 'PARIÑAS' 'SURQUILLO'
 'BARRANCO' 'LAMBAYEQUE' 'MIRAFLORES' 'LA VICTORIA' 'LOS BAÑOS DEL INCA'
 'MOLLENDO' 'EL AGUSTINO' 'CALLERIA' 'CARABAYLLO' 'SAN JUAN DE MIRAFLORES'
 'JACOBO HUNTER' 'CHICLAYO' 'ABANCAY' 'ISLAY' 'CUSCO' 'PUNTA NEGRA'
 'TAMBURCO' 'HUANCAVELICA' 'CERRO COLORADO' 'SANTIAGO' 'LIMA' 'PUNO'
 'PISCO' 'CAJAMARCA' 'LA MOLINA' 'SAN VICENTE DE CAÑETE' 'LA OROYA'
 'MOQUEGUA' 'AREQUIPA' 'PAUCARPATA' 'ICA' 'HUARAZ' 'HUANCAYO' 'TRUJILLO'
 'SULLANA' 'ILO' 'SALAS' 'TACNA' 'EL TAMBO' 'VICTOR LARCO HERRERA'
 'SAN ISIDRO' 'COMAS' 'MORROPE' 'DESAGUADERO' 'UCHUMAYO' 'ZARUMILLA'
 'ASCOPE' 'ILAVE' 'FLORENCIA DE MORA'
 'CORONEL GREGORIO ALBARRACIN LANCHIPA' 'CIENEGUILLA' 'RIMAC' 'SOCABAYA'
 'CHILCA' 'MARIANO MELGAR' 'CHACLACAYO' 'SUBTANJALLA' 'ALTO SELVA ALEGRE'
 'LA TINGUIÑA' 'ALTO LARAN' '26 DE OCTUBRE' 'ALTO DE LA ALIANZA' 'SUNAMPE'
 'BELLAVISTA' 'SAYLLA' 'SECHURA' 'CASMA' 'CHINCHA ALTA' 'CATACAOS'
 'PACHACUTEC' 'EL PORVENIR' 'TUCUME' 'SAMUEL PASTOR' 'PUEBLO LIBRE'
 'SALAVERRY' 'LA JOYA' 'LINCE' 'SANTA ROSA' 'CHULUCANAS' 'IMPERIAL'
 'YAUTAN' 'MAGDALENA DEL MAR' 'SAN JUAN BAUTISTA' 'IQUITOS' 'BREÑA'
 'CAJATAMBO' 'ANTA' 'YARINACOCHA' 'BELEN' 'SANTA' 'VISTA ALEGRE' 'HUARAL'
 'OLMOS' 'MACHUPICCHU' 'TUMAN' 'PACASMAYO' 'CAMANA' 'SANTA EULALIA'
 'TIABAYA' 'YUNGUYO' 'JAYANCA' 'MATUCANA' 'LA BREA' 'TAMBO DE MORA'
 'SARIN' 'PATIVILCA' 'SABANDIA' 'COISHCO' 'NAUTA' 'SACHACA' 'SAMANCO'
 'VILLA RICA' 'PACHACAMAC' 'SAN ANDRES' 'MAZAN' 'SAN ANTONIO' 'MOTUPE'
 'PIMENTEL' 'POMALCA' 'AGUAS VERDES' 'PALPA' 'SAN LUIS' 'CONCEPCION'
 'HUARMEY' 'MOCHE' 'MANCOS' 'YUNGAY' 'CALCA' 'NUEVO IMPERIAL' 'ETEN'
 'ANCON' 'REQUE' 'LAREDO' 'LOS ORGANOS' 'JAUJA' 'MONSEFU' 'HUALMAY'
 'CAYALTI' 'TUMBES' 'SAN SEBASTIAN' 'MARCONA' 'PICSI' 'BUENOS AIRES'
 'MALA' 'MOCHUMI' 'PAITA' 'URCOS' 'SUPE' 'PUEBLO NUEVO' 'HUMAY'
 'SAN BARTOLO' 'CHICAMA' 'POCOLLAY' 'PUNTA DE BOMBON' 'FERREÑAFE'
 'YARABAMBA' 'SAN JERONIMO DE TUNAN' 'ACOLLA' 'SAN AGUSTIN' 'MANANTAY'
 'SAÑA' 'SAN IGNACIO' 'PATAPO' 'PARAMONGA' 'SAN JOSE' 'PUNTA HERMOSA'
 'DEAN VALDIVIA' 'CASTILLA' 'ETEN PUERTO' 'JULI' 'BAGUA' 'PISAC' 'TARMA'
 'AIJA' 'CHINCHA BAJA' 'EL ALTO' 'INDIANA' 'PUCALA' 'JAEN' 'CASA GRANDE'
 'URUBAMBA' 'CHARACATO' 'CARHUAZ' 'PAIJAN' 'POMATA' 'VICE' 'MI PERU'
 'SUPE PUERTO' 'SAN JERONIMO' 'SAYAN' 'HUAROCHIRI' 'CHONGOYAPE' 'CHANCAY'
 'HUARO' 'CHOCOPE' 'CALANGO' 'SANTA CRUZ' 'CERRO AZUL' 'LA MATANZA'
 'RICARDO PALMA' 'TUPAC AMARU INCA' 'PARACAS' 'TAYABAMBA' 'PACORA'
 'SICAYA' 'PACANGA' 'PEBAS' 'OTUZCO' 'CHIQUIAN' 'LOCUMBA' 'QUILMANA'
 'PITIPO' 'HUAYUCACHI' 'BERNAL' 'PUCARA' 'ORCOTUNA' 'IGNACIO ESCUDERO'
 'MARCARA' 'ACOBAMBA' 'LA PUNTA' 'SAN RAMON' 'HUANUCO' 'PACAIPAMPA'
 'BOLIVAR' 'CHIRINOS' 'CHUPACA' 'SAPALLANGA' 'PAMPACOLCA'
 'SAN PEDRO DE LLOC' 'NIEPOS' 'MEJIA' 'JEQUETEPEQUE' 'CHEPEN' 'RECUAY'
 'HUAROCONDO' 'NEPEÑA' 'MORALES' 'CATACHE' 'INCLAN' 'SAN JOSE DE LOURDES'
 'EL INGENIO' 'CHANCHAMAYO' 'HUABAL' 'MOROCOCHA' 'OYOTUN' 'LOS AQUIJES'
 'COCACHACRA' 'MORROPON' 'PARIACOTO' 'ANDABAMBA' 'MORO' 'SAN NICOLAS'
 'TINGO' 'BAGUA GRANDE' 'CHACHAPOYAS' 'SAN FRANCISCO DE DAGUAS' 'CAJARURO'
 'LUYA' 'LAMUD' 'MARISCAL CASTILLA' 'LIMABAMBA' 'MOLINOPAMPA'
 'SANTO TOMAS' 'LA PECA' 'LONGAR' 'GRANADA' 'FLORIDA' 'JAMALCA'
 'YAMBRASBAMBA' 'JUMBILLA' 'PISUQUIA' 'CHAVIN DE HUANTAR' 'CUMBA' 'ASIA'
 'HUARI' 'CHACAS' 'NAZCA' 'NIEVA' 'PISCOBAMBA' 'POMABAMBA' 'AYABACA'
 'CAMPORREDONDO' 'LA JALCA' 'SIHUAS' 'CORONGO' 'CABANA' 'APATA' 'PACHIA'
 'CHIRIMOTO' 'LA ARENA' 'AMARILIS' 'ARAMANGO' 'MAGDALENA DE CAO'
 'HUAMACHUCO' 'VIRU' 'POROTO' 'PARCOY' 'AGALLPAMPA' 'CASCAS' 'ANGASMARCA'
 'CHARAT' 'PATAZ' 'SANTIAGO DE CHUCO' 'OCALLI' 'JULCAN' 'RAZURI'
 'LUNAHUANA' 'CANCHAQUE' 'MACATE' 'OXAPAMPA' 'ILLIMO' 'LANCONES' 'IMAZA'
 'PULAN' 'VALERA' 'COLQUIOC' 'CONTAMANA' 'CHAO' 'SAN MATEO' 'SAMA'
 'SAN PABLO' 'ENCAÑADA' 'BAMBAMARCA' 'ZORRITOS' 'NAMORA' 'CHILETE'
 'EDUARDO VILLANUEVA' 'ICHOCAN' 'CACHACHI' 'CUTERVO' 'CONTUMAZA'
 'PEDRO GALVEZ' 'CALQUIS' 'HUASMIN' 'HUALGAYOC' 'CATILLUC' 'HUAMBOS'
 'TARATA' 'CELENDIN' 'SAN BENITO' 'SITACOCHA' 'SAN JUAN' 'CHOTA'
 'MAGDALENA' 'JESUS' 'CAJABAMBA' 'GUADALUPE' 'LLAMA' 'POMAHUACA' 'SUCRE'
 'EL PRADO' 'ANDAHUAYLAS' 'ANDAHUAYLILLAS' 'COMBAPATA' 'CHINCHERO' 'YONAN'
 'PITUMARCA' 'SANTA ANA' 'POROY' 'YANAOCA' 'SICUANI' 'ESPINAR' 'PARURO'
 'OROPESA' 'CHONGOS ALTO' 'MARANGANI' 'CANTA' 'TACABAMBA' 'PACHANGARA'
 'LIMATAMBO' 'CATAHUASI' 'QUIRUVILCA' 'CHIVAY' 'APLAO' 'YAUCA' 'CHALA'
 'MADRIGAL' 'POCSI' 'ACARI' 'NICOLAS DE PIEROLA' 'CABANACONDE' 'CHAPARRA'
 'ORCOPAMPA' 'CHIGUATA' 'HUAMBO' 'JOSE MARIA QUIMPER' 'LOMAS' 'ATICO'
 'COTAHUASI' 'POLOBAYA' 'MARIANO NICOLAS VALCARCEL' 'VIRACO' 'ANDARAY'
 'CARAVELI' 'YURA' 'BELLA UNION' 'MARISCAL CACERES' 'CHUQUIBAMBA'
 'TARAPOTO' 'HUAYTARA' 'QUINJALCA' 'OYON' 'CHOROS' 'SANTA TERESA'
 'LA BANDA DE SHILCAYO' 'CURGOS' 'PICHARI' 'AYACUCHO' 'TORATA' 'PAUSA'
 'LA PAMPA' 'HUAYLLABAMBA' 'PALMAPAMPA' 'MARCABAMBA' 'OCROS'
 'NUEVO PROGRESO' 'AYNA' 'PUYUSCA' 'CORACORA' 'HUANCAPI' 'PANGOA' 'TAMBO'
 'HUANTA' 'CANCHAYLLO' 'CARMEN ALTO' 'SATIPO' 'PICHANAQUI' 'JUNIN'
 'PILCUYO' 'SANTA MARIA DEL MAR' 'TAMBOPATA' 'RUPA-RUPA'
 'SAN JUAN DE BIGOTE' 'HUASAHUASI' 'PERENE' 'CHICLA' 'CARHUAMAYO' 'RIOJA'
 'MOYOBAMBA' 'SAPOSOA' 'JUANJUI' 'CURA MORI' 'PUQUIO' 'SORITOR' 'YAUYOS'
 'PARDO MIGUEL' 'HAQUIRA' 'SAN PEDRO DE CACHORA' 'GAMARRA' 'COTABAMBAS'
 'ANCO_HUALLO' 'PROGRESO' 'RANRACANCHA' 'HUANIPACA' 'VILCABAMBA'
 'HUANCARANI' 'TALAVERA' 'PACUCHA' 'JOSE SABOGAL' 'TINTA' 'PUSI' 'ONGOY'
 'INAMBARI' 'SAN HILARION' 'PUCYURA' 'HUARIACA' 'YURIMAGUAS' 'LABERINTO'
 'TINYAHUARCO' 'HUEPETUHE' 'CANGALLO' 'MARAS' 'SINCOS' 'YANTALO' 'AMBO'
 'CHINCHEROS' 'ANDARAPA' 'COLAN' 'SANTIAGO DE CAO' 'AMOTAPE' 'TAMARINDO'
 'YANACA' 'VICHAYAL' 'QUERECOTILLO' 'COCHARCAS' 'CHAUPIMARCA' 'REQUENA'
 'OXAMARCA' 'LAYO' 'PAUCARTAMBO' 'HUANCARAMA' 'TOCACHE' 'SUYO'
 'TAMBO GRANDE' 'HUACHON' 'EL CARMEN DE LA FRONTERA' 'PACHACONAS'
 'TICLACAYAN' 'MIGUEL CHECA' 'SIVIA' 'DANIEL ALOMIAS ROBLES' 'HUARMACA'
 'MARIANO DAMASO BERAUN' 'MONZON' 'HUACCANA' 'CHOLON' 'SICCHEZ' 'JILILI'
 'LAGUNAS' 'UCHIZA' 'COTARUSE' 'PANAO' 'UTICYACU' 'MAMARA' 'JAQUI'
 'AUCARA' 'SONDORILLO' 'SANTA ANA DE TUSI' 'SANTO DOMINGO' 'TARACO'
 'HUALLANCA' 'OCOBAMBA' 'CHINCHAO' 'CHALHUANCA' 'MOHO' 'COPALLIN'
 'YANAHUANCA' 'HUANCARAY' 'SIMON BOLIVAR' 'CURAHUASI' 'TANTARICA'
 'NUEVA CAJAMARCA' 'CAMPOVERDE' 'ALONSO DE ALVARADO' 'HUAYLLAY'
 'LAS PIRIAS' 'ANCAHUASI' 'HUAYOPATA' 'PAJARILLO' 'SAN ANTONIO DE CACHI'
 'ZURITE' 'CABANILLAS' 'ACOMAYO' 'TAPAIRIHUA' 'ACOSTAMBO' 'HUACULLANI'
 'YANACANCHA' 'LAMPA' 'JESUS MARIA' 'PACOCHA' 'SAN CLEMENTE' 'PUNCHANA'
 'PILLCO MARCA' 'FRIAS' 'SANTA ROSA DE QUIVES' 'SANTA RITA DE SIGUAS'
 'KISHUARA' 'PAIMAS' 'SAN RAFAEL' 'PUTINA' 'SANTA MARIA DE CHICMO'
 'LA UNION' 'BARRANCA' 'LAS PIEDRAS' 'SAN LUIS DE SHUARO' 'URANMARCA'
 'MARCAVELICA' 'PALCA' 'ORURILLO' 'CALZADA' 'LOS MOROCHUCOS' 'CHUNGUI'
 'LUCRE' 'CAJACAY' 'MASISEA' 'RAMON CASTILLA' 'LIRCAY' 'PALLASCA'
 'YAMANGO' 'VEGUETA' 'PAMPACHIRI' 'CHALLHUAHUACHO' 'CANARIA' 'AYAUCA'
 'GROCIO PRADO' 'MOLLEBAYA' 'JOSE CRESPO Y CASTILLO' 'LONYA GRANDE'
 'CARAZ' 'IBERIA' 'YANAHUARA' 'CIUDAD NUEVA' 'MARANURA' 'MAÑAZO'
 'EL CARMEN' 'TAMBOBAMBA' 'MAZAMARI' 'ACOS VINCHOS' 'LEIMEBAMBA' 'UCO'
 'URACA' 'EL MILAGRO' 'PAPAYAL' 'ACOS' 'MANCORA' 'ULCUMAYO' 'QUEROBAMBA'
 'SAN JOSE DE LOS MOLINOS' 'QUIQUIJANA' 'JAZAN' 'MACHE' 'LAS LOMAS'
 'LUYA VIEJO' 'IZCUCHACA' 'CCATCA' 'PICOTA' 'LAMAS' 'POMACANCHI' 'VICCO'
 'ZUÑIGA' 'MADRE DE DIOS' 'SALITRAL' 'SANTA CATALINA DE MOSSA' 'HUACACHI'
 'HUANCA' 'CHACOCHE' 'TAUCA' 'HUANDO' 'GUADALUPITO' 'TARICA'
 'SANTA MARIA DEL VALLE' 'COLCAMAR' 'SANDIA' 'HUAYLAS' 'CAPACHICA'
 'EL MUYO' 'SAN SALVADOR' 'PACARAN' 'OLLANTAYTAMBO' 'YANATILE' 'CACHIMAYO'
 'RANRAHIRCA' 'OMATE' 'SIMBAL' 'CHAVINILLO' 'CATAC' 'CHAZUTA'
 'PAUCARBAMBA' 'ILABAYA' 'SAN JACINTO' 'CONGALLA' 'TABACONAS'
 'SAN JUAN DE TARUCANI' 'CAYLLOMA' 'PUERTO INCA' 'SANCOS' 'TINTAY'
 'TIQUILLACA' 'CASITAS' 'YANAMA' 'MASIN' 'LLAMELLIN' 'HUACAYBAMBA'
 'VELILLE' 'YAUYA' 'GOYLLARISQUIZGA' 'IÑAPARI' 'TUMAY HUARACA' 'CARACOTO'
 'PAUCAR' 'PLATERIA' 'PICHACANI' 'OCONGATE' 'ACORA' 'SHIPASBAMBA'
 'CHURUBAMBA' 'IRAZOLA' 'PUERTO BERMUDEZ' 'SACANCHE' 'PADRE ABAD' 'HUATA'
 'SAN JOSE DE SISA' 'ALBERTO LEVEAU' 'SHAPAJA' 'HUANGASCAR' 'RAYMONDI'
 'TABALOSOS' 'POZUZO' 'AZANGARO' 'PAMPAS DE HOSPITAL' 'NUÑOA'
 'HUACHOCOLPA' 'ZEPITA' 'MOSOC LLACTA' 'CHUCUITO' 'NESHUYA' 'ANANEA'
 'SANTA LUCIA' 'SAN MARCOS' 'PAMPAS' 'ASILLO' 'SAN JUAN DE SIGUAS'
 'AYAVIRI' 'SAN JUAN DE LA VIRGEN' 'UNICACHI' 'QUINUA' 'PAUCARCOLLA'
 'MIRACOSTA' 'HUANCANE' 'JOSE DOMINGO CHOQUEHUANCA' 'VILQUE CHICO' 'LAJAS'
 'SHILLA' 'SHUPLUY' 'SINSICAP' 'SAN FRANCISCO DE ASIS DE YARUSYACAN'
 'VARGAS GUERRA' 'CUTURAPI' 'COPANI' 'QUILCA' 'MACUSANI' 'PAUCARA'
 'CONIMA' 'BAJO BIAVO' 'CANOAS DE PUNTA SAL' 'CHUQUIBAMBILLA' 'LLATA'
 'USQUIL' 'A.VON.HUMBOLDT' 'CABANILLA' 'TURPO' 'CHUSCHI' 'MANU'
 'TINICACHI' 'CALANA' 'ANTABAMBA' 'BALSAS' 'CAMANTI' 'YAURISQUE'
 'COTAPARACO' 'HUACRACHUCO' 'SAN ANTON' 'ESTIQUE-PAMPA' 'LAMBRAMA'
 'CORDOVA' 'CODO DEL POZUZO' 'YAMON' 'HUAMANGUILLA' 'TOTOS' 'CORIS'
 'POTONI' 'CURIBAYA' 'TOURNAVISTA' 'ECHARATE' 'QUELLOUNO' 'AUCALLAMA'
 'QUINISTAQUILLAS' 'SAN MIGUEL DE EL FAIQUE' 'SAMAN' 'SOCOTA' 'SIBAYO'
 'SANTA ISABEL DE SIGUAS' 'CASCAPARA' 'ARAPA' 'LA CRUZ' 'INGUILPATA'
 'OMIA' 'SAN ANTONIO DE CHUCA' 'RIO NEGRO' 'LUCMA' 'SALPO'
 'SAN MIGUEL DE MAYOCC' 'CHORAS' 'PAMPAROMAS' 'LALAQUIZ'
 'RINCONADA LLICUAR' 'VITOR' 'INCAHUASI' 'ITE']
DIST_HECHO [1435 unique values]
['HUANCHACO' 'PUENTE PIEDRA' 'NUEVO CHIMBOTE' ... 'HUANCAPON' 'TINICACHI'
 'BALSAPUERTO']
DPTO_CIA [26 unique values]
['LA LIBERTAD' 'LIMA' 'ANCASH' 'CUSCO' 'CALLAO' 'PIURA' 'AREQUIPA' 'ICA'
 'LAMBAYEQUE' 'PUNO' 'TUMBES' 'MOQUEGUA' 'CAJAMARCA' 'UCAYALI' 'APURIMAC'
 'HUANCAVELICA' 'JUNIN' 'TACNA' 'LORETO' 'PASCO' 'AMAZONAS' 'HUANUCO'
 'SAN MARTIN' 'AYACUCHO' 'MADRE DE DIO' 'MADRE DE DIOS']
DPTO_HECHO [27 unique values]
['LA LIBERTAD' 'LIMA' 'ANCASH' 'CUSCO' 'CALLAO' 'PIURA' 'AREQUIPA' 'ICA'
 'LAMBAYEQUE' 'PUNO' 'TUMBES' 'MOQUEGUA' 'CAJAMARCA' 'UCAYALI' 'APURIMAC'
 'HUANCAVELICA' 'JUNIN' 'TACNA' 'LORETO' 'PASCO' 'AMAZONAS' 'HUANUCO'
 'SAN MARTIN' 'AYACUCHO' 'MADRE DE DIO' 'MADRE DE DIOS' 'NO INDICA']
EDAD [276 unique values]
['32' '25' '20' '51' '39' '17' '40' '24' '28' '23' '42' '55' '21' '44'
 '30' '46' '35' '34' '38' '31' '41' '50' '26' '60' '29' '43' '47' '22'
 '37' '54' '19' '75' '49' '18' '27' '36' '65' '56' '53' '61' '33' '16'
 '62' '14' '48' '52' '45' '11' '58' '9' '84' '13' '59' '71' '12' '86' '70'
 '64' '69' '8' '5' '15' '57' '7' '77' '63' '76' '6' '67' '68' '10' '74'
 '3' '73' '116' '66' '82' '88' '78' '1' '83' '87' '2' '134' '89' '80' '85'
 '72' '718' '4' '81' '111' '90' '79' '0' '516' '91' '92' '94' '526' '93'
 '230' '151' '120' '100' '213' '95' '339' '617' '115' '180' '96' '119'
 '332' '220' '110' '112' '556' '354' '775' '97' '536' '117' '415' '125'
 '314' '113' '118' '104' '425' '728' '670' '276' '114' '447' '439' '440'
 '132' '335' '103' '170' '98' '99' '554' '140' '410' '545' '448' '553'
 '340' '400' '331' '226' '441' '101' '808' '191' '252' '434' '760' '74.0'
 '45.0' '41.0' '70.0' '38.0' '22.0' '57.0' '42.0' '32.0' '24.0' '19.0'
 '31.0' '27.0' '26.0' '44.0' '34.0' '37.0' '47.0' '21.0' '25.0' '29.0'
 '30.0' '62.0' '63.0' '35.0' '7.0' '10.0' '28.0' '36.0' '48.0' '33.0'
 '67.0' '17.0' '16.0' '43.0' '61.0' '58.0' '39.0' '40.0' '23.0' '20.0'
 '54.0' '56.0' '55.0' '51.0' '50.0' '46.0' '52.0' '53.0' '64.0' '65.0'
 '18.0' '11.0' '66.0' '15.0' '6.0' '89.0' '3.0' '14.0' '2.0' '71.0' '5.0'
 '8.0' '60.0' '49.0' '68.0' '72.0' '84.0' '4.0' '69.0' '59.0' '75.0'
 '73.0' '12.0' '77.0' '76.0' '1.0' '80.0' '87.0' '13.0' '81.0' '9.0'
 '79.0' '85.0' '82.0' '113.0' '78.0' '92.0' '93.0' '86.0' '83.0' '0.0'
 '90.0' '91.0' '516.0' '99.0' '98.0' '434.0' '97.0' '95.0' '88.0' '114.0'
 '116.0' '101.0' '94.0' '132.0' '119.0' '398.0' '115.0' '617.0' '112.0'
 '-1.0' '96.0' '117.0' '171.0' '627.0']
ESTADO_DEN [5 unique values]
['RE' 'PE' 'NU' 'ES' 'pe']
EST_CIVIL [7 unique values]
['CONVIVIENTE' 'SOLTERO(A)' 'CASADO(A)' 'NO INDICA' 'VIUDO(A)'
 'DIVORCIADO(A)' 'ECSL']
FECHA_HORA_HECHO [63378 unique values]
['1/1/2016' '12/25/2015' '1/5/2016' ... '43825.975' '43830.7604166667'
 '43794.8680555556']
LIBRO [56 unique values]
['[DEINPOL] ACTA DE DENUNCIA VERBAL' '[FAM] DENUNCIA VIOLENCIA FAMILIAR'
 '[FAM] ACTA DE DENUNCIA VERBAL'
 '[FAM] DENUNCIA ABANDONO Y RETIRO DE HOGAR' '[FAM] OCURRENCIA MENORES'
 '[FAM] OCURRENCIA VIOLENCIA FAMILIAR' '[FAM] ACTA DE INTERVENCION'
 '[DEINPOL] DENUNCIA DIRECTA DELITO' '[FAM] OCURRENCIA DE CALLE - COMUN'
 '[FAM] OCURRENCIA DE CALLE - RESERVADA'
 '[FAM] DENUNCIA VIOLENCIA FAMILIAR - RESERVADA'
 '[FAM] ACTA DE DENUNCIA VERBAL RESERVADA'
 '[DEINPOL] OCURRENCIA DE CALLE - COMUN' '[DEINPOL] ACTA DE INTERVENCION'
 '[FAM] DENUNCIA LIBRO DE MENORES'
 '[FAM] DENUNCIA REGIMEN VISITAS JUDICIAL Y/0 EXTRAJUDICIAL'
 '[PDE] DENUNCIA  PERDIDA DE DOCUMENTOS , ESPECIES Y OTROS'
 '[FAM] ACTA DE INTERVENCION RESERVADA'
 '[DEINPOL] DENUNCIA INFRACCION A LA LEY PENAL'
 '[GP] ACTA DE INTERVENCION' '[TRAN] DENUNCIA CHOQUE Y FUGA'
 '[DEINPOL] DENUNCIA DIRECTA POR FALTAS'
 '[TRAN] OCURRENCIA DE CALLE - COMUN'
 '[DEINPOL] ACTA DE DENUNCIA VERBAL RESERVADA'
 '[TRAN] ACTA DE DENUNCIA VERBAL' '[TRAN] ACTA DE INTERVENCION'
 '[GP] OCURRENCIA  DE CALLE'
 '[PDE] OCURRENCIA PERDIDA DE DOCUMENTOS Y ESPECIES'
 '[DEINPOL] OCURRENCIA DE CALLE - RESERVADA'
 '[DEINPOL ] DENUNCIA DIRECTA RESERVADA'
 '[DEINPOL] OCURRENCIA DE CALLE - COMUN (FALTAS)'
 '[DEPINCRI] DENUNCIA DIRECTA' '[DIVINCRI] DENUNCIA DIRECTA'
 '[TRAN] DENUNCIA DIRECTA TRANSITO' '[GP] OCURRENCIA  DE CALLE RESERVADA'
 '[TRAN] OCURRENCIA TRANSITO COMUN' '[DEINPOL] DENUNCIA DESAPARECIDOS'
 '[DIVINCRI] OCURRENCIA POLICIAL' '17' '35' '19'
 '[TRAN] OCURRENCIA INFRACCION AL RGTO.NACIONAL DE  TRANSITO'
 '[DEINPOL] DENUNCIA ROBO Y HURTO DE  AUTOPARTES Y ACCESORIOS'
 '[DIVINCRI]DENUNCIAS TRANSCRITAS' '[DEPINCRI] ACTA DE DENUNCIA VERBAL'
 '[DIVINCRI] ACTA DE DENUNCIA VERBAL' '[DEPINCRI] ACTA DE INTERVENCION'
 '[TRAN] ACTA DE DENUNCIA VERBAL RESERVADA'
 '[DEINPOL] ACTA DE INTERVENCION RESERVADA'
 '[DEPINCRI] DENUNCIA DIRECTA RESERVADA' '[DEPINCRI] OCURRENCIA POLICIAL'
 '[DIVINCRI] ACTA DE INTERVENCION' '[TRAN] ACTA DE INTERVENCION RESERVADA'
 '[DEPROVE] LIBRO REGISTRO DE ACTAS DE INTERVENCION Y OCURRENCIAS DE CALLE'
 '[DEPINCRI] DENUNCIAS TRANSCRITAS' '[DIVINCRI] DENUNCIAS MINIST.PUBLICO']
MATERIA [1 unique values]
['LEYES ESPECIALES']
MODALIDAD [7 unique values]
['MALTRATO SIN LESION' 'VIOLENCIA FISICA' 'VIOLENCIA PSICOLOGICA'
 'VIOLENCIA FISICA Y PSICOLOGICA' 'VIOLENCIA ECONOMICA O PATRIMONIAL'
 'COACCION GRAVE' 'AMENAZA GRAVE']
NIVEL_EDUCATIVO [6 unique values]
['SECUNDARIA' 'PRIMARIA' 'SUPERIOR' 'TECNICA' 'SIN INSTRUCCION' 'GINI']
OCUPACION [10937 unique values]
['AGRICULTOR' 'AMA DE CASA' 'SU CASA' ... 'AJENTE DE SEGURIDAD'
 'ASESORA DE BANCO' 'ANIMACION DE FIESTAS']
PROV_CIA [189 unique values]
['TRUJILLO' 'LIMA' 'SANTA' 'CUSCO' 'CALLAO' 'HUANCABAMBA' 'CAMANA' 'ICA'
 'HUAURA' 'PIURA' 'CHICLAYO' 'SAN ROMAN' 'TUMBES' 'CAYLLOMA'
 'MARISCAL NIETO' 'AREQUIPA' 'TALARA' 'LAMBAYEQUE' 'CAJAMARCA' 'ISLAY'
 'CORONEL PORTILLO' 'ABANCAY' 'HUANCAVELICA' 'PUNO' 'PISCO' 'CAÑETE'
 'YAULI' 'HUARAZ' 'HUANCAYO' 'SULLANA' 'ILO' 'TACNA' 'CHUCUITO'
 'ZARUMILLA' 'ASCOPE' 'EL COLLAO' 'CHINCHA' 'SECHURA' 'CASMA' 'MORROPON'
 'MAYNAS' 'CAJATAMBO' 'ANTA' 'NAZCA' 'HUARAL' 'URUBAMBA' 'PACASMAYO'
 'HUAROCHIRI' 'YUNGUYO' 'SANCHEZ CARRION' 'BARRANCA' 'LORETO' 'OXAPAMPA'
 'JAEN' 'PALPA' 'CONCEPCION' 'HUARMEY' 'YUNGAY' 'CALCA' 'JAUJA' 'PAITA'
 'QUISPICANCHI' 'FERREÑAFE' 'SAN IGNACIO' 'BAGUA' 'TARMA' 'AIJA' 'CARHUAZ'
 'SANTA CRUZ' 'PATAZ' 'CHEPEN' 'MARISCAL RAMON CASTILLA' 'OTUZCO'
 'BOLOGNESI' 'JORGE BASADRE' 'CHANCHAMAYO' 'HUANUCO' 'AYABACA'
 'SAN MIGUEL' 'CHUPACA' 'CASTILLA' 'RECUAY' 'SAN MARTIN'
 'RODRIGUEZ DE MENDOZA' 'LUYA' 'UTCUBAMBA' 'CHACHAPOYAS' 'BONGARA' 'HUARI'
 'ASUNCION' 'CONDORCANQUI' 'MARISCAL LUZURIAGA' 'POMABAMBA' 'SIHUAS'
 'CORONGO' 'PALLASCA' 'VIRU' 'GRAN CHIMU' 'SANTIAGO DE CHUCO' 'JULCAN'
 'UCAYALI' 'SAN PABLO' 'HUALGAYOC' 'CONTRALMIRANTE VILLAR' 'CONTUMAZA'
 'SAN MARCOS' 'CAJABAMBA' 'CUTERVO' 'CELENDIN' 'CHOTA' 'TARATA'
 'ANDAHUAYLAS' 'CANCHIS' 'LA CONVENCION' 'CANAS' 'ESPINAR' 'PARURO'
 'CANTA' 'OYON' 'YAUYOS' 'CARAVELI' 'LA UNION' 'CONDESUYOS' 'HUAYTARA'
 'HUAMANGA' 'PAUCAR DEL SARA SARA' 'LA MAR' 'TOCACHE' 'PARINACOCHAS'
 'VICTOR FAJARDO' 'SATIPO' 'HUANTA' 'JUNIN' 'TAMBOPATA' 'LEONCIO PRADO'
 'RIOJA' 'MOYOBAMBA' 'BELLAVISTA' 'HUALLAGA' 'MARISCAL CACERES' 'LUCANAS'
 'ANTABAMBA' 'COTABAMBAS' 'GRAU' 'CHINCHEROS' 'PAUCARTAMBO' 'HUANCANE'
 'PICOTA' 'PASCO' 'ALTO AMAZONAS' 'OCROS' 'MANU' 'CANGALLO' 'AMBO'
 'AYMARAES' 'REQUENA' 'HUAMALIES' 'MARAÑON' 'PACHITEA'
 'DANIEL ALCIDES CARRION' 'MOHO' 'CARLOS FERMIN FITZCARRALD' 'LAMAS'
 'ACOMAYO' 'TAYACAJA' 'LAMPA' 'SAN ANTONIO DE PUTINA' 'MELGAR' 'ACOBAMBA'
 'ANGARAES' 'CHUMBIVILCAS' 'HUAYLAS' 'TAHUAMANU' 'SUCRE' 'SANDIA'
 'DOS DE MAYO' 'GENERAL SANCHEZ CERRO' 'YAROWILCA' 'CHURCAMPA'
 'PUERTO INCA' 'HUANCA SANCOS' 'ANTONIO RAYMONDI' 'HUACAYBAMBA'
 'PADRE ABAD' 'EL DORADO' 'ATALAYA' 'AZANGARO' 'CARABAYA' 'CANDARAVE']
PROV_HECHO [192 unique values]
['TRUJILLO' 'LIMA' 'SANTA' 'CUSCO' 'CALLAO' 'HUANCABAMBA' 'CAMANA' 'ICA'
 'HUAURA' 'PIURA' 'CHICLAYO' 'SAN ROMAN' 'TUMBES' 'CAYLLOMA'
 'MARISCAL NIETO' 'AREQUIPA' 'TALARA' 'LAMBAYEQUE' 'CAJAMARCA' 'ISLAY'
 'CORONEL PORTILLO' 'ABANCAY' 'HUANCAVELICA' 'PUNO' 'PISCO' 'CAÑETE'
 'YAULI' 'HUAYLAS' 'HUANCAYO' 'SULLANA' 'ILO' 'TACNA' 'CHUCUITO'
 'ZARUMILLA' 'ASCOPE' 'EL COLLAO' 'HUARAZ' 'CHINCHA' 'SECHURA' 'CASMA'
 'MORROPON' 'MAYNAS' 'BARRANCA' 'ANTA' 'NAZCA' 'HUARAL' 'URUBAMBA'
 'PACASMAYO' 'HUAROCHIRI' 'YUNGUYO' 'LORETO' 'OXAPAMPA' 'PALPA'
 'QUISPICANCHI' 'CONCEPCION' 'HUARMEY' 'YUNGAY' 'CALCA' 'JAUJA'
 'CONTRALMIRANTE VILLAR' 'ANDAHUAYLAS' 'PAITA' 'FERREÑAFE' 'CASTILLA'
 'SAN IGNACIO' 'BAGUA' 'TARMA' 'AIJA' 'JAEN' 'CHUMBIVILCAS' 'VIRU'
 'CARHUAZ' 'SANTA CRUZ' 'HUANUCO' 'PATAZ' 'CHEPEN'
 'MARISCAL RAMON CASTILLA' 'OTUZCO' 'BOLOGNESI' 'JORGE BASADRE'
 'SANCHEZ CARRION' 'CHANCHAMAYO' 'PARURO' 'COTABAMBAS' 'AYABACA'
 'SAN MIGUEL' 'GENERAL SANCHEZ CERRO' 'CHUPACA' 'AMBO' 'AYMARAES' 'RECUAY'
 'SAN ANTONIO DE PUTINA' 'CONDESUYOS' 'HUALGAYOC' 'SAN MARTIN' 'AZANGARO'
 'CUTERVO' 'CASTROVIRREYNA' 'JUNIN' 'HUAYTARA' 'PALLASCA' 'PAUCARTAMBO'
 'RODRIGUEZ DE MENDOZA' 'LUYA' 'UTCUBAMBA' 'CHACHAPOYAS' 'BONGARA' 'HUARI'
 'ASUNCION' 'CONDORCANQUI' 'MARISCAL LUZURIAGA' 'POMABAMBA' 'SIHUAS'
 'CORONGO' 'JULCAN' 'LA CONVENCION' 'TARATA' 'GRAN CHIMU'
 'SANTIAGO DE CHUCO' 'LAMPA' 'ACOMAYO' 'ALTO AMAZONAS' 'CARAVELI'
 'UCAYALI' 'SATIPO' 'CHURCAMPA' 'SAN PABLO' 'CONTUMAZA' 'SAN MARCOS'
 'CAJABAMBA' 'CANTA' 'CELENDIN' 'CHOTA' 'HUAMANGA' 'CANCHIS' 'CANAS'
 'ESPINAR' 'CANDARAVE' 'OYON' 'YAROWILCA' 'YAUYOS' 'LA UNION' 'HUAMALIES'
 'LEONCIO PRADO' 'ANGARAES' 'PAUCAR DEL SARA SARA' 'VILCAS HUAMAN'
 'LA MAR' 'TOCACHE' 'HUANCA SANCOS' 'PARINACOCHAS' 'SUCRE'

In [11]:
for col in datalake.columns:
    if len(datalake[col].dropna().unique()) == 1:
        print(f'{col} es una columna de tipo único')

MATERIA es una columna de tipo único

In [12]:
# MATERIA contiene un solo valor, por lo que se elimina
datalake = datalake.drop('MATERIA', axis=1)

##### Imputación inicial de valores perdidos

###### Eliminar columnas con alta cantidad de valores nulos

In [13]:
# El porcentaje de cantidad de valores nulos aceptados por columna es 20%
# Se eliminan las columnas con más de 20% de valores nulos
for col in datalake.columns:
    if datalake[col].isnull().sum() / datalake.shape[0] * 100 > 20:
        datalake = datalake.drop(col, axis=1)

In [14]:
missing_values()

Número total de registros: 850013
Número total de valores perdidos: 225362
Valores perdidos por columna:
DERIVADA_FISCALIA: 134560 (15.83%)
DIRECCION: 1 (0.00%)
EDAD: 9404 (1.11%)
EST_CIVIL: 56 (0.01%)
FECHA_HORA_HECHO: 40302 (4.74%)
SEXO: 666 (0.08%)
UBICACION: 18 (0.00%)
FEC_REGISTRO: 40302 (4.74%)
PAIS_NATAL: 53 (0.01%)

In [15]:
# A este punto todas la columnas son categóricas, incluso EDAD que será transformada después
# Acerca de la imputación de nulos faltante, se usará la moda de las columnas categóricas excepto en las fechas
# Primero se trabajará las columnas de fechas por su formato y luego se trabajarán las demás

##### Valores atípicos

###### Edad

In [16]:
# Llena los valores perdidos con 0
datalake['EDAD'] = datalake['EDAD'].fillna(0)
# Para convertir a int64 primero se convierte a float
datalake['EDAD'] = datalake['EDAD'].astype(float)
datalake['EDAD'] = datalake['EDAD'].astype(np.int64)

In [17]:
# Valores máximos y mínimos
print(datalake['EDAD'].min(), datalake['EDAD'].max())

-1 808

In [18]:
# Vista ordenada de edades registradas
age_sorted = datalake.sort_values('EDAD')['EDAD']
print(age_sorted.head())
print(age_sorted.tail())
# Obtención de métricas
median = age_sorted.median()
mode = age_sorted.mode()[0]
print(f'Mediana: {median}')
print(f'Moda: {mode}')

620708   -1
831429    0
19544     0
82399     0
843994    0
Name: EDAD, dtype: int64
179016    728
520761    760
132396    775
511966    808
495552    808
Name: EDAD, dtype: int64
Mediana: 32.0
Moda: 31

In [19]:
# Suplantamos los valores atípicos con la moda
# Se considerarán las edades entre 18 y 75 años
min_age = 18
max_age = 75
datalake.loc[(datalake['EDAD'] < min_age) | (datalake['EDAD'] > max_age) | (datalake['EDAD'] == 0), 'EDAD'] = mode
# La columna EDAD ya no tiene valores perdidos

In [20]:
missing_values()

Número total de registros: 850013
Número total de valores perdidos: 215958
Valores perdidos por columna:
DERIVADA_FISCALIA: 134560 (15.83%)
DIRECCION: 1 (0.00%)
EST_CIVIL: 56 (0.01%)
FECHA_HORA_HECHO: 40302 (4.74%)
SEXO: 666 (0.08%)
UBICACION: 18 (0.00%)
FEC_REGISTRO: 40302 (4.74%)
PAIS_NATAL: 53 (0.01%)

###### Sexo

In [21]:
# SEXO contiene valores extraños
print(datalake['SEXO'].dropna().unique())
# Vemos la frecuencia de los valores
print(datalake['SEXO'].value_counts())
# Solo considerarán los valores M y F, los demás será suplantados por la moda incluyendo los valores extraños
print(f'SEXO: Moda -> {datalake["SEXO"].mode()[0]}')

['M' 'F' '4' '2' 'N']
M    430257
F    419087
4         1
2         1
N         1
Name: SEXO, dtype: int64
SEXO: Moda -> M

In [22]:
datalake.loc[(datalake['SEXO'] != 'M') & (datalake['SEXO'] != 'F'), 'SEXO'] = datalake['SEXO'].mode()[0]
print(datalake['SEXO'].value_counts())
# La columna SEXO ya no tiene valores perdidos
missing_values()

M    430926
F    419087
Name: SEXO, dtype: int64
Número total de registros: 850013
Número total de valores perdidos: 215292
Valores perdidos por columna:
DERIVADA_FISCALIA: 134560 (15.83%)
DIRECCION: 1 (0.00%)
EST_CIVIL: 56 (0.01%)
FECHA_HORA_HECHO: 40302 (4.74%)
UBICACION: 18 (0.00%)
FEC_REGISTRO: 40302 (4.74%)
PAIS_NATAL: 53 (0.01%)

###### Fecha

In [23]:
# Contamos con diferentes formatos de fecha
# mm/dd/yyyy
# yyyy-mm-dd
# MONTH-dd-yyyy
# excel: float

In [24]:
import xlrd

# De fecha de excel (43677.4) a yyyy-mm-dd
def transformExcelDate(excelDate):
    dateISO = xlrd.xldate.xldate_as_datetime(float(excelDate), 0).date().isoformat()
    return dateISO

In [25]:
# RegExp de fecha de excel
import re
excelDate = r'\d+(\.\d+)?'

In [26]:
# Función para estandarizar las fechas de los registros
def transformDate(date):
    try:
        if not pd.isna(date):
            if re.fullmatch(excelDate, date):
                return transformExcelDate(date)
            else:
                return pd.to_datetime(date).date().isoformat()
    except Exception as e:
        print(e, date)

In [27]:
datalake['FEC_REGISTRO'] = datalake['FEC_REGISTRO'].apply(transformDate)
datalake['FECHA_HORA_HECHO'] = datalake['FECHA_HORA_HECHO'].apply(transformDate)

In [28]:
# Los valores perdidos de FEC_REGISTRO y FECHA_HORA_HECHO, oportunamente, comparten registros
# Es decir si en una columna de fecha hay un valor perdido, en la otra también lo hay
datalake = datalake.loc[datalake['FEC_REGISTRO'].isna() == False]
missing_values()

Número total de registros: 809711
Número total de valores perdidos: 123406
Valores perdidos por columna:
DERIVADA_FISCALIA: 123281 (15.23%)
DIRECCION: 1 (0.00%)
EST_CIVIL: 56 (0.01%)
UBICACION: 17 (0.00%)
PAIS_NATAL: 51 (0.01%)

#### Completando valores perdidos en el resto de atributos categóricos

In [29]:
update_types()

object (23)
 ['COMISARIA', 'DERIVADA_FISCALIA', 'DIRECCION', 'DIST_CIA', 'DIST_HECHO', 'DPTO_CIA', 'DPTO_HECHO', 'EST_CIVIL', 'FECHA_HORA_HECHO', 'LIBRO', 'MODALIDAD', 'PROV_CIA', 'PROV_HECHO', 'REGION', 'SEXO', 'SIT_PERSONA', 'SUB_TIPO', 'TIPO', 'TIPO_DENUNCIA', 'UBICACION', 'VIA', 'FEC_REGISTRO', 'PAIS_NATAL']
int64 (1)
 ['EDAD']

In [30]:
# Se llena el resto de los valores perdidos con la moda
for c in object_columns:
    mode = datalake[c].mode()[0]
    datalake[c] = datalake[c].fillna(mode)

In [31]:
print(missing_values())

Número total de registros: 809711
Número total de valores perdidos: 0
Valores perdidos por columna:
None

In [32]:
# Reseteamos el index
datalake.reset_index(drop=True, inplace=True)
# Mostramos la tabla
print(datalake.head())
print(datalake.tail())

                 COMISARIA   DERIVADA_FISCALIA  \
0                HUANCHACO  JUZGADO DE FAMILIA
1                 ZAPALLAL          UNIDAD PNP
2                 ZAPALLAL          UNIDAD PNP
3  COMISARIA DE LA FAMILIA  JUZGADO DE FAMILIA
4                 ZAPALLAL          UNIDAD PNP

                          DIRECCION        DIST_CIA      DIST_HECHO  \
0    AV. LA RIVERA PLAZA SAN MARTIN       HUANCHACO       HUANCHACO
1                    JR GALILEA S/N   PUENTE PIEDRA   PUENTE PIEDRA
2                    JR GALILEA S/N   PUENTE PIEDRA   PUENTE PIEDRA
3  URB. CIUDAD DE DIOS MZA. Q LTE 1  NUEVO CHIMBOTE  NUEVO CHIMBOTE
4                    JR GALILEA S/N   PUENTE PIEDRA   PUENTE PIEDRA

      DPTO_CIA   DPTO_HECHO  EDAD    EST_CIVIL FECHA_HORA_HECHO  ...  \
0  LA LIBERTAD  LA LIBERTAD    32  CONVIVIENTE       2016-01-01  ...
1         LIMA         LIMA    25   SOLTERO(A)       2016-01-01  ...
2         LIMA         LIMA    20   SOLTERO(A)       2016-01-01  ...
3       ANCASH       ANCASH    25   SOLTERO(A)       2016-01-01  ...
4         LIMA         LIMA    51   SOLTERO(A)       2016-01-01  ...

                   REGION SEXO  SIT_PERSONA  \
0  REGPOL  -  LA LIBERTAD    M   DENUNCIADO
1         REGPOL  -  LIMA    F  DENUNCIANTE
2         REGPOL  -  LIMA    F  DENUNCIANTE
3       REGPOL   - HUARAZ    M    DEPONENTE
4         REGPOL  -  LIMA    F  DENUNCIANTE

                                            SUB_TIPO                TIPO  \
0  LEY DE PROTECCIÓN FRENTE A VIOLENCIA FAMILIAR ...  VIOLENCIA FAMILIAR
1  LEY DE PROTECCIÓN FRENTE A VIOLENCIA FAMILIAR ...  VIOLENCIA FAMILIAR
2  LEY DE PROTECCIÓN FRENTE A VIOLENCIA FAMILIAR ...  VIOLENCIA FAMILIAR
3  LEY PARA PREVENIR , SANCIONAR Y ERRADICAR LA V...  VIOLENCIA FAMILIAR
4  LEY DE PROTECCIÓN FRENTE A VIOLENCIA FAMILIAR ...  VIOLENCIA FAMILIAR

             TIPO_DENUNCIA                                          UBICACION  \
0  ACTA DE DENUNCIA VERBAL  SECTOR SANTA ROSA MZ. 11 LT. 36 - HUANCHAQUITO...
1                 DENUNCIA       MZ V LTE 17 SECTOR C AA HH LOMAS DE ZAPALLAL
2                 DENUNCIA                  MZ A LTE 01 AA HH NUEVA ESPERANZA
3  ACTA DE DENUNCIA VERBAL             aa.hh. palmeras del golf mz. b lTE. 15
4                 DENUNCIA    PRONOI CARIÃ?â??OSITOS - ZAPALLAL PUENTE PIEDRA

     VIA FEC_REGISTRO PAIS_NATAL
0  Otros   2016-01-01       PERU
1  Otros   2016-01-01       PERU
2  Otros   2016-01-01       PERU
3  Otros   2016-01-01       PERU
4  Otros   2016-01-01       PERU

[5 rows x 24 columns]
                COMISARIA   DERIVADA_FISCALIA  \
809706  TACNA - NATIVIDAD  JUZGADO DE FAMILIA
809707  TACNA - NATIVIDAD               OTROS
809708             TARATA  JUZGADO DE FAMILIA
809709             TARATA  JUZGADO DE FAMILIA
809710             TARATA  JUZGADO DE FAMILIA

                                                DIRECCION DIST_CIA DIST_HECHO  \
809706  calle nuestra señora de natividad nro 1937 cpm...    TACNA      TACNA
809707  calle nuestra señora de natividad nro 1937 cpm...    TACNA      TACNA
809708              CALLE PRIMERO DE SETIEMBRE S/N TARATA   TARATA     TARATA
809709              CALLE PRIMERO DE SETIEMBRE S/N TARATA   TARATA     TARATA
809710              CALLE PRIMERO DE SETIEMBRE S/N TARATA   TARATA     TARATA

       DPTO_CIA DPTO_HECHO  EDAD    EST_CIVIL FECHA_HORA_HECHO  ...  \
809706    TACNA      TACNA    30   SOLTERO(A)       2019-12-26  ...
809707    TACNA      TACNA    22   SOLTERO(A)       2019-12-31  ...
809708    TACNA      TACNA    38   SOLTERO(A)       2019-11-25  ...
809709    TACNA      TACNA    36   SOLTERO(A)       2019-12-22  ...
809710    TACNA      TACNA    37  CONVIVIENTE       2019-12-27  ...

                REGION SEXO SIT_PERSONA  \
809706  REGPOL - TACNA    M  DENUNCIADO
809707  REGPOL - TACNA    M  DENUNCIADO
809708  REGPOL - TACNA    M  DENUNCIADO
809709  REGPOL - TACNA    M     AGRESOR
809710  REGPOL - TACNA    M    DETENIDO

                                                 SUB_TIPO  \
809706  LEY PARA PREVENIR , SANCIONAR Y ERRADICAR LA V...
809707  LEY PARA PREVENIR , SANCIONAR Y ERRADICAR LA V...
809708  LEY PARA PREVENIR , SANCIONAR Y ERRADICAR LA V...
809709  LEY PARA PREVENIR , SANCIONAR Y ERRADICAR LA V...
809710  LEY PARA PREVENIR , SANCIONAR Y ERRADICAR LA V...

                                                     TIPO  \
809706  LEY DE VIOLENCIA CONTRA LA MUJER Y GRUPOS VULN...
809707  LEY DE VIOLENCIA CONTRA LA MUJER Y GRUPOS VULN...
809708  LEY DE VIOLENCIA CONTRA LA MUJER Y GRUPOS VULN...
809709  LEY DE VIOLENCIA CONTRA LA MUJER Y GRUPOS VULN...
809710  LEY DE VIOLENCIA CONTRA LA MUJER Y GRUPOS VULN...

                  TIPO_DENUNCIA  \
809706     ACTA DE INTERVENCION
809707  ACTA DE DENUNCIA VERBAL
809708  ACTA DE DENUNCIA VERBAL
809709                 DENUNCIA
809710                 DENUNCIA

                                                UBICACION    VIA FEC_REGISTRO  \
809706  CALLE JUAN PABLO VIZCARDO Y GUZMAN NRO.1673 CP...  Otros   2019-12-30
809707                            Calle Moquegua Nro. 242  Otros   2019-12-31
809708                       Calle Bolognesi S/N - Tarata  Otros   2019-12-09
809709                        Calle San Martin S/N Tarata  Otros   2019-12-23
809710                        calle San Martin S/N Tarata  Otros   2019-12-28

       PAIS_NATAL
809706       PERU
809707       PERU
809708       PERU
809709       PERU
809710       PERU

[5 rows x 24 columns]

##### Separando fecha en año, mes, día y día de la semana

In [33]:
def spread_out_date(col):
    datalake[f'{col}_ANIO'] = datalake[col].apply(lambda x: int(x[:4]))
    datalake[f'{col}_MES'] = datalake[col].apply(lambda x: int(x[5:7]))
    datalake[f'{col}_DIA'] = datalake[col].apply(lambda x: int(x[8:]))
    datalake[f'{col}_DIA_SEM'] = datalake[col].apply(lambda x: pd.to_datetime(x).weekday())

In [34]:
spread_out_date('FEC_REGISTRO')
spread_out_date('FECHA_HORA_HECHO')

In [35]:
print(datalake.head())
print(datalake.tail())

                 COMISARIA   DERIVADA_FISCALIA  \
0                HUANCHACO  JUZGADO DE FAMILIA
1                 ZAPALLAL          UNIDAD PNP
2                 ZAPALLAL          UNIDAD PNP
3  COMISARIA DE LA FAMILIA  JUZGADO DE FAMILIA
4                 ZAPALLAL          UNIDAD PNP

                          DIRECCION        DIST_CIA      DIST_HECHO  \
0    AV. LA RIVERA PLAZA SAN MARTIN       HUANCHACO       HUANCHACO
1                    JR GALILEA S/N   PUENTE PIEDRA   PUENTE PIEDRA
2                    JR GALILEA S/N   PUENTE PIEDRA   PUENTE PIEDRA
3  URB. CIUDAD DE DIOS MZA. Q LTE 1  NUEVO CHIMBOTE  NUEVO CHIMBOTE
4                    JR GALILEA S/N   PUENTE PIEDRA   PUENTE PIEDRA

      DPTO_CIA   DPTO_HECHO  EDAD    EST_CIVIL FECHA_HORA_HECHO  ...  \
0  LA LIBERTAD  LA LIBERTAD    32  CONVIVIENTE       2016-01-01  ...
1         LIMA         LIMA    25   SOLTERO(A)       2016-01-01  ...
2         LIMA         LIMA    20   SOLTERO(A)       2016-01-01  ...
3       ANCASH       ANCASH    25   SOLTERO(A)       2016-01-01  ...
4         LIMA         LIMA    51   SOLTERO(A)       2016-01-01  ...

  FEC_REGISTRO PAIS_NATAL FEC_REGISTRO_ANIO FEC_REGISTRO_MES FEC_REGISTRO_DIA  \
0   2016-01-01       PERU              2016                1                1
1   2016-01-01       PERU              2016                1                1
2   2016-01-01       PERU              2016                1                1
3   2016-01-01       PERU              2016                1                1
4   2016-01-01       PERU              2016                1                1

  FEC_REGISTRO_DIA_SEM FECHA_HORA_HECHO_ANIO FECHA_HORA_HECHO_MES  \
0                    4                  2016                    1
1                    4                  2016                    1
2                    4                  2016                    1
3                    4                  2016                    1
4                    4                  2016                    1

  FECHA_HORA_HECHO_DIA FECHA_HORA_HECHO_DIA_SEM
0                    1                        4
1                    1                        4
2                    1                        4
3                    1                        4
4                    1                        4

[5 rows x 32 columns]
                COMISARIA   DERIVADA_FISCALIA  \
809706  TACNA - NATIVIDAD  JUZGADO DE FAMILIA
809707  TACNA - NATIVIDAD               OTROS
809708             TARATA  JUZGADO DE FAMILIA
809709             TARATA  JUZGADO DE FAMILIA
809710             TARATA  JUZGADO DE FAMILIA

                                                DIRECCION DIST_CIA DIST_HECHO  \
809706  calle nuestra señora de natividad nro 1937 cpm...    TACNA      TACNA
809707  calle nuestra señora de natividad nro 1937 cpm...    TACNA      TACNA
809708              CALLE PRIMERO DE SETIEMBRE S/N TARATA   TARATA     TARATA
809709              CALLE PRIMERO DE SETIEMBRE S/N TARATA   TARATA     TARATA
809710              CALLE PRIMERO DE SETIEMBRE S/N TARATA   TARATA     TARATA

       DPTO_CIA DPTO_HECHO  EDAD    EST_CIVIL FECHA_HORA_HECHO  ...  \
809706    TACNA      TACNA    30   SOLTERO(A)       2019-12-26  ...
809707    TACNA      TACNA    22   SOLTERO(A)       2019-12-31  ...
809708    TACNA      TACNA    38   SOLTERO(A)       2019-11-25  ...
809709    TACNA      TACNA    36   SOLTERO(A)       2019-12-22  ...
809710    TACNA      TACNA    37  CONVIVIENTE       2019-12-27  ...

       FEC_REGISTRO PAIS_NATAL FEC_REGISTRO_ANIO FEC_REGISTRO_MES  \
809706   2019-12-30       PERU              2019               12
809707   2019-12-31       PERU              2019               12
809708   2019-12-09       PERU              2019               12
809709   2019-12-23       PERU              2019               12
809710   2019-12-28       PERU              2019               12

       FEC_REGISTRO_DIA FEC_REGISTRO_DIA_SEM FECHA_HORA_HECHO_ANIO  \
809706               30                    0                  2019
809707               31                    1                  2019
809708                9                    0                  2019
809709               23                    0                  2019
809710               28                    5                  2019

       FECHA_HORA_HECHO_MES FECHA_HORA_HECHO_DIA FECHA_HORA_HECHO_DIA_SEM
809706                   12                   26                        3
809707                   12                   31                        1
809708                   11                   25                        0
809709                   12                   22                        6
809710                   12                   27                        4

[5 rows x 32 columns]

In [36]:
# Ya no se necesita la columna FEC_REGISTRO ni FECHA_HORA_HECHO
datalake = datalake.drop(['FEC_REGISTRO', 'FECHA_HORA_HECHO'], axis=1)
print(datalake.info())
print(update_types())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809711 entries, 0 to 809710
Data columns (total 30 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   COMISARIA                 809711 non-null  object
 1   DERIVADA_FISCALIA         809711 non-null  object
 2   DIRECCION                 809711 non-null  object
 3   DIST_CIA                  809711 non-null  object
 4   DIST_HECHO                809711 non-null  object
 5   DPTO_CIA                  809711 non-null  object
 6   DPTO_HECHO                809711 non-null  object
 7   EDAD                      809711 non-null  int64
 8   EST_CIVIL                 809711 non-null  object
 9   LIBRO                     809711 non-null  object
 10  MODALIDAD                 809711 non-null  object
 11  PROV_CIA                  809711 non-null  object
 12  PROV_HECHO                809711 non-null  object
 13  REGION                    809711 non-null  object
 14  SEXO                      809711 non-null  object
 15  SIT_PERSONA               809711 non-null  object
 16  SUB_TIPO                  809711 non-null  object
 17  TIPO                      809711 non-null  object
 18  TIPO_DENUNCIA             809711 non-null  object
 19  UBICACION                 809711 non-null  object
 20  VIA                       809711 non-null  object
 21  PAIS_NATAL                809711 non-null  object
 22  FEC_REGISTRO_ANIO         809711 non-null  int64
 23  FEC_REGISTRO_MES          809711 non-null  int64
 24  FEC_REGISTRO_DIA          809711 non-null  int64
 25  FEC_REGISTRO_DIA_SEM      809711 non-null  int64
 26  FECHA_HORA_HECHO_ANIO     809711 non-null  int64
 27  FECHA_HORA_HECHO_MES      809711 non-null  int64
 28  FECHA_HORA_HECHO_DIA      809711 non-null  int64
 29  FECHA_HORA_HECHO_DIA_SEM  809711 non-null  int64
dtypes: int64(9), object(21)
memory usage: 185.3+ MB
None
object (21)
 ['COMISARIA', 'DERIVADA_FISCALIA', 'DIRECCION', 'DIST_CIA', 'DIST_HECHO', 'DPTO_CIA', 'DPTO_HECHO', 'EST_CIVIL', 'LIBRO', 'MODALIDAD', 'PROV_CIA', 'PROV_HECHO', 'REGION', 'SEXO', 'SIT_PERSONA', 'SUB_TIPO', 'TIPO', 'TIPO_DENUNCIA', 'UBICACION', 'VIA', 'PAIS_NATAL']
int64 (9)
 ['EDAD', 'FEC_REGISTRO_ANIO', 'FEC_REGISTRO_MES', 'FEC_REGISTRO_DIA', 'FEC_REGISTRO_DIA_SEM', 'FECHA_HORA_HECHO_ANIO', 'FECHA_HORA_HECHO_MES', 'FECHA_HORA_HECHO_DIA', 'FECHA_HORA_HECHO_DIA_SEM']
None

In [38]:
datalake.to_csv('./datalake/datalake_preprocessed.csv', index=False)

#### Transformación de atributos categóricos a numéricos

In [39]:
from sklearn.preprocessing import LabelEncoder

cat_columns_encoded = {}

def encode(col):
    cat_columns_encoded[col] = LabelEncoder()
    datalake[col] = cat_columns_encoded[col].fit_transform(datalake[col])

for col in object_columns:
    encode(col)

In [40]:
# Función para mostrar el encodificado de una columna
def show_encoded_column(col):
    classes = cat_columns_encoded[col].classes_
    for i, c in enumerate(classes):
        print(f'{i} -> {c}')

In [41]:
print(datalake.head())
print(update_types())

   COMISARIA  DERIVADA_FISCALIA  DIRECCION  DIST_CIA  DIST_HECHO  DPTO_CIA  \
0        412                  4        305       262         482        12
1       1096                  9        963       564         986        14
2       1096                  9        963       564         986        14
3        231                  4       1412       457         816         1
4       1096                  9        963       564         986        14

   DPTO_HECHO  EDAD  EST_CIVIL  LIBRO  ...  VIA  PAIS_NATAL  \
0          12    32          1      4  ...   10         145
1          14    25          5     35  ...   10         145
2          14    20          5     35  ...   10         145
3           1    25          5     28  ...   10         145
4          14    51          5     35  ...   10         145

   FEC_REGISTRO_ANIO  FEC_REGISTRO_MES  FEC_REGISTRO_DIA  \
0               2016                 1                 1
1               2016                 1                 1
2               2016                 1                 1
3               2016                 1                 1
4               2016                 1                 1

   FEC_REGISTRO_DIA_SEM  FECHA_HORA_HECHO_ANIO  FECHA_HORA_HECHO_MES  \
0                     4                   2016                     1
1                     4                   2016                     1
2                     4                   2016                     1
3                     4                   2016                     1
4                     4                   2016                     1

   FECHA_HORA_HECHO_DIA  FECHA_HORA_HECHO_DIA_SEM
0                     1                         4
1                     1                         4
2                     1                         4
3                     1                         4
4                     1                         4

[5 rows x 30 columns]
object (0)
 []
int64 (9)
 ['EDAD', 'FEC_REGISTRO_ANIO', 'FEC_REGISTRO_MES', 'FEC_REGISTRO_DIA', 'FEC_REGISTRO_DIA_SEM', 'FECHA_HORA_HECHO_ANIO', 'FECHA_HORA_HECHO_MES', 'FECHA_HORA_HECHO_DIA', 'FECHA_HORA_HECHO_DIA_SEM']
None

In [42]:
# LabelEncoder genera el tipo int32
print(datalake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809711 entries, 0 to 809710
Data columns (total 30 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   COMISARIA                 809711 non-null  int32
 1   DERIVADA_FISCALIA         809711 non-null  int32
 2   DIRECCION                 809711 non-null  int32
 3   DIST_CIA                  809711 non-null  int32
 4   DIST_HECHO                809711 non-null  int32
 5   DPTO_CIA                  809711 non-null  int32
 6   DPTO_HECHO                809711 non-null  int32
 7   EDAD                      809711 non-null  int64
 8   EST_CIVIL                 809711 non-null  int32
 9   LIBRO                     809711 non-null  int32
 10  MODALIDAD                 809711 non-null  int32
 11  PROV_CIA                  809711 non-null  int32
 12  PROV_HECHO                809711 non-null  int32
 13  REGION                    809711 non-null  int32
 14  SEXO                      809711 non-null  int32
 15  SIT_PERSONA               809711 non-null  int32
 16  SUB_TIPO                  809711 non-null  int32
 17  TIPO                      809711 non-null  int32
 18  TIPO_DENUNCIA             809711 non-null  int32
 19  UBICACION                 809711 non-null  int32
 20  VIA                       809711 non-null  int32
 21  PAIS_NATAL                809711 non-null  int32
 22  FEC_REGISTRO_ANIO         809711 non-null  int64
 23  FEC_REGISTRO_MES          809711 non-null  int64
 24  FEC_REGISTRO_DIA          809711 non-null  int64
 25  FEC_REGISTRO_DIA_SEM      809711 non-null  int64
 26  FECHA_HORA_HECHO_ANIO     809711 non-null  int64
 27  FECHA_HORA_HECHO_MES      809711 non-null  int64
 28  FECHA_HORA_HECHO_DIA      809711 non-null  int64
 29  FECHA_HORA_HECHO_DIA_SEM  809711 non-null  int64
dtypes: int32(21), int64(9)
memory usage: 120.5 MB
None

In [43]:
# Trasnformando columnas de tipo int32 a int64
for col in datalake.columns:
    if datalake[col].dtype == 'int32':
        datalake[col] = datalake[col].astype(np.int64)

In [44]:
print(update_types())
print(datalake.info())

object (0)
 []
int64 (30)
 ['COMISARIA', 'DERIVADA_FISCALIA', 'DIRECCION', 'DIST_CIA', 'DIST_HECHO', 'DPTO_CIA', 'DPTO_HECHO', 'EDAD', 'EST_CIVIL', 'LIBRO', 'MODALIDAD', 'PROV_CIA', 'PROV_HECHO', 'REGION', 'SEXO', 'SIT_PERSONA', 'SUB_TIPO', 'TIPO', 'TIPO_DENUNCIA', 'UBICACION', 'VIA', 'PAIS_NATAL', 'FEC_REGISTRO_ANIO', 'FEC_REGISTRO_MES', 'FEC_REGISTRO_DIA', 'FEC_REGISTRO_DIA_SEM', 'FECHA_HORA_HECHO_ANIO', 'FECHA_HORA_HECHO_MES', 'FECHA_HORA_HECHO_DIA', 'FECHA_HORA_HECHO_DIA_SEM']
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809711 entries, 0 to 809710
Data columns (total 30 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   COMISARIA                 809711 non-null  int64
 1   DERIVADA_FISCALIA         809711 non-null  int64
 2   DIRECCION                 809711 non-null  int64
 3   DIST_CIA                  809711 non-null  int64
 4   DIST_HECHO                809711 non-null  int64
 5   DPTO_CIA                  809711 non-null  int64
 6   DPTO_HECHO                809711 non-null  int64
 7   EDAD                      809711 non-null  int64
 8   EST_CIVIL                 809711 non-null  int64
 9   LIBRO                     809711 non-null  int64
 10  MODALIDAD                 809711 non-null  int64
 11  PROV_CIA                  809711 non-null  int64
 12  PROV_HECHO                809711 non-null  int64
 13  REGION                    809711 non-null  int64
 14  SEXO                      809711 non-null  int64
 15  SIT_PERSONA               809711 non-null  int64
 16  SUB_TIPO                  809711 non-null  int64
 17  TIPO                      809711 non-null  int64
 18  TIPO_DENUNCIA             809711 non-null  int64
 19  UBICACION                 809711 non-null  int64
 20  VIA                       809711 non-null  int64
 21  PAIS_NATAL                809711 non-null  int64
 22  FEC_REGISTRO_ANIO         809711 non-null  int64
 23  FEC_REGISTRO_MES          809711 non-null  int64
 24  FEC_REGISTRO_DIA          809711 non-null  int64
 25  FEC_REGISTRO_DIA_SEM      809711 non-null  int64
 26  FECHA_HORA_HECHO_ANIO     809711 non-null  int64
 27  FECHA_HORA_HECHO_MES      809711 non-null  int64
 28  FECHA_HORA_HECHO_DIA      809711 non-null  int64
 29  FECHA_HORA_HECHO_DIA_SEM  809711 non-null  int64
dtypes: int64(30)
memory usage: 185.3 MB
None

In [45]:
print(datalake.head())

   COMISARIA  DERIVADA_FISCALIA  DIRECCION  DIST_CIA  DIST_HECHO  DPTO_CIA  \
0        412                  4        305       262         482        12
1       1096                  9        963       564         986        14
2       1096                  9        963       564         986        14
3        231                  4       1412       457         816         1
4       1096                  9        963       564         986        14

   DPTO_HECHO  EDAD  EST_CIVIL  LIBRO  ...  VIA  PAIS_NATAL  \
0          12    32          1      4  ...   10         145
1          14    25          5     35  ...   10         145
2          14    20          5     35  ...   10         145
3           1    25          5     28  ...   10         145
4          14    51          5     35  ...   10         145

   FEC_REGISTRO_ANIO  FEC_REGISTRO_MES  FEC_REGISTRO_DIA  \
0               2016                 1                 1
1               2016                 1                 1
2               2016                 1                 1
3               2016                 1                 1
4               2016                 1                 1

   FEC_REGISTRO_DIA_SEM  FECHA_HORA_HECHO_ANIO  FECHA_HORA_HECHO_MES  \
0                     4                   2016                     1
1                     4                   2016                     1
2                     4                   2016                     1
3                     4                   2016                     1
4                     4                   2016                     1

   FECHA_HORA_HECHO_DIA  FECHA_HORA_HECHO_DIA_SEM
0                     1                         4
1                     1                         4
2                     1                         4
3                     1                         4
4                     1                         4

[5 rows x 30 columns]

In [ ]:
datalake.to_csv('./datalake/datalake_preprocessed_numeric.csv', index=False)