In [1]:
import pandas as pd
import numpy as np

In [2]:
datalake = pd.read_csv('./datalake/datalake.csv', encoding='utf-8', header=0, low_memory=False)

In [3]:
original_data = datalake.copy(deep=True)
print(datalake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850013 entries, 0 to 850012
Data columns (total 42 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   COMISARIA           850013 non-null  object
 1   CUADRA              53118 non-null   object
 2   DERIVADA_FISCALIA   715460 non-null  object
 3   DIRECCION           850013 non-null  object
 4   DIST_CIA            850013 non-null  object
 5   DIST_HECHO          850013 non-null  object
 6   DPTO_CIA            850013 non-null  object
 7   DPTO_HECHO          850013 non-null  object
 8   EDAD                847713 non-null  object
 9   ESTADO_DEN          850013 non-null  object
 10  EST_CIVIL           849957 non-null  object
 11  FECHA_HORA_HECHO    850013 non-null  object
 12  ID_COMISARIA        850013 non-null  int64
 13  ID_EST_CIVIL        849962 non-null  object
 14  ID_LIBRO            850013 non-null  object
 15  ID_MATERIA          850013 non-null  int64
 16  ID_MODALIDAD        850013 non-null  int64
 17  ID_NIVEL_EDUCATIVO  90162 non-null   object
 18  ID_REGION           850013 non-null  int64
 19  ID_SIT_PERSONA      850013 non-null  object
 20  ID_SUBTIPO          850013 non-null  int64
 21  ID_TIPO             850013 non-null  int64
 22  ID_TIPO_DENUNCIA    850013 non-null  object
 23  LIBRO               850013 non-null  object
 24  MATERIA             850013 non-null  object
 25  MODALIDAD           850013 non-null  object
 26  NIVEL_EDUCATIVO     55764 non-null   object
 27  OCUPACION           353046 non-null  object
 28  PROV_CIA            850013 non-null  object
 29  PROV_HECHO          850013 non-null  object
 30  REGION              850013 non-null  object
 31  SEXO                849347 non-null  object
 32  SIT_PERSONA         850013 non-null  object
 33  SUB_TIPO            850013 non-null  object
 34  TIPO                850013 non-null  object
 35  TIPO_DENUNCIA       850013 non-null  object
 36  UBICACION           850013 non-null  object
 37  UBIGEO_CIA          850013 non-null  int64
 38  UBIGEO_HECHO        850013 non-null  int64
 39  VIA                 850013 non-null  object
 40  fec_registro        850013 non-null  object
 41  pais_natal          850013 non-null  object
dtypes: int64(8), object(34)
memory usage: 272.4+ MB
None

In [4]:
# Idenficando las columnas por tipo de dato
object_columns = []
int64_columns = []
def show_types():
    global object_columns, int64_columns
    object_columns = datalake.select_dtypes(['object']).columns.to_list()
    int64_columns = datalake.select_dtypes(['int64']).columns.to_list()
    print(f'object\n {object_columns}')
    print(f'int64\n {int64_columns}')
show_types()

object
 ['COMISARIA', 'CUADRA', 'DERIVADA_FISCALIA', 'DIRECCION', 'DIST_CIA', 'DIST_HECHO', 'DPTO_CIA', 'DPTO_HECHO', 'EDAD', 'ESTADO_DEN', 'EST_CIVIL', 'FECHA_HORA_HECHO', 'ID_EST_CIVIL', 'ID_LIBRO', 'ID_NIVEL_EDUCATIVO', 'ID_SIT_PERSONA', 'ID_TIPO_DENUNCIA', 'LIBRO', 'MATERIA', 'MODALIDAD', 'NIVEL_EDUCATIVO', 'OCUPACION', 'PROV_CIA', 'PROV_HECHO', 'REGION', 'SEXO', 'SIT_PERSONA', 'SUB_TIPO', 'TIPO', 'TIPO_DENUNCIA', 'UBICACION', 'VIA', 'fec_registro', 'pais_natal']
int64
 ['ID_COMISARIA', 'ID_MATERIA', 'ID_MODALIDAD', 'ID_REGION', 'ID_SUBTIPO', 'ID_TIPO', 'UBIGEO_CIA', 'UBIGEO_HECHO']

In [5]:
#Se están clasificando columnas de id's (incluyendo UBIGEOs) como int64.
#Estos datos no son propiamente numéricos, de hecho, la única categoría numérica sería 'EDAD', pero ahora es de tipo object.
#Primero se convertirán todas las columnas id detectadas como int64 a object
for col in int64_columns:
    datalake[col] = datalake[col].astype(str)
show_types()

object
 ['COMISARIA', 'CUADRA', 'DERIVADA_FISCALIA', 'DIRECCION', 'DIST_CIA', 'DIST_HECHO', 'DPTO_CIA', 'DPTO_HECHO', 'EDAD', 'ESTADO_DEN', 'EST_CIVIL', 'FECHA_HORA_HECHO', 'ID_COMISARIA', 'ID_EST_CIVIL', 'ID_LIBRO', 'ID_MATERIA', 'ID_MODALIDAD', 'ID_NIVEL_EDUCATIVO', 'ID_REGION', 'ID_SIT_PERSONA', 'ID_SUBTIPO', 'ID_TIPO', 'ID_TIPO_DENUNCIA', 'LIBRO', 'MATERIA', 'MODALIDAD', 'NIVEL_EDUCATIVO', 'OCUPACION', 'PROV_CIA', 'PROV_HECHO', 'REGION', 'SEXO', 'SIT_PERSONA', 'SUB_TIPO', 'TIPO', 'TIPO_DENUNCIA', 'UBICACION', 'UBIGEO_CIA', 'UBIGEO_HECHO', 'VIA', 'fec_registro', 'pais_natal']
int64
 []

### Selección de atributos relevantes

In [6]:
relevant_columns = ['DPTO_CIA', 'DIST_CIA', 'PROV_CIA', 'DERIVADA_FISCALIA', 'EDAD', 'EST_CIVIL', 'fec_registro', 'MODALIDAD', 'NIVEL_EDUCATIVO', 'OCUPACION', 'SEXO', 'SIT_PERSONA']
datalake = datalake[relevant_columns]
datalake.rename(columns={'fec_registro': 'FEC_REGISTRO'}, inplace=True)
datalake = datalake.loc[datalake['SIT_PERSONA'] == 'DENUNCIADO']
datalake.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 422522 entries, 0 to 850010
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DPTO_CIA           422522 non-null  object
 1   DIST_CIA           422522 non-null  object
 2   PROV_CIA           422522 non-null  object
 3   DERIVADA_FISCALIA  349558 non-null  object
 4   EDAD               420901 non-null  object
 5   EST_CIVIL          422515 non-null  object
 6   FEC_REGISTRO       422522 non-null  object
 7   MODALIDAD          422522 non-null  object
 8   NIVEL_EDUCATIVO    16630 non-null   object
 9   OCUPACION          166714 non-null  object
 10  SEXO               422279 non-null  object
 11  SIT_PERSONA        422522 non-null  object
dtypes: object(12)
memory usage: 41.9+ MB

In [7]:
show_types()

object
 ['DPTO_CIA', 'DIST_CIA', 'PROV_CIA', 'DERIVADA_FISCALIA', 'EDAD', 'EST_CIVIL', 'FEC_REGISTRO', 'MODALIDAD', 'NIVEL_EDUCATIVO', 'OCUPACION', 'SEXO', 'SIT_PERSONA']
int64
 []

#### Exploración de datos

##### Valores perdidos

In [8]:
# Trimea los textos y si resulta vacio, se pone nan
for col in object_columns:
    datalake[col] = datalake[col].str.strip()
datalake = datalake.replace('', np.nan)

In [9]:
# Resumen de valores perdidos
def missing_values():
    row_count = datalake.shape[0]
    print(f'Número de registros: {row_count}')
    global_null_count = datalake.isnull().sum().sum()
    print(f'Valores perdidos: {global_null_count}')
    for col in datalake.columns:
        null_count = datalake[col].isnull().sum()
        null_percent = null_count / row_count * 100
        if null_count > 0:
            print(f'{col}: {null_count} ({null_percent:.2f}%)')
missing_values()

Número de registros: 422522
Valores perdidos: 779356
DERIVADA_FISCALIA: 72967 (17.27%)
EDAD: 5808 (1.37%)
EST_CIVIL: 7 (0.00%)
FEC_REGISTRO: 16091 (3.81%)
NIVEL_EDUCATIVO: 405892 (96.06%)
OCUPACION: 278348 (65.88%)
SEXO: 243 (0.06%)

In [10]:
def getUniques(col):
    uniques = datalake[col].unique()
    print(f'{col} [{len(uniques)} unique values]')
    print(uniques)

In [11]:
for col in datalake.columns:
    getUniques(col)

DPTO_CIA [26 unique values]
['LA LIBERTAD' 'CALLAO' 'LIMA' 'AREQUIPA' 'ICA' 'ANCASH' 'LAMBAYEQUE'
 'PUNO' 'MOQUEGUA' 'APURIMAC' 'CUSCO' 'HUANCAVELICA' 'CAJAMARCA' 'PIURA'
 'JUNIN' 'TACNA' 'TUMBES' 'UCAYALI' 'LORETO' 'PASCO' 'AMAZONAS' 'HUANUCO'
 'SAN MARTIN' 'AYACUCHO' 'MADRE DE DIO' 'MADRE DE DIOS']
DIST_CIA [795 unique values]
['HUANCHACO' 'CALLAO' 'LURIGANCHO - CHOSICA' 'OCOÑA' 'PARCONA' 'PUCUSANA'
 'LA ESPERANZA' 'CHIMBOTE' 'VILLA EL SALVADOR' 'SAN MIGUEL'
 'JOSE LEONARDO ORTIZ' 'JULIACA' 'VILLA MARIA DEL TRIUNFO' 'HUAURA'
 'MAJES' 'SAMEGUA' 'JOSE LUIS BUSTAMANTE Y RIVERO' 'ATE'
 'SAN JUAN DE LURIGANCHO' 'CAYMA' 'BARRANCO' 'MIRAFLORES'
 'SAN MARTIN DE PORRES' 'VENTANILLA' 'EL AGUSTINO' 'LURIN' 'CHICLAYO'
 'ABANCAY' 'LAMBAYEQUE' 'ISLAY' 'SANTA ANITA' 'CUSCO' 'HUANCAVELICA'
 'CERRO COLORADO' 'NUEVO CHIMBOTE' 'SAN JUAN DE MIRAFLORES' 'SANTIAGO'
 'TAMBURCO' 'PUNO' 'INDEPENDENCIA' 'CAJAMARCA' 'SANTIAGO DE SURCO' 'PIURA'
 'LOS OLIVOS' 'LA MOLINA' 'SAN VICENTE DE CAÑETE' 'LA OROYA' 'LIMA'
 'PAUCARPATA' 'PARIÑAS' 'CARABAYLLO' 'ICA' 'HUARAZ' 'TRUJILLO' 'SURQUILLO'
 'ILO' 'SULLANA' 'MOQUEGUA' 'SAN BORJA' 'HUACHO' 'LOS BAÑOS DEL INCA'
 'TACNA' 'EL TAMBO' 'VICTOR LARCO HERRERA' 'SAN ISIDRO' 'COMAS' 'MORROPE'
 'UCHUMAYO' 'ZARUMILLA' 'ASCOPE' 'LA PERLA' 'ILAVE'
 'CORONEL GREGORIO ALBARRACIN LANCHIPA' 'CIENEGUILLA' 'LA VICTORIA'
 'RIMAC' 'SOCABAYA' 'WANCHAQ' 'CHACLACAYO' 'CALLERIA' 'AREQUIPA'
 '26 DE OCTUBRE' 'ALTO DE LA ALIANZA' 'SAYLLA' 'SECHURA' 'CHINCHA ALTA'
 'MOLLENDO' 'CATACAOS' 'PACHACUTEC' 'EL PORVENIR' 'SAMUEL PASTOR'
 'PUEBLO LIBRE' 'BELLAVISTA' 'LINCE' 'CHORRILLOS' 'CHULUCANAS'
 'ALTO SELVA ALEGRE' 'DESAGUADERO' 'IMPERIAL' 'JACOBO HUNTER' 'SUNAMPE'
 'YAUTAN' 'MAGDALENA DEL MAR' 'IQUITOS' 'PUENTE PIEDRA' 'CASMA' 'ANTA'
 'YARINACOCHA' 'PUNTA NEGRA' 'CORRALES' 'LA TINGUIÑA' 'SANTA'
 'VISTA ALEGRE' 'OLMOS' 'HUANCAYO' 'BELEN' 'TUMAN' 'FLORENCIA DE MORA'
 'MARIANO MELGAR' 'JAYANCA' 'PISCO' 'SARIN' 'TIABAYA' 'NAUTA' 'VILLA RICA'
 'BREÑA' 'PIMENTEL' 'PATIVILCA' 'SAN LUIS' 'SAN ANDRES' 'YUNGAY'
 'NUEVO IMPERIAL' 'CONCEPCION' 'SANTA ROSA' 'REQUE' 'LAREDO' 'ANCON'
 'JAUJA' 'CAJATAMBO' 'HUARMEY' 'HUALMAY' 'MOCHE' 'SANTA EULALIA'
 'SAN SEBASTIAN' 'MARCONA' 'POMALCA' 'PICSI' 'SALAVERRY' 'MOTUPE'
 'BUENOS AIRES' 'MALA' 'MOCHUMI' 'MATUCANA' 'PAITA' 'URCOS' 'TUMBES'
 'SUPE' 'HUMAY' 'LA JOYA' 'CHILCA' 'AGUAS VERDES' 'SAN ANTONIO'
 'PUEBLO NUEVO' 'HUARAL' 'ALTO LARAN' 'CARMEN DE LA LEGUA REYNOSO'
 'CAMANA' 'POCOLLAY' 'PUNTA DE BOMBON' 'PACHACAMAC' 'SACHACA' 'CALCA'
 'FERREÑAFE' 'COISHCO' 'SAN JUAN BAUTISTA' 'PALPA' 'MANANTAY' 'SAÑA'
 'LA BREA' 'PATAPO' 'PARAMONGA' 'SAN JOSE' 'DEAN VALDIVIA' 'LOS ORGANOS'
 'ETEN PUERTO' 'CAYALTI' 'HUANCABAMBA' 'CASTILLA' 'AIJA' 'EL ALTO'
 'INDIANA' 'JAEN' 'PUCALA' 'JULI' 'SAN IGNACIO' 'TARMA' 'SAN BARTOLO'
 'CASA GRANDE' 'CHARACATO' 'TUCUME' 'SAMANCO' 'CARHUAZ' 'PAIJAN' 'VICE'
 'MI PERU' 'SUPE PUERTO' 'SALAS' 'ETEN' 'SUBTANJALLA' 'SAYAN'
 'SAN AGUSTIN' 'HUAROCHIRI' 'CHANCAY' 'SAN JERONIMO' 'HUARO' 'CHOCOPE'
 'SANTA CRUZ' 'LA MATANZA' 'YARABAMBA' 'MACHUPICCHU' 'CERRO AZUL'
 'YUNGUYO' 'PACORA' 'CHICAMA' 'PEBAS' 'OTUZCO' 'CHIQUIAN' 'URUBAMBA'
 'SICAYA' 'PITIPO' 'MAZAN' 'QUILMANA' 'HUAYUCACHI' 'TAMBO DE MORA'
 'BERNAL' 'PUCARA' 'CHINCHA BAJA' 'BAGUA' 'IGNACIO ESCUDERO'
 'RICARDO PALMA' 'PUNTA HERMOSA' 'TUPAC AMARU INCA' 'MARCARA' 'ORCOTUNA'
 'SAN RAMON' 'MONSEFU' 'SAN JERONIMO DE TUNAN' 'TAYABAMBA' 'ACOBAMBA'
 'SABANDIA' 'HUANUCO' 'CHONGOYAPE' 'POMATA' 'CHUPACA' 'PAMPACOLCA'
 'SAPALLANGA' 'SAN PEDRO DE LLOC' 'PACAIPAMPA' 'NIEPOS' 'MEJIA'
 'JEQUETEPEQUE' 'MANCOS' 'PACANGA' 'CHEPEN' 'RECUAY' 'LOCUMBA' 'NEPEÑA'
 'MORALES' 'INCLAN' 'EL INGENIO' 'PARACAS' 'CALANGO' 'OYOTUN'
 'CHANCHAMAYO' 'LOS AQUIJES' 'LA PUNTA' 'COCACHACRA' 'MORROPON' 'MORO'
 'SAN NICOLAS' 'TINGO' 'BAGUA GRANDE' 'LUYA' 'LIMABAMBA' 'LAMUD' 'LA PECA'
 'SANTO TOMAS' 'CAJARURO' 'FLORIDA' 'CHACHAPOYAS' 'JAMALCA' 'CHIRINOS'
 'YAMBRASBAMBA' 'CHAVIN DE HUANTAR' 'LONGAR' 'HUARI' 'CHACAS' 'NIEVA'
 'NAZCA' 'POMABAMBA' 'SIHUAS' 'CORONGO' 'CABANA' 'PACHIA' 'CHIRIMOTO'
 'AMARILIS' 'MOLINOPAMPA' 'PISCOBAMBA' 'ARAMANGO' 'HUAMACHUCO' 'POROTO'
 'ANGASMARCA' 'VIRU' 'APATA' 'PATAZ' 'SANTIAGO DE CHUCO' 'OCALLI' 'JULCAN'
 'CASCAS' 'RAZURI' 'MOROCOCHA' 'OXAPAMPA' 'ILLIMO' 'LA ARENA' 'LANCONES'
 'PARCOY' 'SAN FRANCISCO DE DAGUAS' 'IMAZA' 'ASIA' 'PACASMAYO' 'CUMBA'
 'SAN MATEO' 'JUMBILLA' 'LA JALCA' 'ACOLLA' 'CHAO' 'SAMA' 'SAN PABLO'
 'ENCAÑADA' 'ZORRITOS' 'BAMBAMARCA' 'NAMORA' 'CHILETE'
 'EDUARDO VILLANUEVA' 'ICHOCAN' 'CACHACHI' 'CONTUMAZA' 'PEDRO GALVEZ'
 'CALQUIS' 'HUASMIN' 'HUAMBOS' 'CUTERVO' 'SITACOCHA' 'TARATA' 'MAGDALENA'
 'JESUS' 'CELENDIN' 'CAJABAMBA' 'CHOTA' 'GUADALUPE' 'EL PRADO' 'SUCRE'
 'ANDAHUAYLILLAS' 'COMBAPATA' 'CHINCHERO' 'PITUMARCA' 'SANTA ANA' 'POROY'
 'ANDAHUAYLAS' 'YANAOCA' 'ESPINAR' 'SICUANI' 'CHONGOS ALTO' 'OROPESA'
 'SAN JUAN' 'TACABAMBA' 'CANTA' 'CATAHUASI' 'CAMPORREDONDO' 'HUALGAYOC'
 'APLAO' 'YAUCA' 'CHALA' 'POCSI' 'ACARI' 'PARURO' 'NICOLAS DE PIEROLA'
 'CABANACONDE' 'CHIGUATA' 'JOSE MARIA QUIMPER' 'POLOBAYA' 'LOMAS' 'VIRACO'
 'MARIANO NICOLAS VALCARCEL' 'MADRIGAL' 'ANDARAY' 'CHAPARRA' 'CARAVELI'
 'YURA' 'ATICO' 'MARISCAL CACERES' 'CHIVAY' 'QUIRUVILCA' 'CHUQUIBAMBA'
 'MACATE' 'MARANGANI' 'ORCOPAMPA' 'QUINJALCA' 'BELLA UNION' 'YONAN'
 'HUAMBO' 'LLAMA' 'LA BANDA DE SHILCAYO' 'CURGOS' 'OYON' 'LIMATAMBO'
 'SAN JOSE DE LOURDES' 'TORATA' 'LUNAHUANA' 'AYACUCHO' 'PALMAPAMPA'
 'MARCABAMBA' 'NUEVO PROGRESO' 'AYNA' 'PICHARI' 'CORACORA' 'HUANCAPI'
 'PAUSA' 'HUANTA' 'PANGOA' 'CANCHAYLLO' 'PILCUYO' 'TAMBOPATA' 'SATIPO'
 'PICHANAQUI' 'RUPA-RUPA' 'SAN JUAN DE BIGOTE' 'POMAHUACA' 'CARMEN ALTO'
 'TAMBO' 'PERENE' 'CHICLA' 'CARHUAMAYO' 'BOLIVAR' 'JUANJUI' 'RIOJA'
 'SAPOSOA' 'CANCHAQUE' 'SORITOR' 'MOYOBAMBA' 'HAQUIRA' 'COTABAMBAS'
 'ANCO_HUALLO' 'RANRACANCHA' 'HUANIPACA' 'VILCABAMBA' 'PROGRESO' 'JUNIN'
 'PACUCHA' 'CURA MORI' 'TALAVERA' 'HUANCARANI' 'JOSE SABOGAL' 'TINTA'
 'PUQUIO' 'PUSI' 'ONGOY' 'PUCYURA' 'INAMBARI' 'YURIMAGUAS' 'OCROS'
 'HUEPETUHE' 'PARDO MIGUEL' 'GAMARRA' 'MARAS' 'AMBO' 'CHINCHEROS'
 'ANDARAPA' 'YANACA' 'COLAN' 'SAN PEDRO DE CACHORA' 'OXAMARCA'
 'QUERECOTILLO' 'HUAYLLABAMBA' 'SUYO' 'SAN HILARION' 'TOCACHE'
 'EL CARMEN DE LA FRONTERA' 'PACHACONAS' 'SANTIAGO DE CAO' 'CONTAMANA'
 'MIGUEL CHECA' 'TICLACAYAN' 'AYABACA' 'MARIANO DAMASO BERAUN' 'MONZON'
 'AMOTAPE' 'CANGALLO' 'HUARMACA' 'SINCOS' 'LAGUNAS' 'UCHIZA'
 'TAMBO GRANDE' 'DANIEL ALOMIAS ROBLES' 'COTARUSE' 'PANAO' 'SANTO DOMINGO'
 'TARACO' 'HUALLANCA' 'OCOBAMBA' 'CHINCHAO' 'TINYAHUARCO' 'HUARIACA'
 'MOHO' 'AUCARA' 'YANAHUANCA' 'PISUQUIA' 'SIMON BOLIVAR' 'CURAHUASI'
 'CHALHUANCA' 'TANTARICA' 'TAMARINDO' 'HUANCARAMA' 'HUACCANA'
 'NUEVA CAJAMARCA' 'ANDABAMBA' 'CAMPOVERDE' 'ALONSO DE ALVARADO'
 'HUAYLLAY' 'LAS PIRIAS' 'CHAUPIMARCA' 'GRANADA' 'PAJARILLO'
 'SAN ANTONIO DE CACHI' 'SONDORILLO' 'HUASAHUASI' 'HUAYOPATA' 'CABANILLAS'
 'ACOMAYO' 'TAPAIRIHUA' 'LAYO' 'YANTALO' 'HUACULLANI'
 'SANTA MARIA DEL MAR' 'SANTA ANA DE TUSI' 'SAN CLEMENTE' 'YANACANCHA'
 'FRIAS' 'PUNCHANA' 'KISHUARA' 'HUANCARAY' 'PILLCO MARCA' 'JESUS MARIA'
 'LABERINTO' 'PACOCHA' 'HUACHON' 'ANCAHUASI' 'SAN RAFAEL' 'LA UNION'
 'PISAC' 'SANTA ROSA DE QUIVES' 'SAN LUIS DE SHUARO' 'BARRANCA'
 'MARCAVELICA' 'PALCA' 'ORURILLO' 'CHUNGUI' 'SICCHEZ' 'LUCRE' 'MASISEA'
 'SANTA RITA DE SIGUAS' 'PAIMAS' 'RAMON CASTILLA' 'LOS MOROCHUCOS'
 'YAUYOS' 'LIRCAY' 'YAMANGO' 'PAMPACHIRI' 'CANARIA' 'LONYA GRANDE'
 'YANAHUARA' 'JOSE CRESPO Y CASTILLO' 'CHALLHUAHUACHO' 'MARANURA'
 'EL CARMEN' 'TAMBOBAMBA' 'CARAZ' 'ACOS VINCHOS' 'LEIMEBAMBA' 'UCO'
 'GROCIO PRADO' 'URACA' 'PAPAYAL' 'ACOS' 'MANCORA' 'ULCUMAYO' 'MAZAMARI'
 'QUIQUIJANA' 'MACHE' 'CIUDAD NUEVA' 'VEGUETA' 'URANMARCA' 'LAS LOMAS'
 'SAN JOSE DE LOS MOLINOS' 'SANTA TERESA' 'QUEROBAMBA' 'MOLLEBAYA'
 'PAUCARTAMBO' 'LAMAS' 'VICCO' 'LA PAMPA' 'MARISCAL CASTILLA'
 'MADRE DE DIOS' 'JILILI' 'CAJACAY' 'SALITRAL' 'SANTA CATALINA DE MOSSA'
 'HUACACHI' 'SANTA MARIA DE CHICMO' 'HUANCA' 'CCATCA' 'CHOLON' 'CHACOCHE'
 'HUANDO' 'CATACHE' 'GUADALUPITO' 'IBERIA' 'TARICA' 'COLCAMAR' 'SANDIA'
 'HUAYLAS' 'ZURITE' 'EL MUYO' 'SANTA MARIA DEL VALLE' 'IZCUCHACA'
 'SAN SALVADOR' 'VICHAYAL' 'COLQUIOC' 'PUTINA' 'LUYA VIEJO' 'HUABAL'
 'OLLANTAYTAMBO' 'YANATILE' 'CACHIMAYO' 'OMATE' 'TARAPOTO' 'RANRAHIRCA'
 'PALLASCA' 'JAZAN' 'CATAC' 'CHAZUTA' 'PAUCARBAMBA' 'CHAVINILLO'
 'HUAYTARA' 'SAN JACINTO' 'CONGALLA' 'TABACONAS' 'SAN JUAN DE TARUCANI'
 'LAS PIEDRAS' 'JAQUI' 'CAYLLOMA' 'PUERTO INCA' 'CAPACHICA' 'TINTAY'
 'SANCOS' 'TIQUILLACA' 'YANAMA' 'LAMPA' 'MASIN' 'PACHANGARA' 'VALERA'
 'LLAMELLIN' 'HUACAYBAMBA' 'PARIACOTO' 'YAUYA' 'GOYLLARISQUIZGA' 'PICOTA'
 'TUMAY HUARACA' 'EL MILAGRO' 'POMACANCHI' 'IÑAPARI' 'MAÑAZO' 'VELILLE'
 'PLATERIA' 'CARACOTO' 'OCONGATE' 'PICHACANI' 'CALZADA' 'AYAUCA' 'ACORA'
 'SHIPASBAMBA' 'IRAZOLA' 'PUERTO BERMUDEZ' 'SACANCHE' 'PADRE ABAD' 'HUATA'
 'SAN JOSE DE SISA' 'ALBERTO LEVEAU' 'COTAHUASI' 'RAYMONDI' 'TABALOSOS'
 'SHAPAJA' 'AZANGARO' 'PAMPAS DE HOSPITAL' 'HUANGASCAR' 'TAUCA'
 'HUACHOCOLPA' 'ILABAYA' 'MOSOC LLACTA' 'CHUCUITO' 'NESHUYA' 'ANANEA'
 'SAN MARCOS' 'ZEPITA' 'PAMPAS' 'MAGDALENA DE CAO' 'ASILLO'
 'SAN JUAN DE SIGUAS' 'AYAVIRI' 'SAN JUAN DE LA VIRGEN' 'SIVIA'
 'CHURUBAMBA' 'UNICACHI' 'SANTA LUCIA' 'QUINUA' 'PAUCARCOLLA' 'AGALLPAMPA'
 'HUAROCONDO' 'PACARAN' 'PAUCAR' 'JOSE DOMINGO CHOQUEHUANCA'
 'VILQUE CHICO' 'REQUENA' 'COPALLIN' 'LAJAS' 'SHILLA' 'SHUPLUY' 'SINSICAP'
 'VARGAS GUERRA' 'CUTURAPI' 'COPANI' 'QUILCA' 'CATILLUC' 'MACUSANI'
 'PAUCARA' 'CONIMA' 'HUANCANE' 'NUÑOA' 'BAJO BIAVO' 'CANOAS DE PUNTA SAL'
 'CASITAS' 'CHUQUIBAMBILLA' 'LLATA' 'SAN FRANCISCO DE ASIS DE YARUSYACAN'
 'A.VON.HUMBOLDT' 'CABANILLA' 'TURPO' 'POZUZO' 'CHUSCHI' 'MANU'
 'TINICACHI' 'ANTABAMBA' 'BALSAS' 'YAURISQUE' 'HUACRACHUCO' 'SAN ANTON'
 'LAMBRAMA' 'CORDOVA' 'YAMON' 'HUAMANGUILLA' 'POTONI' 'CURIBAYA'
 'ECHARATE' 'QUELLOUNO' 'AUCALLAMA' 'QUINISTAQUILLAS'
 'SAN MIGUEL DE EL FAIQUE' 'SAMAN' 'SIBAYO' 'SANTA ISABEL DE SIGUAS'
 'CASCAPARA' 'ARAPA' 'COCHARCAS' 'LA CRUZ' 'SOCOTA' 'INGUILPATA'
 'SAN ANTONIO DE CHUCA' 'RIO NEGRO' 'ZUÑIGA' 'OMIA' 'CHORAS' 'SALPO'
 'LALAQUIZ' 'INCAHUASI' 'ITE']
PROV_CIA [189 unique values]
['TRUJILLO' 'CALLAO' 'LIMA' 'CAMANA' 'ICA' 'SANTA' 'CHICLAYO' 'SAN ROMAN'
 'HUAURA' 'CAYLLOMA' 'MARISCAL NIETO' 'AREQUIPA' 'ABANCAY' 'LAMBAYEQUE'
 'ISLAY' 'CUSCO' 'HUANCAVELICA' 'PUNO' 'CAJAMARCA' 'PIURA' 'CAÑETE'
 'YAULI' 'TALARA' 'HUARAZ' 'ILO' 'SULLANA' 'TACNA' 'HUANCAYO' 'ZARUMILLA'
 'ASCOPE' 'EL COLLAO' 'CORONEL PORTILLO' 'SECHURA' 'CHINCHA' 'MORROPON'
 'CHUCUITO' 'CASMA' 'MAYNAS' 'ANTA' 'TUMBES' 'NAZCA' 'PISCO'
 'SANCHEZ CARRION' 'LORETO' 'OXAPAMPA' 'BARRANCA' 'YUNGAY' 'CONCEPCION'
 'JAUJA' 'CAJATAMBO' 'HUARMEY' 'HUAROCHIRI' 'PAITA' 'QUISPICANCHI'
 'HUARAL' 'CALCA' 'FERREÑAFE' 'PALPA' 'HUANCABAMBA' 'AIJA' 'JAEN'
 'SAN IGNACIO' 'TARMA' 'CARHUAZ' 'SANTA CRUZ' 'URUBAMBA' 'YUNGUYO'
 'MARISCAL RAMON CASTILLA' 'OTUZCO' 'BOLOGNESI' 'BAGUA' 'CHANCHAMAYO'
 'PATAZ' 'HUANUCO' 'CHUPACA' 'CASTILLA' 'PACASMAYO' 'AYABACA' 'SAN MIGUEL'
 'CHEPEN' 'RECUAY' 'JORGE BASADRE' 'SAN MARTIN' 'RODRIGUEZ DE MENDOZA'
 'LUYA' 'UTCUBAMBA' 'BONGARA' 'CHACHAPOYAS' 'HUARI' 'ASUNCION'
 'CONDORCANQUI' 'POMABAMBA' 'SIHUAS' 'CORONGO' 'PALLASCA'
 'MARISCAL LUZURIAGA' 'SANTIAGO DE CHUCO' 'VIRU' 'JULCAN' 'GRAN CHIMU'
 'SAN PABLO' 'CONTRALMIRANTE VILLAR' 'HUALGAYOC' 'CONTUMAZA' 'SAN MARCOS'
 'CAJABAMBA' 'CELENDIN' 'CHOTA' 'CUTERVO' 'TARATA' 'CANCHIS'
 'LA CONVENCION' 'ANDAHUAYLAS' 'CANAS' 'ESPINAR' 'CANTA' 'YAUYOS'
 'CARAVELI' 'PARURO' 'CONDESUYOS' 'OYON' 'HUAMANGA' 'LA MAR'
 'PAUCAR DEL SARA SARA' 'TOCACHE' 'PARINACOCHAS' 'VICTOR FAJARDO' 'HUANTA'
 'SATIPO' 'TAMBOPATA' 'LEONCIO PRADO' 'JUNIN' 'MARISCAL CACERES' 'RIOJA'
 'BELLAVISTA' 'HUALLAGA' 'MOYOBAMBA' 'COTABAMBAS' 'CHINCHEROS' 'ANTABAMBA'
 'GRAU' 'PAUCARTAMBO' 'LUCANAS' 'HUANCANE' 'ALTO AMAZONAS' 'OCROS' 'MANU'
 'AMBO' 'AYMARAES' 'PICOTA' 'UCAYALI' 'PASCO' 'HUAMALIES' 'CANGALLO'
 'PACHITEA' 'MOHO' 'CARLOS FERMIN FITZCARRALD' 'DANIEL ALCIDES CARRION'
 'LAMAS' 'ACOMAYO' 'MELGAR' 'ACOBAMBA' 'ANGARAES' 'CHUMBIVILCAS' 'HUAYLAS'
 'SUCRE' 'MARAÑON' 'TAHUAMANU' 'SANDIA' 'DOS DE MAYO'
 'SAN ANTONIO DE PUTINA' 'GENERAL SANCHEZ CERRO' 'CHURCAMPA' 'YAROWILCA'
 'HUAYTARA' 'PUERTO INCA' 'HUANCA SANCOS' 'LAMPA' 'ANTONIO RAYMONDI'
 'HUACAYBAMBA' 'PADRE ABAD' 'EL DORADO' 'LA UNION' 'ATALAYA' 'AZANGARO'
 'TAYACAJA' 'REQUENA' 'CARABAYA' 'CANDARAVE']
DERIVADA_FISCALIA [10 unique values]
['JUZGADO DE FAMILIA' 'OTROS' 'JUZGADO DE PAZ' 'UNIDAD PNP'
 'FISCALÍA PENAL' nan 'FISCALÍA DE FAMILIA' 'JUZGADO PENAL'
 'FISCALIA DE MEDIO AM' 'FISCALIA DE MEDIO AMBIENTE']
EDAD [232 unique values]
['32' '40' '28' '55' '21' '30' '25' '46' '35' '34' '41' '50' '26' '29'
 '44' '47' '22' '37' '54' '51' '42' '49' '19' '38' '20' '39' '36' '65'
 '56' '27' '24' '61' '23' '60' '53' '62' '48' '43' '18' '33' nan '31' '59'
 '52' '17' '70' '64' '69' '45' '75' '58' '57' '63' '76' '67' '68' '74'
 '77' '66' '82' '71' '16' '14' '72' '15' '111' '13' '78' '73' '5' '79'
 '81' '84' '85' '87' '526' '12' '80' '10' '83' '11' '86' '120' '94' '516'
 '90' '0' '115' '180' '89' '332' '220' '91' '88' '354' '536' '125' '118'
 '339' '96' '104' '617' '728' '93' '1' '276' '116' '92' '6' '113' '439'
 '415' '335' '170' '98' '9' '410' '545' '448' '340' '400' '331' '226'
 '252' '434' '97' '114' '119' '74.0' '45.0' '41.0' '38.0' '22.0' '57.0'
 '42.0' '32.0' '24.0' '19.0' '31.0' '27.0' '26.0' '44.0' '34.0' '37.0'
 '47.0' '21.0' '29.0' '30.0' '62.0' '63.0' '35.0' '28.0' '36.0' '48.0'
 '33.0' '67.0' '25.0' '43.0' '61.0' '39.0' '40.0' '23.0' '20.0' '54.0'
 '56.0' '55.0' '51.0' '50.0' '46.0' '52.0' '58.0' '66.0' '65.0' '18.0'
 '15.0' '17.0' '71.0' '60.0' '53.0' '49.0' '16.0' '69.0' '59.0' '75.0'
 '73.0' '68.0' '77.0' '72.0' '64.0' '76.0' '70.0' '14.0' '80.0' '87.0'
 '81.0' '79.0' '78.0' '85.0' '84.0' '86.0' '13.0' '10.0' '90.0' '12.0'
 '82.0' '516.0' '83.0' '11.0' '98.0' '434.0' '97.0' '114.0' '116.0' '88.0'
 '132.0' '119.0' '398.0' '115.0' '617.0' '89.0' '96.0' '92.0' '171.0'
 '627.0' '95.0' '9.0' '5.0' '0.0' '4.0' '93.0' '91.0' '1.0']
EST_CIVIL [7 unique values]
['CONVIVIENTE' 'SOLTERO(A)' 'CASADO(A)' 'NO INDICA' 'DIVORCIADO(A)'
 'VIUDO(A)' nan]
FEC_REGISTRO [185328 unique values]
['1/1/2016' '1/2/2016' '1/3/2016' ... '43829.6811222569'
 '43830.8064918981' '43808.304112581']
MODALIDAD [7 unique values]
['MALTRATO SIN LESION' 'VIOLENCIA PSICOLOGICA' 'VIOLENCIA FISICA'
 'VIOLENCIA FISICA Y PSICOLOGICA' 'VIOLENCIA ECONOMICA O PATRIMONIAL'
 'AMENAZA GRAVE' 'COACCION GRAVE']
NIVEL_EDUCATIVO [6 unique values]
[nan 'SECUNDARIA' 'PRIMARIA' 'TECNICA' 'SUPERIOR' 'SIN INSTRUCCION']
OCUPACION [6974 unique values]
[nan 'COMERCIANTE' 'EMPLEADO' ... 'EX POLICIA' 'CONTADOR EMPRESARIO'
 'AJENTE DE SEGURIDAD']
SEXO [3 unique values]
['M' 'F' nan]
SIT_PERSONA [1 unique values]
['DENUNCIADO']

##### Valores atípicos

###### Edad

In [12]:
# Llena los valores perdidos con 0
datalake['EDAD'] = datalake['EDAD'].fillna(0)
# Para convertir a int64 primero se convierte a float
datalake['EDAD'] = datalake['EDAD'].astype(float)
datalake['EDAD'] = datalake['EDAD'].astype(np.int64)

In [13]:
# Valores máximos y mínimos
print(datalake['EDAD'].min(), datalake['EDAD'].max())

0 728

In [14]:
# Vista ordenada de edades registradas
age_sorted = datalake.sort_values('EDAD')['EDAD']
print(age_sorted.head())
print(age_sorted.tail())
# Obtención de métricas
median = age_sorted.median()
mode = age_sorted.mode()[0]
print(f'Mediana: {median}')
print(f'Moda: {mode}')

790177    0
162763    0
63659     0
92007     0
323474    0
Name: EDAD, dtype: int64
408108    545
613740    617
176833    617
655314    627
179016    728
Name: EDAD, dtype: int64
Mediana: 34.0
Moda: 31

In [15]:
# Suplantamos los valores atípicos con la moda
min_age = 18
max_age = 75
datalake.loc[(datalake['EDAD'] < min_age) | (datalake['EDAD'] > max_age) | (datalake['EDAD'] == 0), 'EDAD'] = mode
# La columna EDAD ya no tiene valores perdidos

###### Fecha

In [16]:
import xlrd

# De fecha de excel (43677.4) a yyyy-mm-dd
def transformExcelDate(excelDate):
    dateISO = xlrd.xldate.xldate_as_datetime(float(excelDate), 0).date().isoformat()
    # print(dateISO, type(dateISO))
    return dateISO

In [17]:
# RegExp de fecha de excel
import re
excelDate = r'\d+(\.\d+)?'

In [18]:
# Función para estandarizar las fechas de los registros
def transformDate(date):
    try:
        if not pd.isna(date):
            if re.fullmatch(excelDate, date):
                return transformExcelDate(date)
            else:
                return pd.to_datetime(date).date().isoformat()
    except Exception as e:
        print(e, date)

In [19]:
datalake['FEC_REGISTRO'] = datalake['FEC_REGISTRO'].apply(transformDate)

In [20]:
# ¿Cómo llenar las fechas faltantes? las eliminamos :)
datalake = datalake.loc[datalake['FEC_REGISTRO'].isna() == False]
missing_values()

Número de registros: 406431
Valores perdidos: 725404
DERIVADA_FISCALIA: 68379 (16.82%)
EST_CIVIL: 7 (0.00%)
NIVEL_EDUCATIVO: 390328 (96.04%)
OCUPACION: 266447 (65.56%)
SEXO: 243 (0.06%)

In [21]:
show_types()

object
 ['DPTO_CIA', 'DIST_CIA', 'PROV_CIA', 'DERIVADA_FISCALIA', 'EST_CIVIL', 'FEC_REGISTRO', 'MODALIDAD', 'NIVEL_EDUCATIVO', 'OCUPACION', 'SEXO', 'SIT_PERSONA']
int64
 ['EDAD']

#### Completando valores perdidos en atributos categóricos

In [22]:
def fill_equally(col):
    datalake[col] = datalake[col].fillna(pd.Series(np.random.choice(datalake[col].dropna().unique(), size=datalake.shape[0])))

In [23]:
fill_equally('NIVEL_EDUCATIVO')
fill_equally('OCUPACION')
fill_equally('DERIVADA_FISCALIA')

In [24]:
datalake.reset_index(drop=True, inplace=True)
print(datalake.head())
print(datalake.tail())
print(missing_values())

      DPTO_CIA              DIST_CIA  PROV_CIA   DERIVADA_FISCALIA  EDAD  \
0  LA LIBERTAD             HUANCHACO  TRUJILLO  JUZGADO DE FAMILIA    32
1       CALLAO                CALLAO    CALLAO  JUZGADO DE FAMILIA    40
2         LIMA  LURIGANCHO - CHOSICA      LIMA               OTROS    28
3     AREQUIPA                 OCOÑA    CAMANA               OTROS    55
4          ICA               PARCONA       ICA  JUZGADO DE FAMILIA    21

     EST_CIVIL FEC_REGISTRO              MODALIDAD NIVEL_EDUCATIVO  \
0  CONVIVIENTE   2016-01-01    MALTRATO SIN LESION        SUPERIOR
1   SOLTERO(A)   2016-01-02    MALTRATO SIN LESION      SECUNDARIA
2  CONVIVIENTE   2016-01-03    MALTRATO SIN LESION      SECUNDARIA
3   SOLTERO(A)   2016-01-03  VIOLENCIA PSICOLOGICA        PRIMARIA
4   SOLTERO(A)   2016-01-04       VIOLENCIA FISICA      SECUNDARIA

             OCUPACION SEXO SIT_PERSONA
0        TECNICO DE EP    M  DENUNCIADO
1          CESANTE PNP    M  DENUNCIADO
2             JIBILADO    F  DENUNCIADO
3  OPERADOR DE MONTAJE    M  DENUNCIADO
4               BARMAT    F  DENUNCIADO
       DPTO_CIA DIST_CIA PROV_CIA   DERIVADA_FISCALIA  EDAD   EST_CIVIL  \
406426    TACNA    TACNA    TACNA  JUZGADO DE FAMILIA    56  SOLTERO(A)
406427    TACNA    TACNA    TACNA               OTROS    59  SOLTERO(A)
406428    TACNA    TACNA    TACNA                 NaN    30  SOLTERO(A)
406429    TACNA    TACNA    TACNA               OTROS    22  SOLTERO(A)
406430    TACNA   TARATA   TARATA  JUZGADO DE FAMILIA    38  SOLTERO(A)

       FEC_REGISTRO              MODALIDAD NIVEL_EDUCATIVO      OCUPACION  \
406426   2019-12-22  VIOLENCIA PSICOLOGICA             NaN  INDEPENDIENTE
406427   2019-12-26  VIOLENCIA PSICOLOGICA             NaN            NaN
406428   2019-12-30  VIOLENCIA PSICOLOGICA             NaN  ADMINISTRADOR
406429   2019-12-31  VIOLENCIA PSICOLOGICA             NaN     ESTUDIANTE
406430   2019-12-09       VIOLENCIA FISICA             NaN            NaN

       SEXO SIT_PERSONA
406426    M  DENUNCIADO
406427    M  DENUNCIADO
406428    M  DENUNCIADO
406429    M  DENUNCIADO
406430    M  DENUNCIADO
Número de registros: 406431
Valores perdidos: 436600
DERIVADA_FISCALIA: 61579 (15.15%)
EST_CIVIL: 7 (0.00%)
NIVEL_EDUCATIVO: 221234 (54.43%)
OCUPACION: 153537 (37.78%)
SEXO: 243 (0.06%)
None

In [25]:
# Se llena el resto de los valores perdidos con la moda
for c in object_columns:
    mode = datalake[c].mode()[0]
    datalake[c] = datalake[c].fillna(mode)
missing_values()

Número de registros: 406431
Valores perdidos: 0

##### Separando fecha en año, mes, día y día de la semana

In [30]:
datalake['FEC_REGISTRO_ANIO'] = datalake['FEC_REGISTRO'].apply(lambda x: int(x[:4]))
datalake['FEC_REGISTRO_MES'] = datalake['FEC_REGISTRO'].apply(lambda x: int(x[5:7]))
datalake['FEC_REGISTRO_DIA'] = datalake['FEC_REGISTRO'].apply(lambda x: int(x[8:]))
datalake['FEC_REGISTRO_DIA_SEM'] = datalake['FEC_REGISTRO'].apply(lambda x: pd.to_datetime(x).weekday())

In [31]:
datalake.head()

,DPTO_CIA,DIST_CIA,PROV_CIA,DERIVADA_FISCALIA,EDAD,EST_CIVIL,FEC_REGISTRO,MODALIDAD,NIVEL_EDUCATIVO,OCUPACION,SEXO,SIT_PERSONA,FEC_REGISTRO_ANIO,FEC_REGISTRO_MES,FEC_REGISTRO_DIA,FEC_REGISTRO_DIA_SEM
0,LA LIBERTAD,HUANCHACO,TRUJILLO,JUZGADO DE FAMILIA,32,CONVIVIENTE,2016-01-01,MALTRATO SIN LESION,SUPERIOR,TECNICO DE EP,M,DENUNCIADO,2016,1,1,4
1,CALLAO,CALLAO,CALLAO,JUZGADO DE FAMILIA,40,SOLTERO(A),2016-01-02,MALTRATO SIN LESION,SECUNDARIA,CESANTE PNP,M,DENUNCIADO,2016,1,2,5
2,LIMA,LURIGANCHO - CHOSICA,LIMA,OTROS,28,CONVIVIENTE,2016-01-03,MALTRATO SIN LESION,SECUNDARIA,JIBILADO,F,DENUNCIADO,2016,1,3,6
3,AREQUIPA,OCOÑA,CAMANA,OTROS,55,SOLTERO(A),2016-01-03,VIOLENCIA PSICOLOGICA,PRIMARIA,OPERADOR DE MONTAJE,M,DENUNCIADO,2016,1,3,6
4,ICA,PARCONA,ICA,JUZGADO DE FAMILIA,21,SOLTERO(A),2016-01-04,VIOLENCIA FISICA,SECUNDARIA,BARMAT,F,DENUNCIADO,2016,1,4,0

#### Transformación de atributos categóricos a numéricos

In [34]:
datalake.drop(['FEC_REGISTRO'], axis=1, inplace=True)
print(datalake.info())
print(show_types())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406431 entries, 0 to 406430
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   DPTO_CIA              406431 non-null  object
 1   DIST_CIA              406431 non-null  object
 2   PROV_CIA              406431 non-null  object
 3   DERIVADA_FISCALIA     406431 non-null  object
 4   EDAD                  406431 non-null  int64
 5   EST_CIVIL             406431 non-null  object
 6   MODALIDAD             406431 non-null  object
 7   NIVEL_EDUCATIVO       406431 non-null  object
 8   OCUPACION             406431 non-null  object
 9   SEXO                  406431 non-null  object
 10  SIT_PERSONA           406431 non-null  object
 11  FEC_REGISTRO_ANIO     406431 non-null  int64
 12  FEC_REGISTRO_MES      406431 non-null  int64
 13  FEC_REGISTRO_DIA      406431 non-null  int64
 14  FEC_REGISTRO_DIA_SEM  406431 non-null  int64
dtypes: int64(5), object(10)
memory usage: 46.5+ MB
None
object
 ['DPTO_CIA', 'DIST_CIA', 'PROV_CIA', 'DERIVADA_FISCALIA', 'EST_CIVIL', 'MODALIDAD', 'NIVEL_EDUCATIVO', 'OCUPACION', 'SEXO', 'SIT_PERSONA']
int64
 ['EDAD', 'FEC_REGISTRO_ANIO', 'FEC_REGISTRO_MES', 'FEC_REGISTRO_DIA', 'FEC_REGISTRO_DIA_SEM']
None

In [37]:
def factorize(col):
    datalake[col] = pd.factorize(datalake[col])[0]
for col in object_columns:
    factorize(col)

In [40]:
show_types()

object
 []
int64
 ['DPTO_CIA', 'DIST_CIA', 'PROV_CIA', 'DERIVADA_FISCALIA', 'EDAD', 'EST_CIVIL', 'MODALIDAD', 'NIVEL_EDUCATIVO', 'OCUPACION', 'SEXO', 'SIT_PERSONA', 'FEC_REGISTRO_ANIO', 'FEC_REGISTRO_MES', 'FEC_REGISTRO_DIA', 'FEC_REGISTRO_DIA_SEM']

In [42]:
datalake.to_csv('./datalake/datalake_preprocessed.csv', index=False)