In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('../dataset/dataset_final.csv', header=0, low_memory=False)

In [3]:
dataset.head()

   EDAD  DIST_HECHO  COMISARIA  MODALIDAD
0    32         453        371          2
1    40         130        311          2
2    28         651        431          2
3    55         772        598          6
4    21         847        664          4

In [4]:
dataset['MODALIDAD'].value_counts()

6    177852
5    155965
4     64114
3      6900
2      1453
0       104
1        43
Name: MODALIDAD, dtype: int64

In [5]:
X = dataset.drop(['MODALIDAD'], axis=1)
y = dataset['MODALIDAD']

### Balancear los valores de la variable objetivo

In [6]:
from imblearn.over_sampling import SMOTE
X, y = SMOTE().fit_sample(X, y)

In [7]:
y.value_counts()

2    177852
6    177852
4    177852
5    177852
3    177852
0    177852
1    177852
Name: MODALIDAD, dtype: int64

### Separar los datos en entrenamiento y prueba

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

### Escalamiento

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion='entropy', random_state=0)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [11]:
y_pred = classifier.predict(X_test)
pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted      0      1      2      3      4      5      6     All
True
0          52880    203    160    180     68     88     58   53637
1             74  53139     66     38    120     46     34   53517
2            394    200  48365   1342   1523    894    761   53479
3            503    104   3228  35594   6453   4231   3391   53504
4            703    316   3647   9471  26945   6890   5220   53192
5            594    169   3444   9495  10690  19630   9186   53208
6            721    194   3865  10048  12334  13340  12451   52953
All        55869  54325  62775  66168  58133  45119  31101  373490

In [12]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.99      0.97     53637
           1       0.98      0.99      0.99     53517
           2       0.77      0.90      0.83     53479
           3       0.54      0.67      0.59     53504
           4       0.46      0.51      0.48     53192
           5       0.44      0.37      0.40     53208
           6       0.40      0.24      0.30     52953

    accuracy                           0.67    373490
   macro avg       0.65      0.67      0.65    373490
weighted avg       0.65      0.67      0.65    373490