In [4]:
import pandas as pd

In [5]:
dataset = pd.read_csv('../dataset/dataset_final.csv', header=0, low_memory=False)

In [6]:
dataset.head()

   EDAD  DIST_HECHO  COMISARIA  DIST_CIA  MODALIDAD
0    32         453        371       252          2
1    40         130        311        78          2
2    28         651        431       376          2
3    55         772        598       450          6
4    21         847        664       496          4

In [7]:
X = dataset.drop(['MODALIDAD'], axis=1)
y = dataset['MODALIDAD']

In [8]:
from imblearn.over_sampling import SMOTE
X, y = SMOTE().fit_resample(X, y)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

In [10]:
# training a KNN classifier
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 7).fit(X_train, y_train)

In [11]:
accuracy = knn.score(X_test, y_test)
print(accuracy)

0.6552510755331078

In [12]:
from sklearn.metrics import confusion_matrix

In [13]:
y_pred = knn.predict(X_test)
pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted      0      1      2      3      4      5      6     All
True
0          44095    271     88    100     38     19     41   44652
1            111  44386     20     27     59     11      8   44622
2            273    177  39982   1183   1311    789    744   44459
3            474    101   2581  28393   5475   3987   3701   44712
4            530    240   3176   8117  20819   6035   5485   44402
5            503    143   3069   8178   8810  15122   8590   44415
6            611    159   3259   8544   9636  10626  11144   43979
All        46597  45477  52175  54542  46148  36589  29713  311241

In [14]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.99      0.97     44652
           1       0.98      0.99      0.99     44622
           2       0.77      0.90      0.83     44459
           3       0.52      0.64      0.57     44712
           4       0.45      0.47      0.46     44402
           5       0.41      0.34      0.37     44415
           6       0.38      0.25      0.30     43979

    accuracy                           0.66    311241
   macro avg       0.64      0.65      0.64    311241
weighted avg       0.64      0.66      0.64    311241