In [21]:
import pandas as pd

In [22]:
dataset = pd.read_csv('/content/dataset_final.csv', header=0, low_memory=False)

In [23]:
dataset.head()

   EDAD  DIST_HECHO  COMISARIA  MODALIDAD
0    32         453        371          2
1    40         130        311          2
2    28         651        431          2
3    55         772        598          6
4    21         847        664          4

In [24]:
X = dataset.drop(['MODALIDAD'], axis=1)
y = dataset['MODALIDAD']

In [25]:
from imblearn.over_sampling import SMOTE
X, y = SMOTE().fit_resample(X, y)

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

In [27]:
# training a KNN classifier
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 7).fit(X_train, y_train)

In [29]:
accuracy = knn.score(X_test, y_test)
print(accuracy)

0.6436266430193965

In [31]:
from sklearn.metrics import confusion_matrix

In [34]:
y_pred = knn.predict(X_test)
pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted      0      1      2      3      4      5      6     All
True
0          43807    248    169    171    153     59     45   44652
1             52  44319     39     47     70     73     22   44622
2            462    278  39205   1317   1433    906    858   44459
3            532    147   3025  27709   5707   3988   3604   44712
4            634    397   3413   8353  19888   6185   5532   44402
5            629    300   3288   8304   8903  14683   8308   44415
6            721    300   3575   8677   9499  10495  10712   43979
All        46837  45989  52714  54578  45653  36389  29081  311241

In [35]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.94      0.98      0.96     44652
           1       0.96      0.99      0.98     44622
           2       0.74      0.88      0.81     44459
           3       0.51      0.62      0.56     44712
           4       0.44      0.45      0.44     44402
           5       0.40      0.33      0.36     44415
           6       0.37      0.24      0.29     43979

    accuracy                           0.64    311241
   macro avg       0.62      0.64      0.63    311241
weighted avg       0.62      0.64      0.63    311241