In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('../dataset/dataset_final.csv', header=0, low_memory=False)

In [3]:
dataset.head()

   EDAD  DIST_HECHO  COMISARIA  MODALIDAD
0    32         453        371          2
1    40         130        311          2
2    28         651        431          2
3    55         772        598          6
4    21         847        664          4

In [4]:
dataset['MODALIDAD'].value_counts()

6    177852
5    155965
4     64114
3      6900
2      1453
0       104
1        43
Name: MODALIDAD, dtype: int64

In [5]:
X = dataset.drop(['MODALIDAD'], axis=1)
y = dataset['MODALIDAD']

### Balancear los valores de la variable objetivo

In [6]:
from imblearn.over_sampling import SMOTE
X, y = SMOTE().fit_sample(X, y)

In [7]:
y.value_counts()

2    177852
6    177852
4    177852
5    177852
3    177852
0    177852
1    177852
Name: MODALIDAD, dtype: int64

### Separar los datos en entrenamiento y prueba

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

### Escalamiento

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [14]:
from sklearn.neural_network import MLPClassifier
classifier = MLPClassifier(random_state=0, max_iter=1000)
classifier.fit(X_train, y_train)

MLPClassifier(max_iter=1000, random_state=0)

In [15]:
y_pred = classifier.predict(X_test)
pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted      0      1      2      3      4      5      6     All
True
0          45691   3515   2588    480   1249     26     88   53637
1           1924  47831   2128    414    913    132    175   53517
2           5228   4736  32343   2829   4298    884   3161   53479
3           4093   5978  13017  10750  10786   2427   6453   53504
4           4748   6398  12936   6025  15485   2708   4892   53192
5           4622   7100  14477   7263   9316   4304   6126   53208
6           5078   6493  14392   6705   8380   2638   9267   52953
All        71384  82051  91881  34466  50427  13119  30162  373490

In [16]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.64      0.85      0.73     53637
           1       0.58      0.89      0.71     53517
           2       0.35      0.60      0.45     53479
           3       0.31      0.20      0.24     53504
           4       0.31      0.29      0.30     53192
           5       0.33      0.08      0.13     53208
           6       0.31      0.18      0.22     52953

    accuracy                           0.44    373490
   macro avg       0.40      0.44      0.40    373490
weighted avg       0.40      0.44      0.40    373490