In [8]:
import pandas as pd
import numpy as np

In [9]:
dataset = pd.read_csv('../dataset/dataset_final.csv', header=0, low_memory=False)

In [10]:
dataset.head()

   EDAD  DIST_HECHO  COMISARIA  MODALIDAD
0    32         453        371          2
1    40         130        311          2
2    28         651        431          2
3    55         772        598          6
4    21         847        664          4

In [11]:
dataset['MODALIDAD'].value_counts()

6    177852
5    155965
4     64114
3      6900
2      1453
0       104
1        43
Name: MODALIDAD, dtype: int64

In [12]:
X = dataset.drop(['MODALIDAD'], axis=1)
y = dataset['MODALIDAD']

### Balancear los valores de la variable objetivo

In [13]:
from imblearn.over_sampling import SMOTE
X, y = SMOTE().fit_sample(X, y)

In [15]:
y.value_counts()

2    177852
6    177852
4    177852
5    177852
3    177852
0    177852
1    177852
Name: MODALIDAD, dtype: int64

### Separar los datos en entrenamiento y prueba

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Escalamiento

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [18]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=100, criterion='entropy', random_state=0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', random_state=0)

In [22]:
y_pred = classifier.predict(X_test)
pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted      0      1      2      3      4      5      6     All
True
0          35180    131     82    144     62     43     44   35686
1             50  35433     41     38     40     24     20   35646
2            222    134  32036    964   1082    611    565   35614
3            322     59   1927  23306   4451   2799   2394   35258
4            467    205   2376   6144  17903   4657   3947   35699
5            383    134   2357   6038   6714  12951   6916   35493
6            454    152   2499   6473   7907   8588   9524   35597
All        37078  36248  41318  43107  38159  29673  23410  248993

In [24]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.99      0.97     35686
           1       0.98      0.99      0.99     35646
           2       0.78      0.90      0.83     35614
           3       0.54      0.66      0.59     35258
           4       0.47      0.50      0.48     35699
           5       0.44      0.36      0.40     35493
           6       0.41      0.27      0.32     35597

    accuracy                           0.67    248993
   macro avg       0.65      0.67      0.66    248993
weighted avg       0.65      0.67      0.66    248993