In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('../dataset/dataset_final.csv', header=0, low_memory=False)

In [3]:
dataset.head()

   EDAD  DIST_HECHO  COMISARIA  DIST_CIA  MODALIDAD
0    32         453        371       252          2
1    40         130        311        78          2
2    28         651        431       376          2
3    55         772        598       450          6
4    21         847        664       496          4

In [4]:
dataset['MODALIDAD'].value_counts()

6    177852
5    155965
4     64114
3      6900
2      1453
0       104
1        43
Name: MODALIDAD, dtype: int64

In [5]:
X = dataset.drop(['MODALIDAD'], axis=1)
y = dataset['MODALIDAD']

### Balancear los valores de la variable objetivo

In [6]:
from imblearn.over_sampling import SMOTE
X, y = SMOTE().fit_sample(X, y)

In [7]:
y.value_counts()

2    177852
6    177852
4    177852
5    177852
3    177852
0    177852
1    177852
Name: MODALIDAD, dtype: int64

### Separar los datos en entrenamiento y prueba

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

### Escalamiento

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=100, criterion='entropy', random_state=0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', random_state=0)

In [11]:
y_pred = classifier.predict(X_test)
pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted      0      1      2      3      4      5      6     All
True
0          53090    261     57    115     28     44     42   53637
1            129  53252     21     26     52     25     12   53517
2            194    106  49077   1043   1455    853    751   53479
3            504     63   2795  35981   6241   4105   3815   53504
4            606    265   3577   8591  26953   7198   6002   53192
5            499    101   3074   8691  10037  19903  10903   53208
6            614    119   3414   9259  11531  13418  14598   52953
All        55636  54167  62015  63706  56297  45546  36123  373490

In [12]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.99      0.97     53637
           1       0.98      1.00      0.99     53517
           2       0.79      0.92      0.85     53479
           3       0.56      0.67      0.61     53504
           4       0.48      0.51      0.49     53192
           5       0.44      0.37      0.40     53208
           6       0.40      0.28      0.33     52953

    accuracy                           0.68    373490
   macro avg       0.66      0.68      0.66    373490
weighted avg       0.66      0.68      0.66    373490